<div class = 'card-sp first-left-block'>
  <div class = 'block-title'>
    <a>Публиковали сегодня</a>
  </div>
  <div class = 'block-objects'>
      <div class = 'preview-object'>
          <div class = "preview-object-avatar-mini" style="background: url(https://pp.vk.me/c628621/v628621124/b7e8/4f4k-zbBBKI.jpg
          ) no-repeat; background-size: cover;">
          </div>
          <div class="preview-object-info-mini">
            <div class = 'object-text'>
              <div class = 'object-maintext'><a>Никитин Макс</a></div>
              <div class = 'object-subtext'>Преподаватель</div>
            </div>
          </div>
      </div>
      <div class = 'clearboth'>
      </div>
  </div>
  <div class = 'block-objects'>
      <div class = 'preview-object'>
          <div class = "preview-object-avatar-mini" style="background: url(https://pp.vk.me/c628621/v628621124/b7e8/4f4k-zbBBKI.jpg
          ) no-repeat; background-size: cover;">
          </div>
          <div class="preview-object-info-mini">
            <div class = 'object-text'>
              <div class = 'object-maintext'><a>Никитин Макс</a></div>
              <div class = 'object-subtext'>Преподаватель</div>
            </div>
          </div>
      </div>
      <div class = 'clearboth'>
      </div>
  </div>
  <div class = 'block-objects'>
      <div class = 'preview-object'>
          <div class = "preview-object-avatar-mini" style="background: url(https://pp.vk.me/c628621/v628621124/b7e8/4f4k-zbBBKI.jpg
          ) no-repeat; background-size: cover;">
          </div>
          <div class="preview-object-info-mini">
            <div class = 'object-text'>
              <div class = 'object-maintext'><a>Никитин Макс</a></div>
              <div class = 'object-subtext'>Преподаватель</div>
            </div>
          </div>
      </div>
      <div class = 'clearboth'>
      </div>
  </div>
  <div class = 'block-objects'>
      <div class = 'preview-object'>
          <div class = "preview-object-avatar-mini" style="background: url(https://pp.vk.me/c628621/v628621124/b7e8/4f4k-zbBBKI.jpg
          ) no-repeat; background-size: cover;">
          </div>
          <div class="preview-object-info-mini">
            <div class = 'object-text'>
              <div class = 'object-maintext'><a>Никитин Макс</a></div>
              <div class = 'object-subtext'>Преподаватель</div>
            </div>
          </div>
      </div>
      <div class = 'clearboth'>
      </div>
  </div>
  <div class = 'block-objects'>
      <div class = 'preview-object'>
          <div class = "preview-object-avatar-mini" style="background: url(https://pp.vk.me/c628621/v628621124/b7e8/4f4k-zbBBKI.jpg
          ) no-repeat; background-size: cover;">
          </div>
          <div class="preview-object-info-mini">
            <div class = 'object-text'>
              <div class = 'object-maintext'><a>Никитин Макс</a></div>
              <div class = 'object-subtext'>Преподаватель</div>
            </div>
          </div>
      </div>
      <div class = 'clearboth'>
      </div>
  </div>
</div>