<div id = "feed-left-branch">
  <%= link_to user_path(current_user) do %>
  <div class = "border-t-radius" id = 'feed-card-user'>
    <div class = 'card-sp'>
      <div class = 'feed-profile-background'>
     <div class = "feed-profile-avatar" style="background: url(
     <%= current_user.avatar.url %>) no-repeat; background-size: cover;">
      </div>
      <div class = "feed-profile-name-email">
        <div class = "feed-profile-name"><%= current_user.name %></div>
        <div class = "feed-profile-email"><%= current_user.email %></div>
      </div>
    </div>
    </div>
     <!-- <div class = "feed-profile-background border-t-radius" style="background: url(&quot;http://studpad.ru/backgrounds/max.jpg&quot;); background-size: cover;">
     </div>
      <div class = "feed-profile-avatar" style="background: url(&quot;https://pp.vk.me/c619119/v619119124/20d48/8VawtpothuE.jpg&quot;) no-repeat; background-size: cover;">
      </div>
      <div class = "feed-profile-name">
        Никитин Макс
      </div> -->
  </div>
  <% end %>
</div>

<style>

</style>
