<div class = 'card-sp'>
  <div class = 'block-title'>
    <a>Актуальное</a>
  </div>
  <div class = 'block-objects tags-feed'>
    <p class="tags-sp">
      <span>#Анджелина Джоли</span></br>
      <span>#Сказки на ночь</span></br>
      <span>#Едем на геледвагене</span></br>
      <span>#НовыйГод</span></br>
      <span>#Awesome Ties</span>
    </p>
  </div>
</div>
