<div class="modal fade" id = "modal-show-post" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-show-post">
    <div class="modal-content">
      <div class="modal-header">
        <div class='post-autor'>
          <a>
            <div class="usual-avatar" style="background:url(http://studpad.ru/uploads/teacher/avatar/1320/b3d63d8e83.jpg) no-repeat;background-size:cover;">
            </div>
            <div class='post-autor-info'>
              <h4 class="modal-title" id="myModalLabel">Никитин Макс</h4>
              <div>Москва, 1 марта 2016</div>
            </div>
          </a>
        </div>
      </div>
      <div class="modal-body">
        <div class='modal-post-content'>
          <div class='media-content'>
            <img src='https://cs7061.vk.me/c540108/v540108537/18b2b/SqW6tX1Rh18.jpg' />
          </div>
          <div class='media-content'>
            
            <div class="post-type-link extra-background">
              <div class="post-type-link-img">
                <div class="usual-post-photo action-create-element-post">
                  <img src="https://pbs.twimg.com/profile_images/651386816600276993/5E6-28L8_400x400.png">
                </div>
              </div>
              <div class="post-type-link-adress">
                <header class="post-type-link-title">ЮниКредит Банк (@unicreditrussia) | Твиттер</header>
                <div class="post-type-link-description">
                  Последние твиты от ЮниКредит Банк (@unicreditrussia). Официальный Твиттер-канал ЮниКредит Банка. Москва, Россия
                </div>
                <div class="post-type-link-link">
                  <span class="decor-type-link-link" >twitter.com</span>
                </div>
              </div>
            </div>
          </div>
          <div class='text-content'>
            Это развалины древнегреческого города, здесь когда-то в этом старинном амфитеатре собиралась греческая знать. Мы были там во время реставрации, поэтому на фото видны строительные леса)
          </div>
          <div class='comment'>
            <div class='write-comment'>
              <a class="emoji-button" title="&amp;#9786;">☺</a>
              <div class="emoji-wysiwyg-editor" contenteditable="true" placeholder="Введите комментарий и нажмите Enter"></div>
            </div>
            <div class="post-comments">
              <div class="unit-post-comments">
                <div class="preview-object">
                  <div class="preview-object-avatar-comment" style="background:url(https://pp.vk.me/c630725/v630725581/15a68/_K_ZaXrain0.jpg) no-repeat;background-size:cover;"></div>
                  <div class="preview-object-info-mini">
                    <div class="object-text">
                      <div class="object-maintext">
                        <a href="/users/2">YES</a>
                        <span class="post-autor-data">
                          <span> • </span>
                          <span> 1 марта</span>
                        </span>
                        <span>
                          <span class="sign-dots-menu action-angle" data-toggle="dropdown">•••</span>
                          <ul class="dropdown-menu" role="menu">
                            <li>
                              <a>Редактировать</a>
                            </li>
                            <li>
                              <a>Удалить</a>
                            </li>
                          </ul>
                        </span>
                      </div>
                      <div class="text-unit-post-comments emoji-wysiwyg-editor">как Вам такая идея?</div>
                    </div>
                  </div>
                  <div class="clearboth"></div>
                </div>
              </div>

              <div class="unit-post-comments">
                <div class="preview-object">
                  <div class="preview-object-avatar-comment" style="background:url(https://pp.vk.me/c630827/v630827402/19b76/UL_MC3flPVs.jpg) no-repeat;background-size:cover;"></div>
                  <div class="preview-object-info-mini">
                    <div class="object-text">
                      <div class="object-maintext">
                        <a href="/users/2">YES</a>
                        <span class="post-autor-data">
                          <span> • </span>
                          <span> 1 марта</span>
                        </span>
                        <span>
                          <span class="sign-dots-menu action-angle" data-toggle="dropdown">•••</span>
                          <ul class="dropdown-menu" role="menu">
                            <li>
                              <a>Редактировать</a>
                            </li>
                            <li>
                              <a>Удалить</a>
                            </li>
                          </ul>
                        </span>
                      </div>
                      <div class="text-unit-post-comments emoji-wysiwyg-editor">Это самая потрясающая идея</div>
                    </div>
                  </div>
                  <div class="clearboth"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='modal-atributes'>
          <div class='likes-and-views'>
            <ul>
              <li class='likes'>
                <img src='/images/like_grey.png' /> <span>341</span>
              </li>
              <li class='views'>
                <img src='/images/views.png' /> <span>74563</span>
              </li>
            </ul>
          </div>
          <div class='modal-tags'>
            <h4>Теги</h4>
            <p class="tags-sp">
              <a href="/explore?tag_name=женская мода">#женская мода</a>
              <a href="/explore?tag_name=бенефит косметика">#бенефит косметика</a>
              <a href="/explore?tag_name=urban decay smoky">#urban decay smoky</a>
              <a href="/explore?tag_name=urban decay naked">#urban decay naked</a>
              <a href="/explore?tag_name=urban decay">#urban decay</a>
              <a href="/explore?tag_name=фуллипс">#фуллипс</a>
            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
