<div class='title-explore'>
  <%= @tag_name %>
</div>
<div id="grid-gallery" class="grid-gallery">
  <div id='demo'>
  <% unless  !@tag && params[:tag_name] %>
    <%= react_component 'Gallery', posts_url: @posts_path %>
  <% end %>
  </div>
</div>

