<div id="grid-gallery" class="grid-gallery">
  <section class="grid-wrap">
    <ul class="grid">
      <li class="grid-sizer"></li><!-- for Masonry column width -->
      <li>
        <figure>
          <img class='border-radius-top' src="http://studpad.ru/uploads/text_element/image/3617/55a8b41bb2d4e.jpg"/>
          <figcaption class='border-b-radius'>
            <p class='text'>Laborum tattooed iPhone, Schlitz irure nulla Tonx retro 90's chia cardigan quis asymmetrical paleo.</p>
            <p class='tags-sp'><span>#studpad</span> <span>#йога</span> <span>#друг</span></p>
            <footer>
              <div class="autor-explore">
                  <div class="avatar" style="background: url(
                  https://pp.vk.me/c622925/v622925106/2f6f6/Q4Ds1TD42kM.jpg
                  ) no-repeat; background-size: cover;">
                  </div>
                  <div class="info">
                    <a href="/users/2">Никитина Елена Сергеевна</a>
                  </div>
              </div>
              <div class='delicious-like'>
                <div>
                  <span>
                    <img ref='delicious_tooltip' title='Сохранить себе' data-toggle="tooltip" data-placement="top" src='images/delicious.png' />
                    <span>
                      5
                    </span>
                  </span>
                  <span>
                    <img ref='delicious_tooltip' title='Сохранить себе' data-toggle="tooltip" data-placement="top" src='images/like.png' />
                    <span>
                      5
                    </span>
                  </span>
                </div>
              </div>
            </footer>
            <div class='clearboth'>
            </div>
          </figcaption>
        </figure>
      </li>
    </ul>
  </section><!-- // grid-wrap -->
  <section class="slideshow">
    <ul>
      <li>
        <figure>
          <figcaption>
            <h3>Letterpress asymmetrical</h3>
            <p>Kale chips lomo biodiesel stumptown Godard Tumblr, mustache sriracha tattooed cray aute slow-carb placeat delectus. Letterpress asymmetrical fanny pack art party est pour-over skateboard anim quis, ullamco craft beer.</p>
          </figcaption>
          <img src="https://cs7055.vk.me/c540103/v540103457/361e0/UefhpUEIXfk.jpg" alt="img01"/>
        </figure>
      </li>
      <li>
        <figure>
          <figcaption>
            <h3>Vice velit chia</h3>
            <p>Chillwave Echo Park Etsy organic Cosby sweater seitan authentic pour-over. Occupy wolf selvage bespoke tattooed, cred sustainable Odd Future hashtag butcher.</p>
          </figcaption>
          <img src="https://cs7055.vk.me/c540103/v540103457/361e0/UefhpUEIXfk.jpg" alt="img02"/>
        </figure>
      </li>
      <li>
        <figure>
          <figcaption>
            <h3>Brunch semiotics</h3>
            <p>IPhone PBR polaroid before they sold out meh you probably haven't heard of them leggings tattooed tote bag, butcher paleo next level single-origin coffee photo booth.</p>
          </figcaption>
          <img src="https://cs7055.vk.me/c540103/v540103457/361e0/UefhpUEIXfk.jpg" alt="img03"/>
        </figure>
      </li>
      <li>
        <figure>
          <figcaption>
            <h3>Chillwave nihil occupy</h3>
            <p>Vice cliche locavore mumblecore vegan wayfarers asymmetrical letterpress hoodie mustache. Shabby chic lomo polaroid, scenester 8-bit Portland Pitchfork VHS tote bag.</p>
          </figcaption>
          <img src="https://cs7055.vk.me/c540103/v540103457/361e0/UefhpUEIXfk.jpg" alt="img04"/>
        </figure>
      </li>
      <li>
        <figure>
          <figcaption>
            <h3>Kale chips lomo biodiesel</h3>
            <p>Chambray Schlitz pug YOLO, PBR Tumblr semiotics. Flexitarian YOLO ennui Blue Bottle, forage dreamcatcher chillwave put a bird on it craft beer Etsy.</p>
          </figcaption>
          <img src="https://cs7055.vk.me/c540103/v540103457/361e0/UefhpUEIXfk.jpg" alt="img05"/>
        </figure>
      </li>
      <li>
        <figure>
          <figcaption>
            <h3>Exercitation occaecat</h3>
            <p>Cosby sweater hella lomo Thundercats VHS occupy High Life. Synth pop-up readymade single-origin coffee, fanny pack tousled retro. Fingerstache mlkshk ugh hashtag, church-key ethnic street art pug yr.</p>
          </figcaption>
          <img src="https://cs7055.vk.me/c540103/v540103457/361e0/UefhpUEIXfk.jpg" alt="img06"/>
        </figure>
      </li>
    </ul>
    <nav>
      <span class="icon nav-prev"></span>
      <span class="icon nav-next"></span>
      <span class="icon nav-close"></span>
    </nav>
    <div class="info-keys icon">Navigate with arrow keys</div>
  </section><!-- // slideshow -->
</div><!-- // grid-gallery -->

<script src="js/imagesloaded.pkgd.min.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/classie.js"></script>
<script src="js/cbpGridGallery.js"></script>
<script>
  new CBPGridGallery( document.getElementById( 'grid-gallery' ) );
</script>