<div id="grid-gallery" class="grid-gallery">
  <div id='demo'>
  <%= react_component 'Gallery', elements: [
    "https://pp.vk.me/c628528/v628528106/2f6ce/f8mOp2u0pHQ.jpg",
    "https://41.media.tumblr.com/a44efb75a37b7300dbaaf97464008217/tumblr_nysxghZ3VT1rcjq6vo1_500.png",
    "https://pp.vk.me/c628528/v628528106/2f6ce/f8mOp2u0pHQ.jpg",
    "https://41.media.tumblr.com/a44efb75a37b7300dbaaf97464008217/tumblr_nysxghZ3VT1rcjq6vo1_500.png",

    ] %>
  </div>
 <!--  <div id='help' class="item">
    <figure>
      <div class="autor-explore border-radius-top">
          <div class="avatar" style="background: url(
          https://pp.vk.me/c622925/v622925106/2f6f6/Q4Ds1TD42kM.jpg
          ) no-repeat; background-size: cover;">
          </div>
          <div class="info">
            <div class='name'>
              <a href="">added</a>
            </div>
            <div class='follow'>
              ADD
            </div>
          </div>
      </div>
      <img src="https://pp.vk.me/c628528/v628528106/2f6ce/f8mOp2u0pHQ.jpg"/>
    </figure>
  </div> -->

  <section class="grid-wrap">
   <!--  <div id="example1" class='grid'>
      <div class="item">
        <figure>
          <div class="autor-explore border-radius-top">
              <div class="avatar" style="background: url(
              https://pp.vk.me/c622925/v622925106/2f6f6/Q4Ds1TD42kM.jpg
              ) no-repeat; background-size: cover;">
              </div>
              <div class="info">
                <div class='name'>
                  <a href="/users/2">1Никитина Елена Сергеевна</a>
                </div>
                <div class='follow'>
                  Читать
                </div>
              </div>
          </div>
          <img src="https://pp.vk.me/c628528/v628528106/2f6ce/f8mOp2u0pHQ.jpg"/>
        </figure>
      </div>
      <div class="item">
        <figure>
          <div class="autor-explore border-radius-top">
              <div class="avatar" style="background: url(
              https://pp.vk.me/c622925/v622925106/2f6f6/Q4Ds1TD42kM.jpg
              ) no-repeat; background-size: cover;">
              </div>
              <div class="info">
                <div class='name'>
                  <a href="/users/2">2Никитина Елена Сергеевна</a>
                </div>
                <div class='follow'>
                  Читать
                </div>
              </div>
          </div>
          <img src="https://41.media.tumblr.com/a44efb75a37b7300dbaaf97464008217/tumblr_nysxghZ3VT1rcjq6vo1_500.png"/>
        </figure>
      </div>
      <div class="item">
        <figure>
          <div class="autor-explore border-radius-top">
              <div class="avatar" style="background: url(
              https://pp.vk.me/c622925/v622925106/2f6f6/Q4Ds1TD42kM.jpg
              ) no-repeat; background-size: cover;">
              </div>
              <div class="info">
                <div class='name'>
                  <a href="/users/2">Никитина Елена Сергеевна</a>
                </div>
                <div class='follow'>
                  Читать
                </div>
              </div>
          </div>
          <img src="https://41.media.tumblr.com/a44efb75a37b7300dbaaf97464008217/tumblr_nysxghZ3VT1rcjq6vo1_500.png"/>

        </figure>
      </div>
      <div class="item">
        <figure>
          <div class="autor-explore border-radius-top">
              <div class="avatar" style="background: url(
              https://pp.vk.me/c622925/v622925106/2f6f6/Q4Ds1TD42kM.jpg
              ) no-repeat; background-size: cover;">
              </div>
              <div class="info">
                <div class='name'>
                  <a href="/users/2">Никитина Елена Сергеевна</a>
                </div>
                <div class='follow'>
                  Читать
                </div>
              </div>
          </div>
          <img src="https://pp.vk.me/c628528/v628528106/2f6ce/f8mOp2u0pHQ.jpg"/>
<<<<<<< HEAD
          <figcaption class='content-board border-b-radius'>
            <p class='link'><img src="/images/link.png"> <a>studpad.ru</a></p>
            
            <p class='text'>Kale chips lomo biodiesel stumptown Godard Tumblr, mustache sriracha tattooed cray aute slow-carb placeat delectus. Letterpress asymmetrical fanny pack art party est pour-over skateboard anim quis, ullamco craft beer.</p>
            <p class='tags-sp'><span>#studpad</span> <span>#йога</span> <span>#друг</span></p>
            
            <footer>
              <div class='delicious-like'>
                <div class='show-post'>
                  Просмотреть
=======
        </figure>
      </div>
      <div class="item">
        <figure>
          <div class="autor-explore border-radius-top">
              <div class="avatar" style="background: url(
              https://pp.vk.me/c622925/v622925106/2f6f6/Q4Ds1TD42kM.jpg
              ) no-repeat; background-size: cover;">
              </div>
              <div class="info">
                <div class='name'>
                  <a href="/users/2">Никитина Елена Сергеевна</a>
>>>>>>> ef3f2e449ea86150ff98e67dd1d2af240373478d
                </div>
                <div class='follow'>
                  Читать
                </div>
              </div>
          </div>
          <img src="https://41.media.tumblr.com/a44efb75a37b7300dbaaf97464008217/tumblr_nysxghZ3VT1rcjq6vo1_500.png"/>
        </figure>
      </div>
    </div> -->
    <!-- <ul class="grid">
      <li class="grid-sizer">
      <li>

      </li>
      <li>
        <figure>
          <div class="autor-explore border-radius-top">
              <div class="avatar" style="background: url(
              https://pp.vk.me/c622925/v622925106/2f6f6/Q4Ds1TD42kM.jpg
              ) no-repeat; background-size: cover;">
              </div>
              <div class="info">
                <div class='name'>
                  <a href="/users/2">Никитина Елена Сергеевна</a>
                </div>
                <div class='follow'>
                  Читать
                </div>
              </div>
          </div>
          <img src="https://45.media.tumblr.com/453a24dc3c39a5a59a23cdda89f6ab34/tumblr_nywmk2BH5Q1shn04do1_250.gif"/>
          <figcaption class='content-board border-b-radius'>
            <p class='link'><img src="/images/link.png"> <a>studpad.ru</a></p>
            <h3 class='title'>А почему бы не бухнуть?</h3>
            <p class='text'>Kale chips lomo biodiesel stumptown Godard Tumblr, mustache sriracha tattooed cray aute slow-carb placeat delectus. Letterpress asymmetrical fanny pack art party est pour-over skateboard anim quis, ullamco craft beer.</p>
            <p class='tags-sp'><span>#studpad</span> <span>#йога</span> <span>#друг</span></p>

            <footer>
              <div class='delicious-like'>
                <div>
                  Просмотреть
                </div>
                <div>
                  <span>
                    <img ref='delicious_tooltip' title='Сохранить себе' data-toggle="tooltip" data-placement="top" src='images/delicious.png' />
                    <span>
                      5
                    </span>
                  </span>
                  <span>
                    <img ref='delicious_tooltip' title='Сохранить себе' data-toggle="tooltip" data-placement="top" src='images/like.png' />
                    <span>
                      5
                    </span>
                  </span>
                </div>
              </div>
            </footer>
            <div class='clearboth'>
            </div>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <div class="autor-explore border-radius-top">
              <div class="avatar" style="background: url(
              https://pp.vk.me/c622925/v622925106/2f6f6/Q4Ds1TD42kM.jpg
              ) no-repeat; background-size: cover;">
              </div>
              <div class="info">
                <div class='name'>
                  <a href="/users/2">Никитина Елена Сергеевна</a>
                </div>
                <div class='follow'>
                  Читать
                </div>
              </div>
          </div>
          <img src="https://41.media.tumblr.com/a44efb75a37b7300dbaaf97464008217/tumblr_nysxghZ3VT1rcjq6vo1_500.png"/>
          <figcaption class='content-board border-b-radius'>
            <p class='link'><img src="/images/link.png"> <a>studpad.ru</a></p>
            <h3 class='title'>А почему бы не бухнуть?</h3>
            <p class='text'>Kale chips lomo biodiesel stumptown Godard Tumblr, mustache sriracha tattooed cray aute slow-carb placeat delectus. Letterpress asymmetrical fanny pack art party est pour-over skateboard anim quis, ullamco craft beer.</p>
            <p class='tags-sp'><span>#studpad</span> <span>#йога</span> <span>#друг</span></p>

            <footer>
              <div class='delicious-like'>
                <div>
                  Просмотреть
                </div>
                <div>
                  <span>
                    <img ref='delicious_tooltip' title='Сохранить себе' data-toggle="tooltip" data-placement="top" src='images/delicious.png' />
                    <span>
                      5
                    </span>
                  </span>
                  <span>
                    <img ref='delicious_tooltip' title='Сохранить себе' data-toggle="tooltip" data-placement="top" src='images/like.png' />
                    <span>
                      5
                    </span>
                  </span>
                </div>
              </div>
            </footer>
            <div class='clearboth'>
            </div>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <div class="autor-explore border-radius-top">
              <div class="avatar" style="background: url(
              https://pp.vk.me/c622925/v622925106/2f6f6/Q4Ds1TD42kM.jpg
              ) no-repeat; background-size: cover;">
              </div>
              <div class="info">
                <div class='name'>
                  <a href="/users/2">Никитина Елена Сергеевна</a>
                </div>
                <div class='follow'>
                  Читать
                </div>
              </div>
          </div>
          <img src="https://41.media.tumblr.com/3ee398ed74e806e93054ba4eb8cadea2/tumblr_ny8equzA681sn5m44o1_500.jpg"/>
          <figcaption class='content-board border-b-radius'>
            <p class='link'><img src="/images/link.png"> <a>studpad.ru</a></p>
            <h3 class='title'>А почему бы не бухнуть?</h3>
            <p class='text'>Kale chips lomo biodiesel stumptown Godard Tumblr, mustache sriracha tattooed cray aute slow-carb placeat delectus. Letterpress asymmetrical fanny pack art party est pour-over skateboard anim quis, ullamco craft beer.</p>
            <p class='tags-sp'><span>#studpad</span> <span>#йога</span> <span>#друг</span></p>

            <footer>
              <div class='delicious-like'>
                <div>
                  Просмотреть
                </div>
                <div>
                  <span>
                    <img ref='delicious_tooltip' title='Сохранить себе' data-toggle="tooltip" data-placement="top" src='images/delicious.png' />
                    <span>
                      5
                    </span>
                  </span>
                  <span>
                    <img ref='delicious_tooltip' title='Сохранить себе' data-toggle="tooltip" data-placement="top" src='images/like.png' />
                    <span>
                      5
                    </span>
                  </span>
                </div>
              </div>
            </footer>
            <div class='clearboth'>
            </div>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <div class="autor-explore border-radius-top">
              <div class="avatar" style="background: url(
              https://pp.vk.me/c622925/v622925106/2f6f6/Q4Ds1TD42kM.jpg
              ) no-repeat; background-size: cover;">
              </div>
              <div class="info">
                <div class='name'>
                  <a href="/users/2">Никитина Елена Сергеевна</a>
                </div>
                <div class='follow'>
                  Читать
                </div>
              </div>
          </div>
          <img src="https://40.media.tumblr.com/aade0f287119ba897cced63beca968f6/tumblr_nyyrrzvycF1rk3uipo1_500.jpg"/>
          <figcaption class='content-board border-b-radius'>
            <p class='link'><img src="/images/link.png"> <a>studpad.ru</a></p>
            <h3 class='title'>А почему бы не бухнуть?</h3>
            <p class='text'>Kale chips lomo biodiesel stumptown Godard Tumblr, mustache sriracha tattooed cray aute slow-carb placeat delectus. Letterpress asymmetrical fanny pack art party est pour-over skateboard anim quis, ullamco craft beer.</p>
            <p class='tags-sp'><span>#studpad</span> <span>#йога</span> <span>#друг</span></p>

            <footer>
              <div class='delicious-like'>
                <div>
                  Просмотреть
                </div>
                <div>
                  <span>
                    <img ref='delicious_tooltip' title='Сохранить себе' data-toggle="tooltip" data-placement="top" src='images/delicious.png' />
                    <span>
                      5
                    </span>
                  </span>
                  <span>
                    <img ref='delicious_tooltip' title='Сохранить себе' data-toggle="tooltip" data-placement="top" src='images/like.png' />
                    <span>
                      5
                    </span>
                  </span>
                </div>
              </div>
            </footer>
            <div class='clearboth'>
            </div>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <div class="autor-explore border-radius-top">
              <div class="avatar" style="background: url(
              https://pp.vk.me/c622925/v622925106/2f6f6/Q4Ds1TD42kM.jpg
              ) no-repeat; background-size: cover;">
              </div>
              <div class="info">
                <div class='name'>
                  <a href="/users/2">Никитина Елена Сергеевна</a>
                </div>
                <div class='follow'>
                  Читать
                </div>
              </div>
          </div>
          <img src="https://49.media.tumblr.com/6b6a723de1367ee957f5aa47d91e8fd2/tumblr_nyp5x7xyWy1shn04do1_500.gif"/>
          <figcaption class='content-board border-b-radius'>
            <p class='link'><img src="/images/link.png"> <a>studpad.ru</a></p>
            <h3 class='title'>А почему бы не бухнуть?</h3>
            <p class='text'>Kale chips lomo biodiesel stumptown Godard Tumblr, mustache sriracha tattooed cray aute slow-carb placeat delectus. Letterpress asymmetrical fanny pack art party est pour-over skateboard anim quis, ullamco craft beer.</p>
            <p class='tags-sp'><span>#studpad</span> <span>#йога</span> <span>#друг</span></p>

            <footer>
              <div class='delicious-like'>
                <div>
                  Просмотреть
                </div>
                <div>
                  <span>
                    <img ref='delicious_tooltip' title='Сохранить себе' data-toggle="tooltip" data-placement="top" src='images/delicious.png' />
                    <span>
                      5
                    </span>
                  </span>
                  <span>
                    <img ref='delicious_tooltip' title='Сохранить себе' data-toggle="tooltip" data-placement="top" src='images/like.png' />
                    <span>
                      5
                    </span>
                  </span>
                </div>
              </div>
            </footer>
            <div class='clearboth'>
            </div>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <div class="autor-explore border-radius-top">
              <div class="avatar" style="background: url(
              https://pp.vk.me/c622925/v622925106/2f6f6/Q4Ds1TD42kM.jpg
              ) no-repeat; background-size: cover;">
              </div>
              <div class="info">
                <div class='name'>
                  <a href="/users/2">Никитина Елена Сергеевна</a>
                </div>
                <div class='follow'>
                  Читать
                </div>
              </div>
          </div>
          <img src="http://studpad.ru/uploads/text_element/image/3617/55a8b41bb2d4e.jpg"/>
          <figcaption class='content-board border-b-radius'>
            <p class='link'><img src="/images/link.png"> <a>studpad.ru</a></p>
            <h3 class='title'>А почему бы не бухнуть?</h3>
            <p class='text'>Kale chips lomo biodiesel stumptown Godard Tumblr, mustache sriracha tattooed cray aute slow-carb placeat delectus. Letterpress asymmetrical fanny pack art party est pour-over skateboard anim quis, ullamco craft beer.</p>
            <p class='tags-sp'><span>#studpad</span> <span>#йога</span> <span>#друг</span></p>

            <footer>
              <div class='delicious-like'>
                <div>
                  Просмотреть
                </div>
                <div>
                  <span>
                    <img ref='delicious_tooltip' title='Сохранить себе' data-toggle="tooltip" data-placement="top" src='images/delicious.png' />
                    <span>
                      5
                    </span>
                  </span>
                  <span>
                    <img ref='delicious_tooltip' title='Сохранить себе' data-toggle="tooltip" data-placement="top" src='images/like.png' />
                    <span>
                      5
                    </span>
                  </span>
                </div>
              </div>
            </footer>
            <div class='clearboth'>
            </div>
          </figcaption>
        </figure>
      </li>
    </ul> -->
  </section><!-- // grid-wrap -->
  <!--<section class="slideshow">
    <ul>
      <li>
        <figure>
          <figcaption>
            <h3>Letterpress asymmetrical</h3>
            <p>Kale chips lomo biodiesel stumptown Godard Tumblr, mustache sriracha tattooed cray aute slow-carb placeat delectus. Letterpress asymmetrical fanny pack art party est pour-over skateboard anim quis, ullamco craft beer.</p>
          </figcaption>
          <img src="http://studpad.ru/uploads/text_element/image/3617/55a8b41bb2d4e.jpg" alt="img01"/>
        </figure>
      </li>
    </ul>
    <nav>
      <span class="icon nav-prev"></span>
      <span class="icon nav-next"></span>
      <span class="icon nav-close"></span>
    </nav>
  </section>--><!-- // slideshow -->
</div><!-- // grid-gallery -->
<script src="js/cbpGridGallery.js"></script>
<script>
  //new CBPGridGallery( document.getElementById( 'grid-gallery' ) );
</script>
