<div id="grid-gallery" class="grid-gallery">
  <section class="grid-wrap">
    <ul class="grid">
      <li class="grid-sizer"></li><!-- for Masonry column width -->
      <li>
        <figure>
          <img class='border-radius-top' src="http://studpad.ru/uploads/text_element/image/3617/55a8b41bb2d4e.jpg"/>
          <figcaption class='content-board border-b-radius'>
            <p class='link'><img src="/images/link.png"> <a>studpad.ru</a></p>
            <h3 class='title'>А почему бы не бухнуть?</h3>
            <p class='text'>Kale chips lomo biodiesel stumptown Godard Tumblr, mustache sriracha tattooed cray aute slow-carb placeat delectus. Letterpress asymmetrical fanny pack art party est pour-over skateboard anim quis, ullamco craft beer.</p>
            <p class='tags-sp'><span>#studpad</span> <span>#йога</span> <span>#друг</span></p>
            <footer>
              <div class="autor-explore">
                  <div class="avatar" style="background: url(
                  https://pp.vk.me/c622925/v622925106/2f6f6/Q4Ds1TD42kM.jpg
                  ) no-repeat; background-size: cover;">
                  </div>
                  <div class="info">
                    <a href="/users/2">Никитина Елена Сергеевна</a>
                  </div>
              </div>
              <div class='delicious-like'>
                <div>
                  <span>
                    <img ref='delicious_tooltip' title='Сохранить себе' data-toggle="tooltip" data-placement="top" src='images/delicious.png' />
                    <span>
                      5
                    </span>
                  </span>
                  <span>
                    <img ref='delicious_tooltip' title='Сохранить себе' data-toggle="tooltip" data-placement="top" src='images/like.png' />
                    <span>
                      5
                    </span>
                  </span>
                </div>
              </div>
            </footer>
            <div class='clearboth'>
            </div>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img class='border-radius-top' src="https://pp.vk.me/c628621/v628621124/b7e8/4f4k-zbBBKI.jpg"/>
          <figcaption class='content-board border-b-radius'>
            <p class='link'><img src="/images/link.png"> <a>studpad.ru</a></p>
            <h3 class='title'>А почему бы не бухнуть?</h3>
            <p class='text'>Kale chips lomo biodiesel stumptown Godard Tumblr, mustache sriracha tattooed cray aute slow-carb placeat delectus. Letterpress asymmetrical fanny pack art party est pour-over skateboard anim quis, ullamco craft beer.</p>
            <p class='tags-sp'><span>#studpad</span> <span>#йога</span> <span>#друг</span></p>
            <footer>
              <div class="autor-explore">
                  <div class="avatar" style="background: url(
                  https://pp.vk.me/c622925/v622925106/2f6f6/Q4Ds1TD42kM.jpg
                  ) no-repeat; background-size: cover;">
                  </div>
                  <div class="info">
                    <a href="/users/2">Никитина Елена Сергеевна</a>
                  </div>
              </div>
              <div class='delicious-like'>
                <div>
                  <span>
                    <img ref='delicious_tooltip' title='Сохранить себе' data-toggle="tooltip" data-placement="top" src='images/delicious.png' />
                    <span>
                      5
                    </span>
                  </span>
                  <span>
                    <img ref='delicious_tooltip' title='Сохранить себе' data-toggle="tooltip" data-placement="top" src='images/like.png' />
                    <span>
                      5
                    </span>
                  </span>
                </div>
              </div>
            </footer>
            <div class='clearboth'>
            </div>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img class='border-radius-top' src="https://pp.vk.me/c623123/v623123124/17d69/ynI1SkaNroU.jpg"/>
          <figcaption class='content-board border-b-radius'>
            <p class='link'><img src="/images/link.png"> <a>studpad.ru</a></p>
            <h3 class='title'>А почему бы не бухнуть?</h3>
            <p class='text'>Kale chips lomo biodiesel stumptown Godard Tumblr, mustache sriracha tattooed cray aute slow-carb placeat delectus. Letterpress asymmetrical fanny pack art party est pour-over skateboard anim quis, ullamco craft beer.</p>
            <p class='tags-sp'><span>#studpad</span> <span>#йога</span> <span>#друг</span></p>
            <footer>
              <div class="autor-explore">
                  <div class="avatar" style="background: url(
                  https://pp.vk.me/c622925/v622925106/2f6f6/Q4Ds1TD42kM.jpg
                  ) no-repeat; background-size: cover;">
                  </div>
                  <div class="info">
                    <a href="/users/2">Никитина Елена Сергеевна</a>
                  </div>
              </div>
              <div class='delicious-like'>
                <div>
                  <span>
                    <img ref='delicious_tooltip' title='Сохранить себе' data-toggle="tooltip" data-placement="top" src='images/delicious.png' />
                    <span>
                      5
                    </span>
                  </span>
                  <span>
                    <img ref='delicious_tooltip' title='Сохранить себе' data-toggle="tooltip" data-placement="top" src='images/like.png' />
                    <span>
                      5
                    </span>
                  </span>
                </div>
              </div>
            </footer>
            <div class='clearboth'>
            </div>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img class='border-radius-top' src="https://pp.vk.me/c607622/v607622124/566e/RT21e6TXKFE.jpg"/>
          <figcaption class='content-board border-b-radius'>
            <p class='link'><img src="/images/link.png"> <a>studpad.ru</a></p>
            <h3 class='title'>А почему бы не бухнуть?</h3>
            <p class='text'>Kale chips lomo biodiesel stumptown Godard Tumblr, mustache sriracha tattooed cray aute slow-carb placeat delectus. Letterpress asymmetrical fanny pack art party est pour-over skateboard anim quis, ullamco craft beer.</p>
            <p class='tags-sp'><span>#studpad</span> <span>#йога</span> <span>#друг</span></p>
            <footer>
              <div class="autor-explore">
                  <div class="avatar" style="background: url(
                  https://pp.vk.me/c622925/v622925106/2f6f6/Q4Ds1TD42kM.jpg
                  ) no-repeat; background-size: cover;">
                  </div>
                  <div class="info">
                    <a href="/users/2">Никитина Елена Сергеевна</a>
                  </div>
              </div>
              <div class='delicious-like'>
                <div>
                  <span>
                    <img ref='delicious_tooltip' title='Сохранить себе' data-toggle="tooltip" data-placement="top" src='images/delicious.png' />
                    <span>
                      5
                    </span>
                  </span>
                  <span>
                    <img ref='delicious_tooltip' title='Сохранить себе' data-toggle="tooltip" data-placement="top" src='images/like.png' />
                    <span>
                      5
                    </span>
                  </span>
                </div>
              </div>
            </footer>
            <div class='clearboth'>
            </div>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img class='border-radius-top' src="http://studpad.ru/uploads/text_element/image/3617/55a8b41bb2d4e.jpg"/>
          <figcaption class='content-board border-b-radius'>
            <p class='link'><img src="/images/link.png"> <a>studpad.ru</a></p>
            <h3 class='title'>А почему бы не бухнуть?</h3>
            <p class='text'>Kale chips lomo biodiesel stumptown Godard Tumblr, mustache sriracha tattooed cray aute slow-carb placeat delectus. Letterpress asymmetrical fanny pack art party est pour-over skateboard anim quis, ullamco craft beer.</p>
            <p class='tags-sp'><span>#studpad</span> <span>#йога</span> <span>#друг</span></p>
            <footer>
              <div class="autor-explore">
                  <div class="avatar" style="background: url(
                  https://pp.vk.me/c622925/v622925106/2f6f6/Q4Ds1TD42kM.jpg
                  ) no-repeat; background-size: cover;">
                  </div>
                  <div class="info">
                    <a href="/users/2">Никитина Елена Сергеевна</a>
                  </div>
              </div>
              <div class='delicious-like'>
                <div>
                  <span>
                    <img ref='delicious_tooltip' title='Сохранить себе' data-toggle="tooltip" data-placement="top" src='images/delicious.png' />
                    <span>
                      5
                    </span>
                  </span>
                  <span>
                    <img ref='delicious_tooltip' title='Сохранить себе' data-toggle="tooltip" data-placement="top" src='images/like.png' />
                    <span>
                      5
                    </span>
                  </span>
                </div>
              </div>
            </footer>
            <div class='clearboth'>
            </div>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img class='border-radius-top' src="http://studpad.ru/uploads/text_element/image/3617/55a8b41bb2d4e.jpg"/>
          <figcaption class='content-board border-b-radius'>
            <p class='link'><img src="/images/link.png"> <a>studpad.ru</a></p>
            <h3 class='title'>А почему бы не бухнуть?</h3>
            <p class='text'>Kale chips lomo biodiesel stumptown Godard Tumblr, mustache sriracha tattooed cray aute slow-carb placeat delectus. Letterpress asymmetrical fanny pack art party est pour-over skateboard anim quis, ullamco craft beer.</p>
            <p class='tags-sp'><span>#studpad</span> <span>#йога</span> <span>#друг</span></p>
            <footer>
              <div class="autor-explore">
                  <div class="avatar" style="background: url(
                  https://pp.vk.me/c622925/v622925106/2f6f6/Q4Ds1TD42kM.jpg
                  ) no-repeat; background-size: cover;">
                  </div>
                  <div class="info">
                    <a href="/users/2">Никитина Елена Сергеевна</a>
                  </div>
              </div>
              <div class='delicious-like'>
                <div>
                  <span>
                    <img ref='delicious_tooltip' title='Сохранить себе' data-toggle="tooltip" data-placement="top" src='images/delicious.png' />
                    <span>
                      5
                    </span>
                  </span>
                  <span>
                    <img ref='delicious_tooltip' title='Сохранить себе' data-toggle="tooltip" data-placement="top" src='images/like.png' />
                    <span>
                      5
                    </span>
                  </span>
                </div>
              </div>
            </footer>
            <div class='clearboth'>
            </div>
          </figcaption>
        </figure>
      </li>
    </ul>
  </section><!-- // grid-wrap -->
  <section class="slideshow">
    <ul>
      <li>
        <figure>
          <figcaption>
            <h3>Letterpress asymmetrical</h3>
            <p>Kale chips lomo biodiesel stumptown Godard Tumblr, mustache sriracha tattooed cray aute slow-carb placeat delectus. Letterpress asymmetrical fanny pack art party est pour-over skateboard anim quis, ullamco craft beer.</p>
          </figcaption>
          <img src="http://studpad.ru/uploads/text_element/image/3617/55a8b41bb2d4e.jpg" alt="img01"/>
        </figure>
      </li>
    </ul>
    <nav>
      <span class="icon nav-prev"></span>
      <span class="icon nav-next"></span>
      <span class="icon nav-close"></span>
    </nav>
  </section><!-- // slideshow -->
</div><!-- // grid-gallery -->
<script src="js/cbpGridGallery.js"></script>
<script>
  new CBPGridGallery( document.getElementById( 'grid-gallery' ) );
</script>