<div class='title-explore'>
  Новое
</div>
<div class='city-explore'>
  Москва
</div>
<div id="grid-gallery" class="grid-gallery">
  <div id='demo'>
    <%= react_component 'Gallery', posts_url: fresh_path %>
  </div>
</div>