<div class ='container' id = 'main-container'>
    <div class = 'left-branch'>
        <%= render "/partials/profile" %>

    </div>
    <div class = 'main-wall'>

          <div class = 'wrap-mike'>
            <div class = 'mike-speach'>
              Добрый вечер, Екатерина Ивановна. Вау) Вы сменили имидж?
            </div>
          </div>

      <div class = 'row' style = 'margin-top: 80px; z-index: 150;'>
        <div class = 'col-xs-12'>
          <div class = 'title-background border-radius-top'>
            <div class = 'title-page'>
              Публикации
            </div>
          </div>
          <%= react_component("PostBox",
        posts_url: posts_path, show_panel: (current_user.present?) ) %>
        </div>
      </div>
    </div>
</div>

