<%
def classroom_id
    params[:classroom_id] || params[:id]
end
%>

<div class ='container' id = 'main-container'>
  <%= render "left_branch" %>
  <div class = 'main-wall'>
    <div class = 'row'>
      <div class = 'col-xs-12'>
        <div class = 'title-page'>
          Полезные материалы
        </div>

        <%= render @materials %>

      </div>
    </div>
  </div>
    <%= render "/partials/modal_share" %>
    <%= render "/materials/modal_window" %>
</div>

