<% if !current_user %>
	<div class = 'join-to-us-under-hat'>
		<div>Это сервис медиаблогов. Делитесь тем, что Вас вдохновляет, и читайте то, что Вам интересно!</div>
		<%= link_to "Создать медиаблог", new_user_path, class: 'btn btn-st'%>
	</div>
<% end %>
<div class='title-explore'>
  Видео
</div>
<%= render 'partials/city_select' %>
<div id="grid-gallery" class="grid-gallery">
  <div id='demo'>
    <%= react_component 'Gallery', posts_url: videos_path+ city_params(params[:city_id]) %>
  </div>
</div>
