<div class = 'form-create-new-object animated zoomIn'>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
    <h1>Регистрация</h1>
    <%#= react_component("LikeButton") %>
    </div>
  </div>
</div>
