<div class="modal-content modal-content-new-post my-setting-modal-content" style = 'margin: auto; margin-top: 120px;'>
	<div class="post-autor">
		<div class="usual-avatar" style="background:url(https://pp.vk.me/c628621/v628621124/b7f9/xy-bLm3tTfo.jpg) no-repeat;background-size:cover;"></div>
		<div class="post-autor-info">
			<div class="post-autor-name">Музыкин Максим Вадимович</div>
			<div class="post-autor-type">Преподаватель</div>
		</div>
	</div>
	<div class="modal-body my-setting-modal-body">
		<div class="container-fluid">
			<div class="row">
				<div class='form-new-post usual-post-contant top-space-none'>
          <div class='form-wrap-new-post-type'>
            <div class='split-cells-choose-photo'>
              <div class='split-cell'>
              	<img src = '/images/add_photo_from_device.png' /><br>
              	Загрузить фото с компьютера
              </div>
              <div class='split-cell'>
              	<img src = '/images/add_photo_from_internet.png' /><br>
              	Добавить фото из Интернета
              </div>
            </div>
            <div class='clearboth'>
            </div>
          </div>
        </div>
			</div>
			<div class='wrap-write-link-to-photo'>
				<img class='remove-angle all-remove-angle' src = '/images/close.png' />
				<div class='write-link-to-photo' contenteditable='true' placeholder='Вставьте URL-адрес'></div>
			</div>
			<div class="usual-post-photo action-create-element-post">
				<img class='remove-angle photo-remove-angle' src = '/images/close.png' />
				<img src="https://pp.vk.me/c628621/v628621124/b7f9/xy-bLm3tTfo.jpg">
			</div>
			<div class='add-photo-link-yet'>
				<img class='type-of-add-photo' src = '/images/add_photo_from_internet.png' /> Добавить еще
			</div>
			<div class='add-photo-device-yet'>
				<img class='type-of-add-photo' src = '/images/add_photo_from_device.png' /> Добавить еще
			</div>
			<div>
				<div class="usual-post-text action-create-element-post">
					<div
	          contenteditable='true'
	          class='text-new-post'
	          placeholder = 'Если хотите, добавьте подпись'></div></div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default btn-st-inert">Закрыть</button>
		<button type="button" disabled="" class="btn btn-primary btn-st" data-loading-text="Подождите...">Опубликовать</button>
	</div>
</div>