<div class = 'form-create-new-object animated zoomIn'>
    <h3>Лицензионное соглашение</h3>
    <p>

    </p>

    <p>Администрация Сайта (Лицензиар) предоставляет Вам право использования Программ для ЭВМ Сайта Studpad, на условиях, являющихся предметом настоящего Лицензионного соглашения. В этой связи, Вам необходимо внимательно ознакомиться с условиями настоящего Лицензионного соглашения, которое рассматриваются Администрацией Сайта как публичная оферта в соответствии со ст. 437 Гражданского кодекса Российской Федерации. </p>

    <p class = 'title-point-static-pages'>1. Термины, используемые в настоящем Соглашении</p>
    <ul class = 'list-of-static-pages'>
        <li><b>1.1. Сайт Studpad (или Сайт)</b> – интернет-ресурс, состоящий из совокупности (а) Программ для ЭВМ (включая Приложения API) и (б) информации (контента), размещенной в них Администрацией и/или Пользователями. Сайт Studpad содержится в информационной системе, обеспечивающей доступность такой информации в сети Интернет по сетевому адресу (доменному имени): <a href = 'http://studpad.ru'>http://studpad.ru</a> (включая все уровни указанного домена, как функционирующие на дату заключения настоящего Лицензионного договора, так и запускаемые и вводимые в эксплуатацию в течение всего срока его действия).</li>
        <li><b>1.2. Программы для ЭВМ Сайта Studpad (или Программы для ЭВМ)</b> – представленные в объективной форме совокупности данных и команд, исполняющиеся на ЭВМ Пользователя, порождающие аудиовизуальные отображения и выполняющие определенные функции Сайта и/или отвечающие за функционирование Сайта в целом. Право использования Программ для ЭВМ Сайта Studpad, за исключением Дополнительного функционала Сайта, предоставляется Администрацией Пользователю на безвозмездной основе согласно условиям настоящего Соглашения.</li>
        <!--<li><b>1.3. Приложения API</b> – программы для ЭВМ, исполняющиеся на ЭВМ Пользователя в составе Программ для ЭВМ Сайта Studpad и визуально представленные Пользователю в виде различных интерактивных визуальных сервисов (игр, электронных сервисов и т.д.), которые могут использоваться Пользователем наряду с основным функционалом Сайта. Право использования функционала Приложений API, за исключением Дополнительного функционала Приложений API, предоставляется Администрацией Пользователю на безвозмездной основе согласно условиям настоящего Соглашения.</li>
        <li><b>1.4. Дополнительный функционал Сайта</b> – программные коды, исполняющиеся на ЭВМ Пользователя в составе Программ для ЭВМ Сайта Studpad и выполняющие определенные дополнительные функции Сайта. Элементами, составляющими Дополнительный функционал Сайта, являются Подарки, Стикеры и Дополнительный функционал Приложений API. Условия возмездного предоставления Администрацией Пользователю права использования Дополнительного функционала Сайта определены в настоящем Соглашении.</li>-->
        <li><b>1.5. Лицензиар (или Администрация)</b> – администрация Studpad, обладающее необходимыми правами на предоставление Пользователю права использования Программ для ЭВМ Сайта Studpad.</li>
        <li><b>1.6. Лицензиат (или Пользователь)</b> – физическое лицо, зарегистрированное на Сайте в соответствии с Правилами пользования Сайтом Studpad.</li>
        <li><b>1.7. Соглашение</b> – текст настоящего Лицензионного соглашения между Администрацией Сайта (Лицензиаром) и Пользователем (Лицензиатом), содержащий все необходимые и существенные условия лицензионного договора о предоставлении прав использования Программ для ЭВМ Сайта Studpad. Настоящее Соглашение заключается между Администрацией и Пользователем в упрощенном порядке и является договором присоединения по смыслу п. 5 ст. 1286 ГК РФ.</li>
    </ul>

    <p class = 'title-point-static-pages'>2. Статус настоящего Соглашения</p>
    <ul class = 'list-of-static-pages'>
        <li>2.1. Настоящее Соглашение определяет условия предоставления Пользователю права использования Программ для ЭВМ Сайта Studpad. Настоящее Соглашение также распространяется на отношения, связанные с правами и интересами третьих лиц, не являющимися Пользователями Сайта, но чьи права и интересы могут быть затронуты в результате действий Пользователей Сайта.</li>
        <li>2.2. Предметом настоящего Соглашения является предоставление Администрацией Пользователю на условиях простой неисключительной лицензии права использования Программ для ЭВМ Сайта Studpad. Помимо настоящего Соглашения, к соглашению между Администрацией и Пользователем относятся все специальные документы, регулирующие предоставление отдельного функционала Сайта и размещенные в свободном доступе в соответствующих разделах Сайта в сети Интернет.</li>
        <li>2.3. Пользователь обязан полностью ознакомиться с настоящим Соглашением до момента регистрации на Сайте. Регистрация на Сайте, а также любое использование Сайта (Программ для ЭВМ Сайта Studpad и/или размещенной в них информации (контента) означает полное и безоговорочное принятие им настоящего Соглашения в соответствии со ст. 438 Гражданского кодекса Российской Федерации.</li>
        <li>2.4. Настоящее Соглашение может быть изменено и/или дополнено Администрацией в одностороннем порядке без какого-либо специального уведомления Пользователя. Настоящее Соглашение является открытым и общедоступным документом. Действующая редакция Соглашения располагается в сети Интернет по адресу: <a href = '/licence'>http://studpad.ru/licence</a>. Администрация рекомендует Пользователям регулярно проверять условия настоящего Соглашения на предмет их изменения и/или дополнения. Продолжение использования Сайта Пользователем после внесения изменений и/или дополнений в настоящее Соглашение означает принятие и согласие Пользователя с такими изменениями и/или дополнениями.</li>
    </ul>

    <p class = 'title-point-static-pages'>3. Пределы использования Пользователем Программ для ЭВМ Сайта Studpad</p>
    <ul class = 'list-of-static-pages'>
        <li>3.1. Пользователь вправе:
            <ul type='square'>
                <li>3.1.1. взаимодействовать с другими Пользователями Сайта Studpad путем использования Программ для ЭВМ;</li>
                <li>3.1.2. использовать Программы для ЭВМ Сайта Studpad в соответствии с их назначением и функциональными возможностями;</li>
                <!--<li>3.1.3. воспроизводить и использовать Приложения API в соответствии с их функциональным назначением;</li>
                <li>3.1.4. на возмездных условиях использовать Дополнительный функционал Сайта следующим образом:
                    <ul type='circle'>
                        <li>3.1.4.1. использовать функциональные возможности разделов Сайта «Мои подарки» и «Отправить подарок», предназначенных для отправки другим Пользователям Подарков, и, как следствие, для размещения Подарков в разделе Сайта «Мои подарки» на персональных страницах других <li>Пользователей Сайта Studpad;</li>
                        <li>3.1.4.2. выбирать и включать Стикеры в текст личных сообщений (диалогов), комментариев для их последующей отправки другим Пользователям Сайта Studpad;</li>
                        <li>3.1.4.3. использовать Дополнительный функционал Приложений API в соответствии с его функциональным назначением;</li>
                    </ul>
                </li>
                <li>3.1.5. приобретать право использования Голосов и осуществлять их последующий обмен на право использования Подарков, Стикеров и Дополнительного функционала Приложений API;</li>
                <li>3.1.6. передавать ранее приобретенное право использования Голосов другим Пользователям Сайта Studpad в порядке, установленном в разделе Сайта «Передача голосов».</li>-->
            </ul>
        </li>
        <li>3.2. Пользователь не вправе:
            <ul type='square'>
                <li>3.2.1. воспроизводить, дублировать, копировать, продавать, распространять, осуществлять торговые операции и перепродавать право использования и/или сами Программы для ЭВМ Сайта Studpad для каких-либо целей, за исключением случаев, когда такие действия были прямо разрешены Пользователю в соответствии с условиями настоящего Соглашения;</li>
                <li>3.2.2. переводить Программы для ЭВМ Сайта Studpad на другие языки;</li>
                <li>3.2.3. распространять вне Сайта Studpad в коммерческих или некоммерческих целях аудиовизуальные и/или графические отображения, присутствующие в Программах для ЭВМ Сайта Studpad, а также любые элементы их дизайна или пользовательского интерфейса, при отсутствии письменного разрешения соответствующих правообладателей на совершение данных действий;</li>
                <li>3.2.4. использовать Программы для ЭВМ иными способами, не предусмотренными настоящим Соглашением и выходящими за рамки обычного процесса функционирования Программ для ЭВМ Сайта Studpad.</li>
            </ul>
        </li>
    </ul>

    <p class = 'title-point-static-pages'>4. Порядок предоставления Администрацией Пользователю права использования Программ для ЭВМ Сайта Studpad</p>
    <ul class = 'list-of-static-pages'>
        <li>4.1. Право использования Программ для ЭВМ Сайта Studpad<!--, за исключением права использования Дополнительного функционала Сайта,--> предоставляется Администрацией Пользователю безвозмездно на условиях простой неисключительной лицензии с момента регистрации Пользователя на Сайте Studpad, либо с момента начала использования Сайта (Программ для ЭВМ Сайта Studpad и/или размещенной в них информации (контента).</li>
        <!--4.2. Право использования Дополнительного функционала Сайта предоставляется Администрацией Пользователю возмездно следующим образом:
        4.2.1. С момента регистрации на Сайте Пользователь по своему желанию может приобрести право использования Голосов.
        4.2.2. Приобретаемые Пользователем Голоса зачисляются на его персональный счет, который автоматически заводится в момент регистрации Пользователя на Сайте Studpad и привязывается к его персональной странице.
        4.2.3. Приобретение права использования Голосов осуществляется Пользователем в порядке, установленном Администрацией в специальном разделе Сайта «Платежи», расположенного в сети Интернет по сетевому адресу (доменному имени): http://studpad.ru/settings?act=payments.
        4.2.4. Размер стоимости одного Голоса может быть изменен Администрацией в одностороннем порядке в любое время без предварительного уведомления Пользователя. При этом стоимость уже приобретенных Пользователем Голосов не пересматривается Администрацией Сайта.
        4.2.5. Пользователь имеет право использовать Голоса следующим образом:
        4.2.5.1. обменивать Голоса на право использования Подарков в порядке, установленном в специальных разделах Сайта «Мои подарки» и/или «Отправить подарок»;
        4.2.5.2. обменивать Голоса на право использования Стикеров в порядке, установленном в специальном разделе Сайта «Магазин стикеров»;
        4.2.5.3. обменивать Голоса на право использования Дополнительного функционала Приложений API в порядке, установленном в соответствующем специальном разделе каждого из Приложений API;
        4.2.5.4. передавать Голоса другим Пользователям в порядке, установленном в специальном разделе Сайта «Передача голосов».
        4.2.6. Моментом предоставления права использования Дополнительного функционала Сайта считается момент зачисления Пользователю на его персональный счет на Сайте Studpad соответствующего количества Голосов.
        4.2.7. В случае, если в результате технической ошибки, или сбоя функционирования Сайта или любого его элемента, или сознательных действий Пользователя им был получен доступ к Дополнительному функционалу Сайта без приобретения права его использования в установленном настоящим Соглашением порядке, Пользователь обязуется сообщить об этом факте Администрации и оплатить стоимость права использования такого Дополнительного функционала Сайта, либо самостоятельно устранить все последствия неправомерного использования Дополнительного функционала Сайта. При этом Администрация вправе самостоятельно без уведомления Пользователя устранить такие последствия.
        4.2.8. Пользователь обязан сохранять документы, подтверждающие оплату им прав использования Дополнительного функционала Сайта в течение всего времени пользования Сайтом, и по запросу Администрации предоставить такие документы, а также информацию об обстоятельствах совершения Пользователем соответствующего платежа.
        4.3. Право использования Дополнительного функционала Сайта может также предоставляться Пользователю иными способами, предусмотренными функциональными возможностями Сайта Studpad.-->
        <li>4.2. Право использования Программ для ЭВМ предоставляется Администрацией Пользователю на срок действия настоящего Соглашения, если только исчерпание предоставленного объема прав не наступит ранее.</li>
        <!--4.5. Денежные средства, уплаченные Пользователем, в том числе в счет Голосов, являются лицензионным вознаграждением Администрации по настоящему Соглашению.
        4.6. Пользователь обязан самостоятельно отслеживать состояние своего счета.
        4.7. Исключительное право на распространение Дополнительного функционала Сайта принадлежит Администрации, в связи с чем никакие предложения третьих лиц о предоставлении прав использования Дополнительного функционала Сайта или права доступа к ним не могут быть расценены Пользователем как предложения, исходящие от Администрации.
        4.8. В случае возникновения спорных, неясных ситуаций, либо направления Пользователю каких-либо предложений третьих лиц, связанных с оплатой прав использования Дополнительного функционала Сайта, либо размещения таких объявлений и предложений в сети Интернет, Пользователь обязан незамедлительно уведомить об этом Администрацию. Если Пользователь, нарушив настоящее положение, произвел оплату по указанному объявлению с использованием реквизитов, указанных в таком объявлении, претензии Пользователя к Администрации по поводу отсутствия у него доступа к Дополнительному функционалу Сайта не принимаются, и Администрация не компенсирует Пользователю денежные средства, потраченные им при таких обстоятельствах.
        4.9. Если Администрацией будет установлено, что Пользователь получает доступ к Дополнительному функционалу Сайта от третьих лиц, Администрация вправе по своему усмотрению либо приостановить, либо ограничить, либо прекратить право использования Пользователем Программ ЭВМ Сайта Studpad.
        4.10. Пользователь гарантирует Администрации, что он имеет право свободно распоряжаться денежными средствами, выбранными им для оплаты прав использования Дополнительного функционала Сайта, не нарушая при этом законодательство РФ и/или законодательство иной страны, гражданином которой является Пользователь, и права третьих лиц. Администрация не несет ответственности за возможный ущерб третьим лицам и/или другим Пользователям, причиненный в результате использования Пользователем не принадлежащих ему денежных средств.-->
    </ul>

    <p class = 'title-point-static-pages'>5. Ограничение ответственности Администрации Сайта Studpad</p>
    <ul class = 'list-of-static-pages'>
        <li>5.1. Пользователь использует Программы для ЭВМ на собственный страх и риск. Использование Программ для ЭВМ осуществляется в состоянии «как есть».</li>
        <li>5.2. Администрация не несет ответственности за возможные противоправные действия Пользователя или третьих лиц.</li>
        <li>5.3. Администрация не несет ответственности за высказывания Пользователя, опубликованные посредством использования Программ для ЭВМ Сайта Studpad. Администрация не несет ответственности за поведение Пользователя при использовании им Программ для ЭВМ.</li>
        <li>5.4. Администрация не несет ответственности за утерю Пользователем возможности доступа к своему аккаунту на Сайте (утрату адреса электронной почты, пароля, иной информации, необходимой для использования Программ для ЭВМ Сайта Studpad).</li>
        <li>5.5. Администрация не несет ответственности за неполное, неточное, некорректное указание Пользователем своих данных при использовании Программ для ЭВМ.</li>
        <!--5.6. Администрация не осуществляет обмен Голосов на наличные или безналичные денежные средства или ценности и/или возврат денежных средств, уплаченных Пользователем при покупке Голосов.-->
        <!--5.7. Администрация не производит обмен одних приобретенных Пользователем элементов Дополнительного функционала Сайта на другие элементы Дополнительного функционала Сайта.
        5.8. Администрация не возмещает Пользователю расходы, связанные с приобретением им прав использования Дополнительного функционала Сайта, в том числе в случае приостановления или прекращения доступа к Сайту Studpad, в том числе в случае нарушения Пользователем Правил пользования Сайтом Studpad, и/или приостановления или прекращения настоящего Соглашения по любым основаниям.-->
        <li>5.5. Администрация не гарантирует, что:
            <ul type='square'>
                <li>5.5.1. Программы для ЭВМ будут удовлетворять субъективным требованиям и ожиданиям Пользователя;</li>
                <li>5.5.2. процесс использования Программ для ЭВМ будет протекать непрерывно, быстро, без технических сбоев, надежно и без ошибок;</li>
                <li>5.5.3. результаты, которые могут быть получены с использованием Программ для ЭВМ будут безошибочными;</li>
                <li>5.5.4. Программы для ЭВМ будут доступны и могут использоваться круглосуточно, в какой-то конкретный момент времени или в течение какого-либо периода времени.</li>
            </ul>
        </li>
        <li>5.6. Администрация не несет ответственности за возникновение прямого или косвенного ущерба для Пользователя либо иных третьих лиц, причиненного в результате:
        5.6.1. использования либо невозможности использования Программ для ЭВМ Сайта Studpad;
        5.6.2. несанкционированного доступа любых третьих лиц к личной информации Пользователя, включая учетную запись Пользователя, персональный счет Пользователя на Сайте.
        <li>5.7. При любых обстоятельствах ответственность Администрации перед Пользователем ограничена суммой в 1 000 (одна тысяча) рублей.</li>
        <li>5.8. Администрация не обязана предоставлять Пользователю какие-либо документы и прочие доказательства, свидетельствующие о нарушении Пользователем условий настоящего Соглашения, в результате которого Пользователю было частично или полностью отказано в предоставлении права доступа к Сайту (права на использование Программ для ЭВМ Сайта Studpad).</li>
        <li>5.9. Пользователь понимает, принимает и соглашается, что Программы для ЭВМ Сайта Studpad могут предусматривать различные звуковые и/или видеоэффекты, которые при определенных обстоятельствах могут вызывать у лиц, склонных к эпилептическим или иным расстройствам нервного характера, обострение указанных состояний, и Пользователь гарантирует, что указанными расстройствами он не страдает, или же обязуется не использовать Программы для ЭВМ, предусматривающие такого рода раздражители.</li>
        <li>5.10. Пользователь принимает и соглашается, что регулярное длительное (непрерывное) нахождение у персонального компьютера, использование иных технических устройств, может вызывать различные осложнения физического состояния, в том числе ослабление зрения, сколиоз, различные формы неврозов и прочие негативные воздействия на организм. Пользователь гарантирует, что он будет использовать Программы для ЭВМ исключительно на протяжении разумного времени, с перерывами на отдых или иные мероприятия по профилактике физического состояния, если таковые рекомендованы или предписаны Пользователю.</li>
    </ul>

    <p class = 'title-point-static-pages'>6. Условия об интеллектуальных правах</p>
    <ul class = 'list-of-static-pages'>
        <li>6.1. Исключительные права на Программы для ЭВМ Сайта Studpad:
            <ul type='square'>
                <li>6.1.1. Все Программы для ЭВМ являются объектами исключительных прав Администрации или иных правообладателей, все права на эти объекты защищены;</li>
                <li>6.1.2. Кроме случаев, установленных настоящим Соглашением, а также действующим законодательством Российской Федерации, никакие Программы для ЭВМ не могут быть скопированы (воспроизведены), переработаны, распространены, отображены во фрейме, опубликованы, скачаны, переданы, проданы или иным способом использованы целиком или по частям без предварительного разрешения правообладателя, кроме случаев, когда правообладатель явным образом выразил свое согласие на свободное использование Программ для ЭВМ любым лицом;</li>
                <li>6.1.3. Использование Пользователем Программ для ЭВМ, доступ к которым получен исключительно для личного некоммерческого использования, допускается при условии сохранения всех знаков авторства (копирайтов) или других уведомлений об авторстве, сохранения имени автора в неизменном виде и сохранении самой Программы для ЭВМ в неизменном виде;</li>
                <li>6.1.4. Любое использование Программ для ЭВМ, кроме разрешенного в настоящем Соглашении или в случае явно выраженного согласия правообладателя на такое использование, без предварительного письменного разрешения правообладателя, категорически запрещено;</li>
                <li>6.1.5. Если иное явным образом не установлено в настоящем Соглашении, ничто в настоящем Соглашении не может быть рассмотрено как передача Пользователю исключительных прав на контент Сайта и/или Программ для ЭВМ.</li>
            </ul>
        </li>
    </ul>

    <p class = 'title-point-static-pages'>7. Территория и срок действия настоящего Соглашения</p>
    <ul class = 'list-of-static-pages'>
        <li>7.1. Пользователь вправе использовать Программы для ЭВМ Сайта Studpad способами, описанными в настоящем Соглашении, на всей территории Российской Федерации, а также иных территориях, на которых они доступны в рамках обычного процесса функционирования Сайта.</li>
        <li>7.2. Настоящее Соглашение действует с момента принятия его условий Пользователем и действует в течение 1 (Одного) календарного года.</li>
        <li>7.3. Действие настоящего Соглашения автоматически продлевается еще на каждый последующий 1 (Один) год, если до истечения указанного срока действия Соглашения:
            <ul type='square'>
                <li>7.3.1. Администрация не примет решение об изменении положений настоящего Соглашения, о необходимости заключения с Пользователем нового соглашения, полного или частичного прекращении обслуживания Программ для ЭВМ и прекращения к ним доступа, прекращении настоящего Соглашения в отношении Пользователя или прекращения доступа к Программам для ЭВМ в отношении Пользователя;</li>
                <li>7.3.2. Пользователь не примет решение о прекращении права использования программ для ЭВМ.</li>
            </ul>
        </li>
        <li>7.4. Администрация вправе в любое время без уведомления Пользователя и без объяснения причин прекратить действие настоящего Соглашения в одностороннем внесудебном порядке с немедленным прекращением доступа и возможности использовать Сайт и без возмещения каких-либо затрат, убытков или возврата полученного по Соглашению, в том числе в случае:
            <ul type='square'>
                <li>7.4.1. закрытия Сайта Studpad;</li>
                <li>7.4.2. любого, в том числе однократного, нарушения Пользователем условий настоящего Соглашения, Правил пользования Сайтом Studpad или положений специальных документов, размещенных на Сайте.</li>
            </ul>
        </li>
        <li>7.5. Пользователь вправе прекратить настоящее Соглашение в одностороннем внесудебном порядке путем удаления своего аккаунта на Сайте в порядке, предусмотренном специальными документами, размещенными на Сайте.</li>
        <li>7.6. Пользователь соглашается и полностью признает, что все исключительные права на Программы для ЭВМ Сайта Studpad, принадлежат Администрации или третьим лицам, если иное в явном виде не указано в Соглашении или на Сайте.</li>
        <li>7.7. Пользователь не вправе использовать любые составляющие Программ для ЭВМ вне Сайта без предварительного письменного согласия Администрации.</li>
        <li>7.8. Пользователь понимает, принимает и соглашается, что любые элементы Программ для ЭВМ охраняются авторским правом. Несмотря на то, что Пользователю предоставляются права использования Программ для ЭВМ во время использования Сайта, такое использование Программ для ЭВМ не является и не может быть расценено ни при каких обстоятельствах как передача и/или уступка исключительного права в отношении указанных программ от Администрации к Пользователю.</li>
        <li>7.9. Настоящее Соглашение не предусматривает уступку каких-либо исключительных прав или выдачу исключительной лицензии на любые составляющие Программ для ЭВМ от Администрации к Пользователю.</li>
        <li>7.10. Если Пользователю в соответствии с законами его государства запрещено пользоваться Программами для ЭВМ в режиме онлайн или существуют иные законодательные ограничения, включая ограничения по возрасту допуска к подобным программам для ЭВМ, Пользователь не вправе использовать Программы для ЭВМ. В таком случае Пользователь самостоятельно несет ответственность за использование Программ для ЭВМ на территории своего государства и нарушение местного законодательства.</li>
        <li>7.11. Настоящее Соглашение может быть изменено Администрацией без какого-либо предварительного уведомления. Любые изменения в Соглашении, осуществленные Администрацией в одностороннем порядке вступают в силу с момента опубликования таких изменений на Сайте. Пользователь обязуется самостоятельно проверять Соглашение на предмет изменений. Неосуществление Пользователем действий по ознакомлению с Соглашением и/или измененной редакцией Соглашения не может служить основанием для неисполнения Пользователем своих обязательств и несоблюдения Пользователем ограничений, установленных Соглашением.</li>
        <li>7.12. Недействительность одного или нескольких положений настоящего Соглашения, признанная в установленном порядке вступившей в силу решением суда, не влечет для Пользователя и Администрации недействительности Соглашения в целом. В случае признания одного или нескольких положений Соглашения в установленном порядке недействительными, Администрация и Пользователь обязуются исполнять взятые на себя по Соглашению обязательства способом, максимально близко к таковому при заключении и/или согласованном изменении Соглашения.</li>
        <li>7.13. Настоящее Соглашение и взаимоотношения Администрации и Пользователя в связи с настоящим Соглашением и использованием Программ для ЭВМ регулируются законодательством Российской Федерации.</li>
        <li>7.14. В отношении формы и способа заключения настоящего Соглашения также применяются нормы Гражданского Кодекса РФ, регулирующие порядок и условия заключения договора путем акцепта публичной оферты.</li>
        <li>7.15. Все споры сторон по настоящему соглашению подлежат разрешению путем переписки и переговоров с использованием обязательного досудебного (претензионного) порядка. В случае невозможности достичь согласия между сторонами путем переговоров в течение 60 (шестидесяти) календарных дней с момента получения другой стороной письменной претензии, рассмотрение спора должно быть передано любой заинтересованной стороной в суд общей юрисдикции по месту нахождения Администрации (с исключением подсудности дела любым иным судам).</li>
        <!--<li>7.16. По любым вопросам, связанным с исполнением настоящего Соглашения, просьба обращаться по адресу регистрации Администрации Сайта Studpad: 191024, Санкт-Петербург, ул. Херсонская, д. 12-14, литер А, помещение 1-Н.</li>-->
    </ul>
</div>
