<script>
    $(document).on("page:load ready", function(){
        $('body').addClass('night').removeClass('day');
    });
</script>
<style>
    .cloud{
    }
    #cloud-1{
        top: 30px;
    }
    #cloud-2{
        top: 200px;
    }
    #cloud-3{
        top: 350px;
    }
</style>
<div class="homepage-hero-module">
    <div class="welcome-yet" style = 'background: url(/images/bkg-m1.png); background-size: cover; background-repeat: no-repeat;'>
        <div class="filter"></div>
        <!-- <video autoplay muted class="fillWidth">
            <source src="<%= image_path "Marguerite.mp4" %>" type="video/mp4"/>
        </video> -->
        <!--<img src = '' class = 'fillWidth'/>-->
    <%= render 'form' %>
    </div>
</div>


<script>
    $(window).scroll(function() {
        $('#introduce_img').each(function(){
        var imagePos = $(this).offset().top;

        var topOfWindow = $(window).scrollTop();
            if (imagePos < topOfWindow+400) {
                $(this).addClass("slideUp");
            }
        });
        $('#about-UM_img').each(function(){
        var imagePos = $(this).offset().top;

        var topOfWindow = $(window).scrollTop();
            if (imagePos < topOfWindow+400) {
                $(this).addClass("slideUp");
            }
        });
        $('#about-HW_img').each(function(){
        var imagePos = $(this).offset().top;

        var topOfWindow = $(window).scrollTop();
            if (imagePos < topOfWindow+400) {
                $(this).addClass("slideUp");
            }
        });
        $('#conclusion_img').each(function(){
        var imagePos = $(this).offset().top;

        var topOfWindow = $(window).scrollTop();
            if (imagePos < topOfWindow+400) {
                $(this).addClass("slideUp");
            }
        });
    });
</script>

<script>
    $( document ).ready(function() {
        $('#hat-studpad').hide();
        scaleVideoContainer();

        initBannerVideoSize('.video-container .poster img');
        initBannerVideoSize('.video-container .filter');
        initBannerVideoSize('.video-container video');

        $(window).on('resize', function() {
            scaleVideoContainer();
            scaleBannerVideoSize('.video-container .poster img');
            scaleBannerVideoSize('.video-container .filter');
            scaleBannerVideoSize('.video-container video');
        });

    });

    function scaleVideoContainer() {

        var height = $(window).height() + 5;
        var unitHeight = parseInt(height) + 'px';
        $('.homepage-hero-module').css('height',unitHeight);

    }

    function initBannerVideoSize(element){

        $(element).each(function(){
            $(this).data('height', $(this).height());
            $(this).data('width', $(this).width());
        });

        scaleBannerVideoSize(element);

    }

    function scaleBannerVideoSize(element){

        var windowWidth = $(window).width(),
        windowHeight = $(window).height() + 5,
        videoWidth,
        videoHeight;

        console.log(windowHeight);

        $(element).each(function(){
            var videoAspectRatio = $(this).data('height')/$(this).data('width');

            $(this).width(windowWidth);

            if(windowWidth < 1000){
                videoHeight = windowHeight;
                videoWidth = videoHeight / videoAspectRatio;
                $(this).css({'margin-top' : 0, 'margin-left' : -(videoWidth - windowWidth) / 2 + 'px'});

                $(this).width(videoWidth).height(videoHeight);
            }

            $('.homepage-hero-module .video-container video').addClass('animated');

        });
    }
</script>
