<style>
  body{
    background-image: none;
    background-color: rgba(245, 248, 250, 1);
  }
</style>
<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <!-- <video autoplay muted class="fillWidth">
            <source src="<%= image_path "Marguerite.mp4" %>" type="video/mp4"/>
        </video> -->
        <img src = 'https://pp.vk.me/c625519/v625519923/3f9fb/AeMS-NmKiOA.jpg' class = 'fillWidth'/>
        <div class="title-container">
            <div class="headline animated fadeInUp">
                <h1 class = 'logo'>Studpad</h1>
                <!-- <h4 class = "font-helvetica subheading">Создавайте и читайте интересные материалы.</br> Делитесь ими со своим классом.</h4> -->
                <!-- <h4 class = "font-helvetica subheading">Будьте всегда на связи с классом.</br> Сделайте процесс обучения интерснее.</h4> -->
                 <h4 class = "font-helvetica subheading">Пусть процесс обучения станет интереснее и эффективнее</h4>
                <div class = 'signUp'>
                    <div class = 'wrap-input-singUp'>
                        <input type = 'text' class = 'form-control input-skiny font-helvetica input-main-page' placeholder = 'Эл. почта'>
                    </div>
                    <div class = 'wrap-input-singUp'>
                        <input type = 'text' class = 'form-control input-skiny font-helvetica input-main-page' placeholder = 'Пароль'>
                    </div>
                    <div class = 'wrap-input-singUp'>
                        <input type = 'button' class = 'btn btn-primary btn-st welcom-main-page' value = 'Войти' /> • <a class = 'link-to-reg' href = '/'>Регистрация</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class = 'introduce'>
        <div class = 'content content-introduce'>
            <div class = 'content-text-bottom'>
                <!-- <h2>В Студпаде все легко и понятно</h2>
<p>В наш нестабильный экономический период эти два титана бизнеса совместными усилиями написали книгу, которая подчеркивает настоятельную необходимость приобретения финансовых знаний.
Стивен Форбс, главный редактор журнала «Forbes»</p> -->
            </div>
            <!-- <img src = "https://cs7055.vk.me/c540102/v540102493/42256/z60y3jXZ4v0.jpg" id = 'about-UM_img' class="animate img-hide"> -->
        </div>
    </div>


    <div class = 'about-UM'>
        <div class = 'content'>
            <img src = "https://cs7055.vk.me/c540102/v540102493/42256/z60y3jXZ4v0.jpg" id = 'about-UM_img' class="animate img-hide">
            <div class = 'content-text-right'>
                <h2>В Студпаде все легко и понятно</h2>
<p>В наш нестабильный экономический период эти два титана бизнеса совместными усилиями написали книгу, которая подчеркивает настоятельную необходимость приобретения финансовых знаний.
Стивен Форбс, главный редактор журнала «Forbes»</p>
            </div>
        </div>
    </div>


    <div class = 'about-HW'>
        <div class = 'content'>
            <img src = "https://cs7055.vk.me/c540109/v540109420/d95/GDRYmraGCUA.jpg" id = 'about-HW_img' class="animate img-hide">
            <div class = 'content-text-right'>
                <h2>В Студпаде все легко и понятно</h2>
<p>Ицхак Пинтесович - эксперт, создает обучающие программы, которые прошли более 100 000 человек с 4 континентов из 50 стран мира. Транснациональные корпорации используют обучающие программы Ицхака для повышения эффективности бизнеса.</p>
            </div>
        </div>
    </div>


    <div class = 'conclusion'>
        <div class = 'content'>
            <img src = "https://cs7055.vk.me/c540109/v540109420/d95/GDRYmraGCUA.jpg" id = 'conclusion_img' class="animate img-hide">
            <div class = 'content-text-right'>
                <h2>В Студпаде все легко и понятно</h2>
<p>Ицхак Пинтесович - эксперт, создает обучающие программы, которые прошли более 100 000 человек с 4 континентов из 50 стран мира. Транснациональные корпорации используют обучающие программы Ицхака для повышения эффективности бизнеса.</p>
            </div>
        </div>
    </div>


    <div class = 'welcome-yet'>
        <div class="filter"></div>
        <!-- <video autoplay muted class="fillWidth">
            <source src="<%= image_path "Marguerite.mp4" %>" type="video/mp4"/>
        </video> -->
        <img src = 'https://pp.vk.me/c7009/v7009943/9395/j4w8gKwGDNU.jpg' class = 'fillWidth'/>
        <div class="title-container">
            <div class="headline animated fadeInUp">
                <h1 class = 'logo'>Studpad</h1>
                <h4 class = "font-helvetica subheading">Создавайте и читайте интересные материалы.</br></h4>
                <div class = 'signUp'>
                    <div class = 'wrap-input-singUp'>
                        <input type = 'text' class = 'form-control input-skiny font-helvetica input-main-page' placeholder = 'Эл. почта'>
                    </div>
                    <div class = 'wrap-input-singUp'>
                        <input type = 'text' class = 'form-control input-skiny font-helvetica input-main-page' placeholder = 'Пароль'>
                    </div>
                    <div class = 'wrap-input-singUp'>
                        <input type = 'button' class = 'btn btn-primary btn-st welcom-main-page' value = 'Войти' /> • <a class = 'link-to-reg' href = '/'>Регистрация</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


<script>
    $(window).scroll(function() {
        $('#introduce_img').each(function(){
        var imagePos = $(this).offset().top;

        var topOfWindow = $(window).scrollTop();
            if (imagePos < topOfWindow+400) {
                $(this).addClass("slideUp");
            }
        });
        $('#about-UM_img').each(function(){
        var imagePos = $(this).offset().top;

        var topOfWindow = $(window).scrollTop();
            if (imagePos < topOfWindow+400) {
                $(this).addClass("slideUp");
            }
        });
        $('#about-HW_img').each(function(){
        var imagePos = $(this).offset().top;

        var topOfWindow = $(window).scrollTop();
            if (imagePos < topOfWindow+400) {
                $(this).addClass("slideUp");
            }
        });
        $('#conclusion_img').each(function(){
        var imagePos = $(this).offset().top;

        var topOfWindow = $(window).scrollTop();
            if (imagePos < topOfWindow+400) {
                $(this).addClass("slideUp");
            }
        });
    });
</script>

<script>
    $( document ).ready(function() {
        $('#hat-studpad').hide();
        scaleVideoContainer();

        initBannerVideoSize('.video-container .poster img');
        initBannerVideoSize('.video-container .filter');
        initBannerVideoSize('.video-container video');

        $(window).on('resize', function() {
            scaleVideoContainer();
            scaleBannerVideoSize('.video-container .poster img');
            scaleBannerVideoSize('.video-container .filter');
            scaleBannerVideoSize('.video-container video');
        });

    });

    function scaleVideoContainer() {

        var height = $(window).height() + 5;
        var unitHeight = parseInt(height) + 'px';
        $('.homepage-hero-module').css('height',unitHeight);

    }

    function initBannerVideoSize(element){

        $(element).each(function(){
            $(this).data('height', $(this).height());
            $(this).data('width', $(this).width());
        });

        scaleBannerVideoSize(element);

    }

    function scaleBannerVideoSize(element){

        var windowWidth = $(window).width(),
        windowHeight = $(window).height() + 5,
        videoWidth,
        videoHeight;

        console.log(windowHeight);

        $(element).each(function(){
            var videoAspectRatio = $(this).data('height')/$(this).data('width');

            $(this).width(windowWidth);

            if(windowWidth < 1000){
                videoHeight = windowHeight;
                videoWidth = videoHeight / videoAspectRatio;
                $(this).css({'margin-top' : 0, 'margin-left' : -(videoWidth - windowWidth) / 2 + 'px'});

                $(this).width(videoWidth).height(videoHeight);
            }

            $('.homepage-hero-module .video-container video').addClass('animated');

        });
    }
</script>