<div class = 'form-create-new-object animated zoomIn'>
    <h4>Правила защиты информации о пользователях сайта studpad.ru</h4>

    <p class = 'title-point-static-pages'>1. Общие положения</p>
    <ul class = 'list-of-static-pages'>
        <!--<li>1.1. Настоящие Правила являются официальным документом Общества с ограниченной ответственностью «Studpad», расположенного по адресу 191024, Санкт-Петербург, ул. Херсонская, д. 12-14, литер А, помещение 1-Н (далее – Администрация Сайта), и определяют порядок обработки и защиты информации о физических лицах, пользующихся услугами интернет-сайта http://studpad.ru/ (далее – Сайт) и его сервисов (далее – Пользователи).</li>-->
        <li>1.2. Целью настоящих Правил является обеспечение надлежащей защиты информации о пользователях, в том числе их персональных данных, от несанкционированного доступа и разглашения.</li>
        <li>1.3. Отношения, связанные со сбором, хранением, распространением и защитой информации о пользователях Сайта, регулируются настоящими Правилами, иными официальными документами Администрации Сайта и действующим законодательством Российской Федерации.</li>
        <li>1.4. Действующая редакция Правил, являющихся публичным документом, доступна любому пользователю сети Интернет при переходе по ссылке http://studpad.ru/privacy. Администрация Сайта вправе вносить изменения в настоящие Правила. При внесении изменений в Правила Администрация Сайта уведомляет об этом пользователей путем размещения новой редакции Правил на Сайте по постоянному адресу http://studpad.ru/privacy не позднее, чем за 10 дней до вступления в силу соответствующих изменений. Предыдущие редакции Правил хранятся в архиве документации Администрации Сайта.</li>
        <li>1.5. Настоящие Правила разработаны и используются в соответствии с Правилами пользования сайтом studpad.ru, размещенными на Сайте по адресу <a href = '/terms'>http://studpad.ru/terms</a>. В случае наличия противоречий между настоящими Правилами и иными официальными документами Администрации Сайта применению подлежат настоящие Правила.</li>
        <li>1.6. Регистрируясь и используя Сайт, Пользователь выражает свое согласие с условиями настоящих Правил.</li>
        <li>1.7. В случае несогласия Пользователя с условиями настоящих Правил использование Сайта и его сервисов должно быть немедленно прекращено.</li>
    </ul>


    <p class = 'title-point-static-pages'>2. Условия пользования Сайтом</p>
    <ul class = 'list-of-static-pages'>
        <li>2.1. Оказывая услуги по использованию Сайта и его сервисов (далее – Услуги Сайта), Администрация Сайта, действуя разумно и добросовестно, считает, что Пользователь:
            <ul type='square'>
                <li>обладает всеми необходимыми правами, позволяющими ему осуществлять регистрацию и использовать настоящий Сайт;</li>
                <li>указывает достоверную информацию о себе в объемах, необходимых для пользования Услугами Сайта;</li>
                <li>осознает, что информация на Сайте, размещаемая Пользователем о себе, может становиться доступной для других Пользователей Сайта и пользователей Интернета, может быть скопирована и распространена такими пользователями;</li>
                <li>осознает, что некоторые виды информации, переданные им другим Пользователям, не могут быть удалены самим Пользователем;</li>
                <li>ознакомлен с настоящими Правилами, выражает свое согласие с ними и принимает на себя указанные в них права и обязанности.</li>
            </ul>
        </li>
        <li>2.2. Администрация Сайта не проверяет достоверность получаемой (собираемой) информации о пользователях, за исключением случаев, когда такая проверка необходима в целях исполнения Администрацией Сайта обязательств перед пользователем.</li>
    </ul>


    <p class = 'title-point-static-pages'>3. Цели обработки информации</p>
    <ul class = 'list-of-static-pages'>
        <li>Администрация Сайта осуществляет обработку информации о Пользователях, в том числе их персональных данных, в целях выполнения обязательств Администрации Сайта перед Пользователями в отношении использования Сайта и его сервисов.</li>
    </ul>


    <p class = 'title-point-static-pages'>4. Состав информации о пользователях</p>
    <ul class = 'list-of-static-pages'>
        <li><b>4.1. Персональные данные Пользователей</b></br>
        Персональные данные Пользователей включают в себя:
            <ul type='square'>
                <li>4.1.1. предоставляемые Пользователями и минимально необходимые для регистрации на Сайте: имя, фамилия, статус (преподаватель, обучающийся), адрес электронной почты;</li>
                <li>4.1.2. предоставляемые Пользователями с использованием раздела редактирования своих страниц на Сайте http://studpad.ru/edit (в том числе учебное заведение);</li>
                <li>4.1.3. дополнительно предоставляемые Пользователями по запросу Администрации Сайта в целях исполнения Администрацией Сайта обязательств перед Пользователями, вытекающих из договора на оказание Услуг Сайта. Администрация Сайта вправе, в частности, запросить у Пользователя копию документа, удостоверяющего личность, либо иного документа, содержащего имя, фамилию, фотографию Пользователя, а также иную дополнительную информацию, которая, по усмотрению Администрации Сайта, будет являться необходимой и достаточной для идентификации такого Пользователя и позволит исключить злоупотребления и нарушения прав третьих лиц.</li>
            </ul>
        </li>
        <li><b>4.2. Иная информация о Пользователях, обрабатываемая Администрацией Сайта</b></br>
        Администрация Сайта обрабатывает также иную информацию о Пользователях, которая включает в себя:
            <ul type='square'>
                <li>4.2.1. стандартные данные, автоматически получаемые http-сервером при доступе к Сайту;<!-- и последующих действиях Пользователя (IP-адрес хоста, вид операционной системы пользователя, страницы Сайта, посещаемые пользователем);--></li>
                <li>4.2.2. информация, полученная в результате действий Пользователя на Сайте (в частности информация о публикациях).</li>
            </ul>
        </li>
    </ul>

    <p class = 'title-point-static-pages'>5. Обработка информации о пользователях</p>
    <ul class = 'list-of-static-pages'>
        <li><b>5.1. Обработка персональных данных осуществляется на основе принципов:</b></br>
        а) законности целей и способов обработки персональных данных;</br>
        б) добросовестности;</br>
        в) соответствия целей обработки персональных данных целям, заранее определенным и заявленным при сборе персональных данных, а также полномочиям Администрации Сайта;</br>
        г) соответствия объема и характера обрабатываемых персональных данных, способов обработки персональных данных целям обработки персональных данных;</br>
        д) недопустимости объединения созданных для несовместимых между собой целей баз данных, содержащих персональные данные.</br>
            <ul type='square'>
                <li>5.1.1. Условия и цели обработки персональных данных
                Администрация Сайта осуществляет обработку персональных данных пользователя в целях исполнения договора между Администрацией Сайта и Пользователем на оказание Услуг Сайта (п. 2.2 Правил пользования Сайтом studpad.ru <a href = '/terms'>http://studpad.ru/terms</a>). В силу статьи 6 Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных» отдельное согласие пользователя на обработку его персональных данных не требуется. В силу п.п. 2 п. 2 статьи 22 указанного закона Администрация Сайта вправе осуществлять обработку персональных данных без уведомления уполномоченного органа по защите прав субъектов персональных данных.</li>
                <li>5.1.2. Сбор персональных данных
                Сбор персональных данных Пользователя осуществляется на Сайте при регистрации, а также в дальнейшем при внесении пользователем по своей инициативе дополнительных сведений о себе с помощью инструментария Сайта.</br>
                Персональные данные, предусмотренные п. 4.1.1. настоящих Правил, предоставляются Пользователем и являются минимально необходимыми при регистрации.</br>
                Персональные данные, предусмотренные п. 4.1.2. настоящих Правил, дополнительно предоставляются Пользователем по собственной инициативе с использованием резделе «Мои настройки».</li>
                <li>5.1.3. Хранение и использование персональных данных
                Персональные данные пользователей хранятся исключительно на электронных носителях и обрабатываются с использованием автоматизированных систем, за исключением случаев, когда неавтоматизированная обработка персональных данных необходима в связи с исполнением требований законодательства.</li>
                <li>5.1.4. Передача персональных данных
                Персональные данные Пользователей не передаются каким-либо третьим лицам, за исключением случаев, прямо предусмотренных настоящими Правилами.</br>
                При указании пользователя или при наличии согласия пользователя возможна передача персональных данных пользователя третьим лицам-контрагентам Администрации Сайта с условием принятия такими контрагентами обязательств по обеспечению конфиденциальности полученной информации, в частности, при использовании приложений.</br>
                Приложения, используемые пользователями на Сайте, размещаются и поддерживаются третьими лицами (разработчиками), которые действуют независимо от Администрации Сайта и не выступают от имени или по поручению Администрации Сайта. Пользователи обязаны самостоятельно ознакомиться с правилами оказания услуг и политикой защиты персональных данных таких третьих лиц (разработчиков) до начала использования соответствующих приложений.</br>
                Действия таких третьих лиц (разработчиков) регулируются официальным документом Администрации Сайта Условиями размещения приложений.</br>
                Предоставление персональных данных Пользователей по запросу государственных органов (органов местного самоуправления) осуществляется в порядке, предусмотренном законодательством.</li>
                <li>5.1.5. Уничтожение персональных данных
                Персональные данные пользователя уничтожаются при:</br>
                – самостоятельном удалении Пользователем данных со своей персональной страницы;</br>
                – самостоятельном удалении Пользователем своей персональной страницы с использованием функциональной возможности «удалить свою страницу», доступной Пользователю в разделе «Мои настройки»;</br>
                – удалении Администрацией Сайта информации, размещаемой Пользователем, а также персональной страницы Пользователя в случаях, установленных Правилами пользования сайтом studpad.ru <a href = '/terms'>http://studpad.ru/terms</a> ( п.п. 7.2.2. и 8.6.).</br>
                В случае самостоятельного удаления Пользователем персональной страницы Пользователь не имеет возможности восстановить свою персональную страницу.</li>
            </ul>
        </li>
        <!--<li>5.2. Пользователь самостоятельно определяет режим конфиденциальности и условия доступа к информации, указанной в п.п. 4.2.3 – 4.2.5 настоящих Правил, посредством соответствующих настроек. Администрация Сайта принимает технические и организационные меры по обеспечению функционирования соответствующего инструментария Сайта.</li>-->
    </ul>


    <p class = 'title-point-static-pages'>6. Права и обязанности пользователей</p>
    <ul class = 'list-of-static-pages'>
        <li>6.1. Пользователи вправе:
            <ul type='square'>
                <li>6.1.1. осуществлять свободный бесплатный доступ к информации о себе посредством загрузки своих персональных страниц на Сайте с использованием адреса электронной почты и пароля;</li>
                <li>6.1.2. самостоятельно вносить изменения и исправления в информацию о себе на персональной странице Пользователя на Сайте, при условии, что такие изменения и исправления содержат актуальную и достоверную информацию;</li>
                <li>6.1.3. удалять информацию о себе со своей персональной страницы на Сайте;</li>
                <li>6.1.4. требовать от Администрации Сайта уточнения своих персональных данных, их блокирования или уничтожения в случае, если такие данные являются неполными, устаревшими, недостоверными, незаконно полученными или не являются необходимыми для заявленной цели обработки и если невозможно самостоятельно выполнить действия, предусмотренные п.п. 6.1.3. и 6.1.4. настоящих Правил;</li>
                <li>6.1.5. на основании запроса получать от Администрации Сайта информацию, касающуюся обработки его персональных данных.</li>
            </ul>
        </li>
        <li>6.2. Информация о зарегистрированном Пользователе всегда доступна любому зарегистрированному Пользователю Сайта:
            <ul type='square'>
                <li>6.2.1. фамилия и имя Пользователя;</li>
                <li>6.2.2. профильная фотография, учебное заведение<!--, год (планируемый год) окончания высшего учебного заведения, наименование факультета посещаемого или оконченного Пользователем высшего учебного заведения и записи Пользователя в микроблоге («Стена»), если Пользователь разместил эту информацию на Сайте в разделе «Моя страница»;-->, публикации Пользователя</li>
                <!--<li>6.2.3. информация о подписках и подписчиках пользователя;</li>
                <li>6.2.4. список друзей пользователя, за исключением ограниченного перечня друзей, который пользователь предпочел скрыть.</li>-->
            </ul>
        </li>
        <!--<li>6.3. Настройка пользователем уровня конфиденциальности информации о себе
            <ul type='square'>
                <li>6.3.1. Пользователь вправе, с учетом ограничений, предусмотренных п. 6.2. настоящих Правил, установить в отношении своих персональных данных (п. 4.1. Правил), а также в отношении информации, предусмотренной п.п. 4.2.3. настоящих Правил, один из следующих уровней конфиденциальности:
                а) информация доступна всем Пользователям Сайта;
                б) информация доступна всем Пользователям Сайта, за исключением определенных Пользователей;
                в) информация доступна лицам, имеющим на Сайте статус друзей Пользователя, а также лицам, имеющим статус их друзей;
                г) информация доступна только лицам, имеющим на Сайте статус друзей пользователя;
                д) информация доступна только некоторым лицам, имеющим на Сайте статус друзей Пользователя;
                е) информация доступна некоторым спискам друзей (в случае, если пользователь создал хотя бы один список друзей с помощью инструментария «Создать список» в разделе «Мои Друзья»);
                ж) информация доступна только Пользователю.</li>
                <li>6.3.2. В отношении информации, закрепленной в п. 6.2. настоящих Правил, Пользователь вправе установить один из следующих уровней конфиденциальности:
                а) информация доступна всем пользователям сети Интернет и индексируется поисковыми системами;
                в) информация доступна только Пользователям Сайта;
                б) информация доступна всем пользователям Интернета, но при этом она не индексируется поисковыми системами.</li>
                <li>6.3.3. Администрация Сайта не несет ответственности за разглашение персональных данных Пользователя другими Пользователями Сайта, получившими доступ к таким данным в соответствии с выбранным Пользователем уровнем конфиденциальности.</li>
                <li>6.3.4. При удалении персональных данных (иной пользовательской информации) с персональной страницы Пользователя или удалении персональной страницы Пользователя с Сайта, информация о Пользователе, скопированная другими Пользователями или хранящаяся на страницах других Пользователей, сохраняется.</li>
                <li>6.3.5. Чтобы убедиться в правильности выбранного уровня конфиденциальности, Пользователь может с помощью инструментария Сайта посмотреть, как видят его персональную страницу другие Пользователи.</li>
            </ul>
        </li>-->
        <li>6.3. Администрация Сайта не несет ответственности за разглашение персональных данных Пользователя другими Пользователями Сайта, получившими доступ к таким данным в соответствии с выбранным Пользователем уровнем конфиденциальности.
        </li>
        <li>6.4. При удалении персональных данных (иной пользовательской информации) с персональной страницы Пользователя или удалении персональной страницы Пользователя с Сайта, информация о Пользователе, скопированная другими Пользователями или хранящаяся на страницах других Пользователей, сохраняется.</li>
    </ul>


    <p class = 'title-point-static-pages'>7. Меры по защите информации о Пользователях</p>
    <ul class = 'list-of-static-pages'>
        <li>7.1. Администрация Сайта принимает технические и организационно-правовые меры в целях обеспечения защиты персональных данных Пользователя от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий.</li>
        <li>7.2. Для авторизации доступа к Сайту используется адрес электронной почты и пароль Пользователя. Ответственность за сохранность данной информации несет Пользователь. Пользователь не вправе передавать собственный адрес электронной почты и пароль третьим лицам, а также обязан предпринимать меры по обеспечению их конфиденциальности.</li>
        <!--<li>7.3. В целях обеспечения более надежной защиты информации о Пользователях Администрация Сайта использует систему привязки страницы к мобильному телефону. Для осуществления данной системы Пользователь должен предоставить Администрации Сайта номер своего мобильного телефона.
        В рамках системы привязки страницы к мобильному телефону Пользователь в случае утраты логина или пароля может восстановить доступ к странице с помощью кода восстановления, содержащегося в SMS-сообщении, которое Пользователь получает на свой мобильный телефон.
        В целях снижения вероятности использования третьими лицами логинов и паролей Пользователей для отсылки спама от их имени, в случае если ввод логина и пароля Пользователя осуществляется с использованием непривычного для данного Пользователя сервера (в частности, сервера иностранного государства), Администрация Сайта блокирует вход на персональную страницу Пользователя при помощи сообщения с требованием указать некоторые цифры мобильного телефона Пользователя. После трех неудачных попыток ввода цифр возможность доступа к персональной странице с использованием данного сервера блокируется на 4 часа.</li>
        <li>7.4. Пользователь вправе получать информацию о том, в какое время и с каких устройств производилась авторизация на его персональную страницу, с помощью ссылки «Показать историю активности» в разделе «Мои Настройки / Безопасность».</li>-->
    </ul>

    <p class = 'title-point-static-pages'>8. Ограничение действия Правил</p>
    <ul class = 'list-of-static-pages'>
        <li>Действие настоящих Правил не распространяется на действия и интернет-ресурсы третьих лиц. 
            </br></br>
            Администрация Сайта не несет ответственности за действия третьих лиц, получивших в результате использования Интернета или Услуг Сайта доступ к информации о Пользователе в соответствии с выбранным Пользователем уровнем конфиденциальности, за последствия использования информации, которая, в силу природы Сайта, доступна любому пользователю сети Интернет. Администрация Сайта рекомендует Пользователям ответственно подходить к решению вопроса об объеме информации о себе, размещаемой на Сайте. 
        </li>
    </ul>


    <!--<p class = 'title-point-static-pages'>9. Обращения пользователей</p>
    <ul class = 'list-of-static-pages'>
        <li>9.1. Пользователи вправе направлять Администрации Сайта свои запросы, в том числе запросы относительно использования их персональных данных, предусмотренные п. 6.1.6 настоящих Правил, в письменной форме по адресу: Россия, 191024, Санкт-Петербург, ул. Херсонская, д. 12-14, литер А, помещение 1-Н или в форме электронного документа, подписанного квалифицированной электронной подписью в соответствии с законодательством Российской Федерации, по адресу электронной почты: support@studpad.ru.
        </li>
        <li>9.2. Запрос, направляемый пользователем, должен содержать следующую информацию:
        номер основного документа, удостоверяющего личность пользователя или его представителя;
        сведения о дате выдачи указанного документа и выдавшем его органе;
        сведения, подтверждающие участие пользователя в отношениях с оператором (в частности, порядковый номер id пользователя или короткое (поддоменное) имя, заменяющее порядковый номер id);
        подпись пользователя или его представителя.</li>
        <li>9.3. Администрация Сайта обязуется рассмотреть и направить ответ на поступивший запрос пользователя в течение 30 дней с момента поступления обращения.</li>
        <li>9.4. Вся корреспонденция, полученная Администрацией Сайта от пользователей (обращения в письменной или электронной форме), относится к информации ограниченного доступа и не разглашается без письменного согласия Пользователя. Персональные данные и иная информация о Пользователе, направившем запрос, не могут быть без специального согласия Пользователя использованы иначе, как для ответа по теме полученного запроса или в случаях, прямо предусмотренных законодательством.</li>
    </ul>-->
</div>
