<div class = 'form-create-new-object animated zoomIn'>
    <h3>Правила пользования</h3>
    <p>

    </p>

    <p>Добро пожаловать на Сайт Studpad, интернет-ресурс, который помогает Вам просматривать публикации и быть на связи со своими коллегами и учениками. Сайт Studpad (<a href = 'http://studpad.ru'>http://studpad.ru</a>) – это сетевой проект, объединяющий людей на основании мест учебы.</p>
    <p>Администрация Сайта предоставляет Вам доступ к использованию Сайта Studpad и его функционала на условиях, являющихся предметом настоящих Правил пользования Сайтом Studpad. В этой связи Вам необходимо внимательно ознакомиться с условиями настоящих Правил, которые рассматриваются Администрацией Сайта как публичная оферта в соответствии со ст. 437 Гражданского кодекса Российской Федерации.</p>
    <p>
        <a href = '/licence'>Лицензионное соглашение</a></br>
       <a href = '/privacy'> Правила защиты информации о пользователях сайта studpad.ru</a>
    </p>


    
    <p class = 'title-point-static-pages'>1. Термины, используемые в настоящих Правилах</p>
    <ul class = 'list-of-static-pages'>
        <li>1.1. Сайт Studpad (или Сайт) – интернет-ресурс, состоящий из совокупности (а) программ для ЭВМ (программных кодов, исполняющихся на ЭВМ) и (б) информации (Контента), размещенной в них Администрацией и/или Пользователями. Сайт Studpad содержится в информационной системе, обеспечивающей доступность такой информации в сети Интернет по сетевому адресу (доменному имени): <a href = 'http://studpad.ru'>http://studpad.ru</a> (включая все уровни указанного домена, как функционирующие на дату принятия Пользователем настоящих Правил, так и запускаемые и вводимые в эксплуатацию в течение всего срока его действия).</li>
        <!--<li>1.2. Дополнительный функционал Сайта – программные коды, исполняющиеся на ЭВМ в составе программ для ЭВМ Сайта Studpad и выполняющие определенные дополнительные функции Сайта. Перечень элементов, составляющих Дополнительный функционал Сайта, а также условия предоставления Администрацией Пользователю права на их использование определены в лицензионном соглашении, действующая редакция которого располагается в свободном доступе в сети Интернет по адресу: http://studpad.ru/licence, заключаемом Администрацией Сайта с Пользователем в упрощенном порядке и являющимся договором присоединения по смыслу п. 5 ст. 1286 ГК РФ.</li> -->
    </ul>


    <p class = 'title-point-static-pages'>2. Статус Правил пользования Сайтом Studpad</p>
    <ul class = 'list-of-static-pages'>
        <li>2.1. Настоящие Правила пользования Сайтом Studpad (ранее и далее – Правила) разработаны Администрацией Сайта и определяют условия использования и развития Сайта, а также права и обязанности его Пользователей и Администрации. Правила распространяются также на отношения, связанные с правами и интересами третьих лиц, не являющимися Пользователями Сайта, но чьи права и интересы могут быть затронуты в результате действий Пользователей Сайта.</li>
        <li>2.2. Настоящие Правила являются юридически обязательным соглашением между Пользователем и Администрацией Сайта, предметом которого является предоставление Администрацией Сайта Пользователю доступа к использованию Сайта и его функционала. Помимо настоящих Правил, к соглашению между Пользователем и Администрацией Сайта относятся все специальные документы, регулирующие предоставление доступа к использованию отдельного, в том числе Дополнительного, функционала Сайта, размещенного в соответствующих разделах Сайта в сети Интернет.</li>
        <li>2.3. Пользователь обязан полностью ознакомиться с настоящими Правилами до момента регистрации на Сайте. Регистрация Пользователя на Сайте означает полное и безоговорочное принятие Пользователем настоящих Правил в соответствии со ст. 438 Гражданского кодекса Российской Федерации.</li>
        <li>2.4. Настоящие Правила могут быть изменены и/или дополнены Администрацией Сайта в одностороннем порядке без какого-либо специального уведомления. Настоящие Правила являются открытым и общедоступным документом. Действующая редакция Правил располагается в сети Интернет по адресу: <a href = '/terms'>http://studpad.ru/terms</a>. Администрация Сайта рекомендует Пользователям регулярно проверять условия настоящих Правил на предмет их изменения и/или дополнения. Продолжение использования Сайта Пользователем после внесения изменений и/или дополнений в настоящие Правила означает принятие и согласие Пользователя с такими изменениями и/или дополнениями.</li>
    </ul>


    <p class = 'title-point-static-pages'>3. Статус Сайта Studpad</p>
    <ul class = 'list-of-static-pages'>
        <li>3.1. Права на Сайт в целом и на использование сетевого адреса (доменного имени) http://studpad.ru принадлежат Администрации Сайта. Последняя предоставляет доступ к Сайту всем заинтересованным лицам в соответствии с настоящими Правилами и действующим законодательством Российской Федерации.</li>
        <li>3.2. Настоящими Правилами установлены условия, в соответствии с которыми права на использование информации и результатов интеллектуальной деятельности (включая, но не ограничиваясь литературными, музыкальными, аудиовизуальными произведениями и фонограммами, произведениями графики и дизайна, фотографическими произведениями, программами для ЭВМ) в составе отдельных разделов Сайта, могут принадлежать Пользователям Сайта и иным лицам, самостоятельно создавшим и/или разместившим указанные объекты на Сайте без непосредственного участия Администрации Сайта.</li>
    </ul>


    <p class = 'title-point-static-pages'>4. Администрация Сайта Studpad</p>
    <ul class = 'list-of-static-pages'>
        <li>4.1. Под Администрацией Сайта Studpad (ранее и далее – Администрация Сайта или Администрация) в настоящих Правилах и иных специальных документах, размещенных на Сайте, понимается учредитель Сайта Никитин М.В. и технический директор Стрельников Б.С.</li>
        <!--<li>4.2. Обращения, предложения и претензии физических и юридических лиц к Администрации Сайта в связи с настоящими Правилами и всеми вопросами по функционированию Сайта, нарушениями прав и интересов третьих лиц при его использовании, а также для запросов уполномоченных законодательством Российской Федерации лиц могут быть направлены на почтовый адрес ООО «В Контакте», указанный в п. 4.1. настоящих Правил.</li>-->
        <li>4.2. В отношении функционирования и развития Сайта Администрация руководствуется законодательством Российской Федерации, настоящими Правилами и иными специальными документами, которые разработаны или могут быть разработаны и приняты Администрацией Сайта в целях регламентации предоставления Пользователям доступа к отдельному функционалу Сайта.</li>
        <li>4.3. Никакие положения настоящих Правил не предоставляют Пользователю право на использование фирменного наименования, товарных знаков, доменных имен и иных отличительных знаков Администрации Сайта. Право на использование фирменного наименования, товарных знаков, доменных имен и иных отличительных знаков Администрации Сайта может быть предоставлено исключительно по письменному соглашению с Администрацией Сайта.</li>
    </ul>

    <p class = 'title-point-static-pages'>5. Регистрация на Сайте Studpad и статус Пользователя</p>
    <ul class = 'list-of-static-pages'>
        <li>5.1. Регистрация Пользователя на Сайте является бесплатной, добровольной и производится по адресу в сети Интернет: http://studpad.ru.</li>
        <li>5.2. Пользователем Сайта является физическое лицо, зарегистрированное на Сайте в соответствии с установленным настоящими Правилами порядком, достигшее возраста, допустимого в соответствии с законодательством Российской Федерации для акцепта настоящих Правил, и обладающее соответствующими полномочиями (ранее и далее – Пользователь).</li>
        <li>5.3. При регистрации на Сайте Пользователь обязан предоставить Администрации Сайта необходимую достоверную и актуальную информацию для формирования персональной страницы Пользователя, включая уникальные для каждого Пользователя адрес электронной почты и пароль доступа к Сайту, а также фамилию и имя. Регистрационная форма Сайта может запрашивать у Пользователя дополнительную информацию.</li>
        <li>5.4. Пользователь несет ответственность за достоверность, актуальность, полноту и соответствие законодательству Российской Федерации предоставленной при регистрации информации и ее чистоту от претензий третьих лиц.</li>
        <li>5.5. При регистрации Пользователь соглашается с настоящими Правилами и принимает на себя указанные в них права и обязанности, связанные с использованием и функционированием Сайта. Пользователь приобретает полный доступ к использованию функционала Сайта, за исключением Дополнительного функционала. Право использования Дополнительного функционала Сайта предоставляется Пользователю при выполнении дополнительно к указанному выше условий лицензионного соглашения (см. п. 1.2. настоящих Правил).</li>
        <li>5.6. После успешной регистрации Пользователя на Сайте Администрация принимает на себя права и обязанности перед Пользователем, указанные в настоящих Правилах.</li>
        <li>5.7. Обработка персональных данных Пользователя осуществляется в соответствии с законодательством Российской Федерации. Администрация Сайта обрабатывает персональные данные Пользователя в целях предоставления Пользователю доступа к использованию функционала Сайта, в том числе в целях получения Пользователем персонализированной (таргетированной) рекламы; проверки, исследования и анализа таких данных, позволяющих поддерживать и улучшать функционал и разделы Сайта, а также разрабатывать новый функционал и разделы Сайта. Администрация Сайта принимает все необходимые меры для защиты персональных данных Пользователя от неправомерного доступа, изменения, раскрытия или уничтожения. Администрация предоставляет доступ к персональным данным Пользователя только тем работникам, подрядчикам и агентам Администрации, которым эта информация необходима для обеспечения функционирования Сайта и предоставления Пользователю доступа к его использованию. Администрация Сайта вправе использовать предоставленную Пользователем информацию, в том числе персональные данные, в целях обеспечения соблюдения требований действующего законодательства Российской Федерации (в том числе в целях предупреждения и/или пресечения незаконных и/или противоправных действий Пользователей). Раскрытие предоставленной Пользователем информации может быть произведено лишь в соответствии с действующим законодательством Российской Федерации по требованию суда, правоохранительных органов, а равно в иных предусмотренных законодательством Российской Федерации случаях. Поскольку Администрация Сайта осуществляет обработку персональных данных Пользователя в целях исполнения настоящих Правил, в силу положений законодательства о персональных данных согласие Пользователя на обработку его персональных данных не требуется.</li>
        <li>5.8. Выбранные Пользователем адрес электронной почты и пароль являются необходимой и достаточной информацией для доступа Пользователя на Сайт. Пользователь не имеет права передавать свои адрес электронной почты и пароль третьим лицам, несет полную ответственность за их сохранность, самостоятельно выбирая способ их хранения. Пользователь на используемом им аппаратно-программном обеспечении может разрешить хранение адреса электронной почты и пароля (с использованием файлов cookies) для последующей автоматической авторизации на Сайте.</li>
        <li>5.9. Если Пользователем не доказано обратное, любые действия, совершенные с использованием его адреса электронной почты и пароля, считаются совершенными соответствующим Пользователем. В случае несанкционированного доступа к адресу электронной почты и паролю и/или персональной странице Пользователя, или распространения логина и пароля Пользователь обязан незамедлительно сообщить об этом Администрации Сайта в установленном порядке.</li>
        <li>5.10. После регистрации Пользователь получает право самостоятельно в личных некоммерческих целях создавать, использовать и определять содержание собственной персональной страницы.</li>
        <li>5.11. Пользователь как обладатель информации, размещенной на собственной персональной странице, осознает, что за исключением случаев, установленных настоящими Правилами и действующим законодательством Российской Федерации, Администрация Сайта не принимает участие в формировании и использовании содержания и контроле доступа других пользователей к персональной странице Пользователя.</li>
        <li>5.12. В отношении информации о себе Пользователь имеет право: (а) самостоятельно удалять ранее размещенную Пользователем информацию на Сайте; (б) самостоятельно удалять персональную страницу Пользователя с использованием функциональной возможности «удалить свою страницу», доступной Пользователю в разделе «Настройки».</li>
    </ul>


    <p class = 'title-point-static-pages'>6. Обязанности Пользователя Studpad</p>
    <ul class = 'list-of-static-pages'>
    <li>6.1. При использовании Сайта Пользователь обязан:
        <ul type="square">
            <li>соблюдать положения действующего законодательства Российской Федерации, настоящих Правил и иных специальных документов Администрации Сайта;</li>
            <li>предоставлять при регистрации достоверные, полные и актуальные данные, следить за их актуализацией;
            информировать Администрацию Сайта о несанкционированном доступе к персональной странице и/или о несанкционированном доступе и/или использовании пароля и логина Пользователя;</li>
            <li>не предоставлять доступ другим Пользователям к собственной персональной странице или к отдельной содержащейся на ней информации в случае, если это может привести к нарушению законодательства Российской Федерации и/или настоящих Правил, специальных документов Администрации Сайта;</li>
            <li>не размещать на персональной странице информацию и объекты (включая ссылки на них), которые могут нарушать права и интересы других лиц;</li>
            <li>перед размещением информации и объектов (включая, но не ограничиваясь, изображениями других лиц, чужими текстами различного содержания, аудиозаписями и видеофильмами) предварительно оценивать законность их размещения;</li>
            <li>осуществлять резервное копирование важной для Пользователя хранящейся на его персональной странице информации.</li>
        </ul>
    </li>
    <li>6.2. В случае наличия сомнений в отношении законности осуществления тех или иных действий, в том числе по размещению информации или предоставлению доступа, Администрация Сайта рекомендует воздержаться от осуществления последних.</li>
    <li>6.3. Пользователю при использовании Сайта запрещается:
        <ul type="square">
            <li>6.3.1. регистрироваться в качестве Пользователя от имени или вместо другого лица («фальшивый аккаунт») или регистрировать группу (объединение) лиц или юридическое лицо в качестве Пользователя. При этом, возможна регистрация от имени и поручению другого физического лица или юридического лица при условии получения необходимых полномочий в порядке и форме, предусмотренных законодательством Российской Федерации;
            <li>6.3.2. вводить Пользователей в заблуждение относительно своей личности, используя адрес электронной почты и пароль другого зарегистрированного Пользователя;
            <li>6.3.3. искажать сведения о себе, своем возрасте или своих отношениях с другими лицами или организациями;
            <li>6.3.4. загружать, хранить, публиковать, распространять и предоставлять доступ или иным образом использовать любую информацию, которая:
                <ul type="circle">
                    <li>(а) содержит угрозы, дискредитирует, оскорбляет, порочит честь и достоинство или деловую репутацию или нарушает неприкосновенность частной жизни других Пользователей или третьих лиц;</li>
                    <li>(б) нарушает права несовершеннолетних лиц;</li>
                    <li>(в) является вульгарной или непристойной, содержит порнографические изображения и тексты или сцены сексуального характера с участием несовершеннолетних;</li>
                    <li>(г) содержит сцены бесчеловечного обращения с животными;</li>
                    <li>(д) содержит описание средств и способов суицида, любое подстрекательство к его совершению;
                    <li>(е) пропагандирует и/или способствует разжиганию расовой, религиозной, этнической ненависти или вражды, пропагандирует фашизм или идеологию расового превосходства;</li>
                    <li>(ж) содержит экстремистские материалы;</li>
                    <li>(з) пропагандирует преступную деятельность или содержит советы, инструкции или руководства по совершению преступных действий;</li>
                    <li>(и) содержит информацию ограниченного доступа, включая, но не ограничиваясь, государственной и коммерческой тайной, информацией о частной жизни третьих лиц;</li>
                    <li>(к) содержит рекламу или описывает привлекательность употребления наркотических веществ, в том числе «цифровых наркотиков» (звуковых файлов, оказывающих воздействие на мозг человека за счет бинауральных ритмов), информацию о распространении наркотиков, рецепты их изготовления и советы по употреблению;</li>
                    <li>(л) носит мошеннический характер;</li>
                    <li>(м) а также нарушает иные права и интересы граждан и юридических лиц или требования законодательства Российской Федерации.</li>
                </ul>
            </li>
            <li>6.3.5. незаконно загружать, хранить, публиковать, распространять и предоставлять доступ или иным образом использовать интеллектуальную собственность Пользователей и третьих лиц;</li>
            <li>6.3.6. использовать программное обеспечение и осуществлять действия, направленные на нарушение нормального функционирования Сайта или персональных страниц Пользователей;</li>
            <li>6.3.7. загружать, хранить, публиковать, распространять и предоставлять доступ или иным образом использовать вирусы, трояны и другие вредоносные программы;</li>
            <li>6.3.8. использовать без специального на то разрешения Администрации Сайта автоматизированные скрипты (программы) для сбора информации на Сайте и/или взаимодействия с Сайтом и его функционалом;
            <li>6.3.9. любым способом, в том числе, но не ограничиваясь, путем обмана, злоупотребления доверием, взлома, пытаться получить доступ к адресу электронной почты и паролю другого Пользователя;
            <li>6.3.10. осуществлять незаконные сбор и обработку персональных данных других лиц;</li>
            <li>6.3.11. осуществлять использование Сайта иным способом, кроме как через интерфейс, предоставленный Администрацией Сайта, за исключением случаев, когда такие действия были прямо разрешены Пользователю в соответствии с отдельным соглашением с Администрацией;</li>
            <li>6.3.12. воспроизводить, дублировать, копировать, продавать, осуществлять торговые операции и перепродавать доступ к использованию Сайта, в том числе его Дополнительного функционала, для каких-либо целей, за исключением случаев, когда такие действия были прямо разрешены Пользователю в соответствии с условиями отдельного соглашения с Администрацией;</li>
            <li>6.3.13. размещать коммерческую и политическую рекламу вне специальных разделов Сайта, установленных Администрацией Сайта;</li>
            <li>6.3.14. размещать любую другую информацию, которая, по личному мнению Администрации, является нежелательной, не соответствует целям создания Сайта, ущемляет интересы Пользователей или по другим причинам является нежелательной для размещения на Сайте;</li>
            <li>6.3.15. осуществлять самостоятельно либо от имени других Пользователей с использованием функционала их аккаунта, в том числе путем введения в заблуждение или с обещанием поощрения, в том числе с использованием любых программ, автоматизированных скриптов, массовые однотипные действия, направленные на искусственное повышение показателей счётчиков Сайта (числа публикаций и т.д.).</li>
        </ul>
    </li>
    <li>6.4. Пользователь несет личную ответственность за любую информацию, которую размещает на Сайте, сообщает другим Пользователям, а также за любые взаимодействия с другими Пользователями, осуществляемые на свой риск.</li>
    <li>6.5. В случае несогласия Пользователя с настоящими Правилами или их обновлениями, Пользователь обязан отказаться от его использования, проинформировав об этом Администрацию Сайта в установленном порядке.</li>
    <li>6.6. Приобретение Пользователем права использования Дополнительного функционала Сайта осуществляется на основании лицензионного соглашения, текст которого расположен в свободном доступе в сети Интернет по адресу: http://studpad.ru/licence, заключаемого Администрацией Сайта с Пользователем в упрощенном порядке и являющегося договором присоединения по смыслу п. 5 ст. 1286 ГК РФ.</li>
    </ul>


    <p class = 'title-point-static-pages'>7. Условия об интеллектуальных правах</p>
    <ul class = 'list-of-static-pages'>
        <li>7.1. Исключительные права на Контент, размещенный на Сайте.
            <ul type="square">
                <li>7.1.1. Все объекты, размещенные на Сайте, в том числе элементы дизайна, текст, графические изображения, иллюстрации, видео, скрипты, программы, музыка, звуки и другие объекты и их подборки (далее — Контент), являются объектами исключительных прав Администрации, Пользователей Сайта и других правообладателей, все права на эти объекты защищены.</li>
                <li>7.1.2. Кроме случаев, установленных настоящими Правилами, а также действующим законодательством Российской Федерации, никакой Контент не может быть скопирован (воспроизведен), переработан, распространен, отображен во фрейме, опубликован, скачан, передан, продан или иным способом использован целиком или по частям без предварительного разрешения правообладателя, кроме случаев, когда правообладатель явным образом выразил свое согласие на свободное использование Контента любым лицом.
                <li>7.1.3. Пользователь, размещая на Сайте принадлежащий ему на законных основаниях Контент, предоставляет другим пользователям неисключительное право на его использование путем просмотра, воспроизведения (в том числе копирования), переработку (в том числе на распечатку копий) и иные права исключительно с целью личного некоммерческого использования, кроме случаев, когда такое использование причиняет или может причинить вред охраняемым законом интересам правообладателя.</li>
                <li>7.1.4. Использование Пользователем Контента, доступ к которому получен исключительно для личного некоммерческого использования, допускается при условии сохранения всех знаков авторства (копирайтов) или других уведомлений об авторстве, сохранения имени автора в неизменном виде, сохранении произведения в неизменном виде.</li>
                <li>7.1.5. Пользователь предоставляет также Администрации Сайта неисключительное право использовать на безвозмездной основе размещенный на Сайте и принадлежащий ему на законных основаниях Контент в целях обеспечения Администрацией Сайта функционирования Сайта в объеме, определяемом функционалом и архитектурой Сайта. Указанное неисключительное право предоставляется на срок размещения Контента на Сайте, включает право переработки Контента путем размещения и для последующего показа совместно с Контентом и/или с его использованием Контента рекламной информации и распространяет свое действие на территории стран всего мира. Администрация Сайта вправе передавать права, указанные в настоящем пункте третьим лицам.</li>
                <li>7.1.6. Если Пользователь удаляет свой Контент с Сайта, неисключительное право, упомянутое в п. 7.1.5. настоящих Правил, будет автоматически отозвано, однако Администрация оставляет за собой право в случае необходимости, обусловленной техническими особенностями работы Сайта, сохранять архивные копии пользовательского Контента в течение необходимого срока.</li>
                <li>7.1.7. Кроме своего собственного Контента, Пользователь не вправе загружать или иным образом доводить до всеобщего сведения (публиковать на Сайте) Контент других сайтов, баз данных и прочие результаты интеллектуальной деятельности при отсутствии явным образом выраженного согласия правообладателя на такие действия.</li>
                <li>7.1.8. Любое использование Сайта или Контента, кроме разрешенного в настоящих Правилах или в случае явно выраженного согласия правообладателя на такое использование, без предварительного письменного разрешения правообладателя, категорически запрещено.</li>
                <li>7.1.9. Если иное явным образом не установлено в настоящих Правилах, ничто в настоящих Правилах не может быть рассмотрено как передача исключительных прав на Контент.</li>
            </ul>
        </li>
        <li>7.2. Ответственность за нарушение исключительных прав.
            <ul type="square">
                <li>7.2.1. Пользователь несет личную ответственность за любой Контент или иную информацию, которые он загружает или иным образом доводит до всеобщего сведения (публикует) на Сайте или с его помощью. Пользователь не имеет права загружать, передавать или публиковать Контент на Сайте, если он не обладает соответствующими правами на совершение таких действий, приобретенными или переданными ему в соответствии с законодательством Российской Федерации.</li>
                <li>7.2.2. Администрация Сайта может, но не обязана, просматривать Сайт на наличие запрещенного Контента и может удалять или перемещать (без предупреждения) любой Контент или пользователей по своему личному усмотрению, по любой причине или без причины, включая без всяких ограничений перемещение или удаление Контента, который, по личному мнению Администрации, нарушает настоящие Правила, законодательство Российской Федерации и/или может нарушать права, причинить вред или угрожать безопасности других Пользователей или третьих лиц.</li>
            </ul>
        </li>
        <li>7.3. Сайты и Контент третьих лиц.
            <ul type="square">
                <li>7.3.1. Сайт содержит (или может содержать) ссылки на другие сайты в сети Интернет (сайты третьих лиц) так же, как и статьи, фотографии, иллюстрации, графические изображения, музыку, звуки, видео, информацию, приложения, программы и другой Контент, принадлежащий или исходящий от третьих лиц (Контент третьих лиц), являющийся результатом интеллектуальной деятельности и охраняемых в соответствии с законодательством Российской Федерации.</li>
                <li>7.3.2. Указанные третьи лица и их Контент не проверяются Администрацией на соответствие тем или иным требованиям (достоверности, полноты, добросовестности и т.п.). Администрация не несет ответственность за любую информацию, размещенную на сайтах третьих лиц, к которым Пользователь получает доступ через Сайт или через Контент третьих лиц, включая, в том числе, любые мнения или утверждения, выраженные на сайтах третьих лиц или в их Контенте.</li>
                <li>7.3.3. Размещенные на Сайте ссылки или руководства по скачиванию файлов и/или установке программ третьих лиц не означают поддержки или одобрения этих действий со стороны Администрации.</li>
                <li>7.3.4. Ссылка на любой сайт, продукт, услугу, любую информацию коммерческого или некоммерческого характера, размещенная на Сайте, не является одобрением или рекомендацией данных продуктов (услуг) со стороны Администрации.</li>
                <li>7.3.5. Если Пользователь решил покинуть Сайт и перейти к сайтам третьих лиц или использовать, или установить программы третьих лиц, он делает это на свой риск и с этого момента настоящие Правила более не распространяются на Пользователя. При дальнейших действиях Пользователю стоит руководствоваться применимыми нормами и политикой, в том числе деловыми обычаями тех лиц, чей Контент он собирается использовать.</li>
            </ul>
        </li>
    </ul>

    <p class = 'title-point-static-pages'>8. Функционирование Сайта Studpad и ответственность при его использовании</p>
    <ul class = 'list-of-static-pages'>
        <li>8.1. Пользователи несут ответственность за собственные действия в связи с созданием и размещением информации на собственной персональной странице на Сайте, а также в связи с размещением информации на персональных страницах других Пользователей и в иных разделах Сайта в соответствии с действующим законодательством Российской Федерации. Нарушение настоящих Правил и действующего законодательства Российской Федерации влечет за собой гражданско-правовую, административную и уголовную ответственность.</li>
        <li>8.2. Администрация Сайта предоставляет техническую возможность его использования Пользователями, не участвует в формировании содержания персональных страниц Пользователей и не контролирует и не несет ответственности за действия или бездействие любых лиц в отношении использования Сайта или формирования и использования содержания персональных страниц Пользователей на Сайте.</li>
        <li>8.3. В информационной системе Сайта и его программном обеспечении отсутствуют технические решения, осуществляющие автоматические цензуру и контроль действий и информационных отношений Пользователей по использованию Сайта, за исключением специальных технических решений, которые могут реализовываться Администрацией в целях предотвращения и пресечения нарушений прав третьих лиц на результаты интеллектуальной деятельности.</li>
        <li>8.4. Администрация сохраняет за собой право в любое время изменять оформление Сайта, его содержание, функционал, изменять или дополнять используемые скрипты, программное обеспечение и другие объекты, используемые или хранящиеся на Сайте, любые серверные приложения в любое время с предварительным уведомлением или без такового.</li>
        <li>8.5. Администрация Сайта не занимается предварительной модерацией или цензурой информации Пользователей и предпринимает действия по защите прав и интересов лиц и обеспечению соблюдения требований законодательства Российской Федерации только после обращения заинтересованного лица к Администрации Сайта в установленном порядке.</li>
        <li>8.6. Администрация Сайта не несет ответственности за нарушение Пользователем настоящих Правил и оставляет за собой право по своему собственному усмотрению, а также при получении информации от других пользователей либо третьих лиц о нарушении Пользователем настоящих Правил, изменять (модерировать) или удалять любую публикуемую Пользователем информацию, нарушающую запреты, установленные настоящими Правилами (включая личные сообщения), приостанавливать, ограничивать или прекращать доступ Пользователя ко всем или к любому из разделов или функционалу Сайта в любое время по любой причине или без объяснения причин, с предварительным уведомлением или без такового. Администрация Сайта закрепляет за собой право удалить персональную страницу Пользователя и/или приостановить, ограничить или прекратить доступ Пользователя к любой из функциональных возможностей Сайта, если Администрация обнаружит, что по ее мнению, Пользователь представляет угрозу для Сайта и/или его Пользователей. Администрация Сайта реализует описанные выше меры в соответствии с применимым законодательством и не несет ответственности за возможные негативные последствия таких мер для Пользователя или третьих лиц.</li>
        <li>8.7. Удаление персональной страницы Пользователя означает автоматическое удаление всей информации, размещенной на ней, а также всей информации Пользователя, введенной при регистрации на Сайте. После удаления персональной страницы Пользователь теряет доступ к использованию Сайта.</li>
        <li>8.8. Администрация Сайта обеспечивает функционирование и работоспособность Сайта и обязуется оперативно восстанавливать его работоспособность в случае технических сбоев и перерывов. Администрация Сайта не несет ответственности за временные сбои и перерывы в работе Сайта и вызванные ими потерю информации. Администрация не несет ответственности за любой ущерб компьютеру Пользователя или иного лица, мобильным устройствам, любому другому оборудованию или программному обеспечению, вызванный или связанный со скачиванием материалов с Сайта или по ссылкам, размещенным на Сайте.</li>
        8.9. Администрация Сайта имеет право распоряжаться статистической информацией, связанной с функционированием Сайта, а также информацией Пользователей для обеспечения адресного показа рекламной информации различным аудиториям Пользователей Сайта. Для целей организации функционирования и технической поддержки Сайта и исполнения настоящих Правил Администрация Сайта имеет техническую возможность доступа к персональным страницам Пользователей, которую реализует только в случаях, установленных настоящими Правилами.</li>
        <li>8.10. Администрация Сайта имеет право направлять Пользователю информацию о развитии Сайта и его функционала, а также рекламировать собственную деятельность.</li>
        <li>8.11. Ограничение ответственности Администрации Сайта:
            <ul type="square">
                <li>8.11.1. САЙТ И ЕГО ФУНКЦИОНАЛ, ВКЛЮЧАЯ ВСЕ СКРИПТЫ, ПРИЛОЖЕНИЯ, КОНТЕНТ И ОФОРМЛЕНИЕ САЙТА ПОСТАВЛЯЮТСЯ «КАК ЕСТЬ». АДМИНИСТРАЦИЯ ОТКАЗЫВАЕТСЯ ОТ ВСЯКИХ ГАРАНТИЙ ТОГО, ЧТО САЙТ ИЛИ ЕГО ФУНКЦИОНАЛ МОГУТ ПОДХОДИТЬ ИЛИ НЕ ПОДХОДИТЬ ДЛЯ КОНКРЕТНЫХ ЦЕЛЕЙ ИСПОЛЬЗОВАНИЯ. АДМИНИСТРАЦИЯ НЕ МОЖЕТ ГАРАНТИРОВАТЬ И НЕ ОБЕЩАЕТ НИКАКИХ СПЕЦИФИЧЕСКИХ РЕЗУЛЬТАТОВ ОТ ИСПОЛЬЗОВАНИЯ САЙТА И/ИЛИ ЕГО ФУНКЦИОНАЛА;</li>
                <li>8.11.2. ВО ИЗБЕЖАНИЕ НЕДОРАЗУМЕНИЙ ПОЛЬЗОВАТЕЛЮ СЛЕДУЕТ СОБЛЮДАТЬ МЕРЫ ПРЕДОСТОРОЖНОСТИ В СКАЧИВАНИИ С САЙТА ИЛИ ПО РАЗМЕЩЕННЫМ НА НЕМ ССЫЛКАМ, И ИСПОЛЬЗОВАНИИ ЛЮБЫХ ФАЙЛОВ, В ТОМ ЧИСЛЕ ПРОГРАММНОГО ОБЕСПЕЧЕНИЯ. АДМИНИСТРАЦИЯ САЙТА НАСТОЯТЕЛЬНО РЕКОМЕНДУЕТ ИСПОЛЬЗОВАТЬ ТОЛЬКО ЛИЦЕНЗИОННОЕ, В ТОМ ЧИСЛЕ АНТИВИРУСНОЕ, ПРОГРАММНОЕ ОБЕСПЕЧЕНИЕ;</li>
                <li>8.11.3. ИСПОЛЬЗУЯ САЙТ, ПОЛЬЗОВАТЕЛЬ СОГЛАШАЕТСЯ С ТЕМ, ЧТО СКАЧИВАЕТ С САЙТА ИЛИ С ЕГО ПОМОЩЬЮ ЛЮБЫЕ МАТЕРИАЛЫ НА СВОЙ СОБСТВЕННЫЙ РИСК И НЕСЕТ ЛИЧНУЮ ОТВЕТСТВЕННОСТЬ ЗА ВОЗМОЖНЫЕ ПОСЛЕДСТВИЯ ИСПОЛЬЗОВАНИЯ УКАЗАННЫХ МАТЕРИАЛОВ, В ТОМ ЧИСЛЕ ЗА УЩЕРБ, КОТОРЫЙ ЭТО МОЖЕТ ПРИЧИНИТЬ КОМПЬЮТЕРУ ПОЛЬЗОВАТЕЛЯ ИЛИ ТРЕТЬИМ ЛИЦАМ, ЗА ПОТЕРЮ ДАННЫХ ИЛИ ЛЮБОЙ ДРУГОЙ ВРЕД;</li>
                <li>8.11.4. НИ ПРИ КАКИХ ОБСТОЯТЕЛЬСТВАХ АДМИНИСТРАЦИЯ САЙТА ИЛИ ЕЕ ПРЕДСТАВИТЕЛИ НЕ НЕСУТ ОТВЕТСТВЕННОСТЬ ПЕРЕД ПОЛЬЗОВАТЕЛЕМ ИЛИ ПЕРЕД ЛЮБЫМИ ТРЕТЬИМИ ЛИЦАМИ ЗА ЛЮБОЙ КОСВЕННЫЙ, СЛУЧАЙНЫЙ, НЕУМЫШЛЕННЫЙ УЩЕРБ, ВКЛЮЧАЯ УПУЩЕННУЮ ВЫГОДУ ИЛИ ПОТЕРЯННЫЕ ДАННЫЕ, ВРЕД ЧЕСТИ, ДОСТОИНСТВУ ИЛИ ДЕЛОВОЙ РЕПУТАЦИИ, ВЫЗВАННЫЙ В СВЯЗИ С ИСПОЛЬЗОВАНИЕМ САЙТА, СОДЕРЖИМОГО САЙТА ИЛИ ИНЫХ МАТЕРИАЛОВ, К КОТОРЫМ ВЫ ИЛИ ИНЫЕ ЛИЦА ПОЛУЧИЛИ ДОСТУП С ПОМОЩЬЮ САЙТА, ДАЖЕ ЕСЛИ АДМИНИСТРАЦИЯ САЙТА ПРЕДУПРЕЖДАЛА ИЛИ УКАЗЫВАЛА НА ВОЗМОЖНОСТЬ ТАКОГО ВРЕДА.</li>
            </ul>
        </li>
    </ul>


    <p class = 'title-point-static-pages'>9. Заключительные положения</p>
    <ul class = 'list-of-static-pages'>
        <li>9.1. Настоящие Правила составляют соглашение между Пользователем и Администрацией Сайта относительно порядка использования Сайта и его функционала и заменяют собой все предыдущие соглашения между Пользователем и Администрацией.</li>
        <li>9.2. Настоящие Правила регулируются и толкуются в соответствии с законодательством Российской Федерации. Вопросы, не урегулированные Правилами, подлежат разрешению в соответствии с законодательством Российской Федерации.</li>
        <li>9.3. В случае возникновения любых споров или разногласий, связанных с исполнением настоящих Правил, Пользователь и Администрация Сайта приложат все усилия для их разрешения путем проведения переговоров между ними. В случае, если споры не будут разрешены путем переговоров, споры подлежат разрешению в порядке, установленном действующим законодательством Российской Федерации.</li>
        <li>9.4. Настоящие Правила вступают в силу для Пользователя с момента его присоединения к ним и действуют в течение неопределенного срока.</li>
        <li>9.5. Настоящие Правила составлены на русском языке и могут быть предоставлены Пользователю для ознакомления на другом языке. В случае расхождения русскоязычной версии Правил и версии Правил на ином языке, применяются положения русскоязычной версии настоящих Правил.</li>
        <li>9.6. Если по тем или иным причинам одно или несколько положений настоящих Правил будут признаны недействительными или не имеющими юридической силы, это не оказывает влияния на действительность или применимость остальных положений.</li>
    </ul>
</div>
