<div id = 'main-line' class = 'container'>
    <div class="row">
      <br>
      <br>
      <br>
      <h3>Ссылки в проекте на время разработки</h3>
      <%= link_to 'Регистрация', new_user_path %><br>
      <%= link_to 'Авторизация', login_path %><br>
      <%= link_to 'Новый класс', new_classroom_path %><br>
      <%= link_to 'Все классы', classrooms_path %><br>
    </div>
</div>

<div class = 'container'>
    <div class="row">
      <br>
      <br>
      <br>
      <h1>Что делать? (Я пользователь, и вот что я должен делать и чего хочу видеть)</h1>
      </br>
      </br>
      <div>
        <h3>Вести портфолии</h3>
        </br>
        Указывать данные об учебе, работе, дипломах, раздать родителям ссылку и приобщаем к сети всех, кто еще не приобщился
      </div>
      </br>
      </br>
      <div>
        <h3>Что будет в новостях?</h3>
        </br>
        В "новости"" публикую новочти о последних событиях. Результаты творческих и научных работ лучше публиковать там же, желательно с фотографиями. Каждому родителю приятно следить за успехами ребенка, особенно, когда можно похвастаться на собственной странице
      </div>
      </br>
      </br>
      <div>
        <h3>Комментарии</h3>
        </br>
        Комментарии, которые не очень похожи на комментарии. Там будут высказывать свое мнение о новости. Можно обсуждать программы экскурсий или достоинства введения второго языка в первом классе. Ситуация, в которой кто-то что-то недослышал или недопонял, автоматически отпадает. Каждый родитель может высказаться, даже самый занятой и тихий
      </div>
      </br>
      </br>
      <div>
        <h3>Фотографии и фотоальбомы</h3>
        </br>
        Выкладываем снимки школьных праздников и будней — собираем богатый альбом, который можно показывать родителям.
      </div>
      </br>
      </br>
      <div>
        <h3>Полезные материалы</h3>
        </br>
        Возможность делиться ими с коллегами</br>
        Ищем крутые материалы образовательной тематики в виде изображений (люди любят иллюстрации)</br>
        Просматривать pdf</br>
        Подбор материалов для пользователя и возможность ими поделиться с другими 
      </div>
    </div>
</div>
