<div id = 'main-line' class = 'container'>
    <div class="row">
      <br>
      <br>
      <br>
      <h3>Ссылки в проекте на время разработки</h3>
      <%= link_to 'Регистрация', new_user_path %><br>
      <%= link_to 'Авторизация', login_path %><br>
      <%= link_to 'Новый класс', new_classroom_path %><br>
      <%= link_to 'Все классы', classrooms_path %><br>
    </div>
</div>
