<div id = 'main-line' class = 'container'>
    <div class="row">
      <br>
      <br>
      <br>
      <br>
      <%= link_to 'Новый класс', new_classroom_path %><br>
      <%= link_to 'Все классы', classrooms_path %><br>
    </div>
</div>
