<div id = 'class-photos'>
    <div class = 'row'>
      <div class = 'col-lg-12 col-md-12 col-xs-12'>
        <div class = 'title-background'>
          <div class = 'title-sp' id = 'title-news'>
           <%= link_to classroom_albums_path(classroom_id) do %>Фотографии<% end %>
          </div>
        </div>
      </div>
    </div>
    <div class = 'row' id = 'each-photos'>
      <% @classroom.last_6_photos.each do |p| %>
      <div class = 'col-lg-2 col-md-2 col-xs-2' style = 'background: url("<%= p.image.url %>"); background-size: cover; height: 120px; cursor: pointer; border: 1px solid white;'>
      </div>
      <% end %>

      <% for i in (@classroom.last_6_photos.size + 1)..6 %>
        <div class = 'col-lg-2 col-md-2 col-xs-2' style = 'background: url("/empty.png"); background-size: cover; height: 120px; cursor: pointer; border: 1px solid white;'>
        </div>
      <% end %>


    </div>
</div>
