<div class = 'row'>
        <div class = 'col-lg-7 col-md-7 col-xs-12'>
          <div class = 'card-sp'>
            <div id = 'subject-useful-material_img'>
            </div>
            <div class = 'subject-useful-material_menu'>
                <span class="label label-success label-subject">Полезные материалы</span> • Показать все
            </div>
            <div class = 'subject-useful-material_last'>
              <div class = 'container-fluid'>
                <div class = 'row'>
                  <div class = 'col-lg-12 col-md-12 col-xs-12'>
                    <div class = 'news-username'>
                      Никитин Максим Вадимович
                    </div>
                    <div class = 'main-text-news'>
                      <span class = 'span-main-text-news'>Я просто вчера сильно расстроился, купив Coda 2 и найдя, что он вроде с одной стороны и приятный, а с другой стороны какой-то тугой и (лично для меня) не удобный именно базовым фунционалом.</span>
                    </div>
                    <div class = 'menu-of-form-send-comment-of-news'>
                      <span class = 'date-news'>5 апреля 2014</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class = 'col-lg-5 col-md-5 col-xs-12'>
          <div class = 'card-sp'>
            <div id = 'subject-HW_img'>
            </div>
            <div class = 'subject-useful-material_menu'>
                <span class="label label-success label-subject">Домашнее задание</span> • Показать все
            </div>
            <div class = 'subject-useful-material_last'>
              <div class = 'container-fluid'>
                <div class = 'row'>
                  <div class = 'col-lg-12 col-md-12 col-xs-12'>
                    <div class = 'news-username'>
                      Никитин Максим Вадимович
                    </div>
                    <div class = 'main-text-news'>
                      <span class = 'span-main-text-news'>Я просто вчера сильно расстроился, купив Coda 2 и найдя, что он вроде с одной стороны и приятный, а с другой стороны какой-то тугой</span>
                    </div>
                    <div class = 'menu-of-form-send-comment-of-news'>
                      <span class = 'date-news'>5 апреля 2014</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>