<div class ='container' id = 'main-container'>
    <div class = 'row'>
            <div class = 'col-lg-2 col-md-2 col-xs-2' id = 'list-subjects' scrolling="no">
              <div id = 'each-subjects'>
                <div class = 'the-subject'>
                  Новости
                </div>
                <div class = 'the-subject'>
                  Русский язык
                </div>
                <div class = 'the-subject'>
                  Математика
                </div>
                <div class = 'the-subject'>
                  Физика
                </div>
                <div class = 'the-subject'>
                  Химия
                </div>
                <div class = 'the-subject'>
                  История
                </div>
                <div class = 'the-subject'>
                  Новости
                </div>
                <div class = 'the-subject'>
                  Русский язык
                </div>
                <div class = 'the-subject'>
                  Математика
                </div>
                <div class = 'the-subject'>
                  Физика
                </div>
                <div class = 'the-subject'>
                  Химия
                </div>
                <div class = 'the-subject'>
                  История
                </div>
                <div class = 'the-subject'>
                  Новости
                </div>
                <div class = 'the-subject'>
                  Русский язык
                </div>
                <div class = 'the-subject'>
                  Математика
                </div>
                <div class = 'the-subject'>
                  Физика
                </div>
                <div class = 'the-subject'>
                  Химия
                </div>
                <div class = 'the-subject'>
                  История
                </div>
              </div>
            </div>

            <div class = 'col-lg-7 col-md-7 col-xs-7' id = 'central-part'>
              <div class = 'row'>
                <div class = 'col-lg-5 col-md-5 col-xs-5'>
                   <div class = 'title-sp'  style = 'font-size: 40px;'>
                      5 В
                   </div>
                </div>
                <div class = 'col-lg-7 col-md-7 col-xs-7' style = 'padding-top: 10px;'>
                   <textarea id = 'text-HW' class = 'form-control' rows = '4'></textarea>
                   <div style = 'margin-top: 5px; text-align: right;'><button type="button" class="btn btn-default btn-lg" disabled="disabled">Отправить</button></div>
                </div>
              </div>
              <div class = 'row'>
                <div class = 'col-lg-12 col-md-12 col-xs-12'>
                  <div id = 'main-wall'>
                    <div class = 'title-sp' id = 'title-news'>
                      Новости
                    </div>
                    <div id = 'each-news'>
                      <div class = 'the-news'>
                        <div class = 'row'>
                          <div class = 'col-xs-1' style = 'text-align: center; width: 50px;'>
                            <img src = 'елвборя.jpg' width = '44' height = '44' style = 'border-radius: 200px;'/>
                          </div>
                          <div class = 'col-xs-11'>
                            <div id = 'news-username' style = 'font-size: 16px;'>
                              Стрельников Борис
                            </div>
                            <div class = 'main-text-news'>
                              Фак тебе в рот, фак тебе в рот! Опыт, Макс, опыт! Бабу хочу. Rest in piece)Фак тебе в рот, фак тебе в рот! Опыт, Макс, опыт! Бабу хочу. Rest in piece)Фак тебе в рот, фак тебе в рот! Опыт, Макс, опыт! Бабу хочу. Rest in piece)Фак тебе в рот, фак тебе в рот! Опыт, Макс, опыт! Бабу хочу. Rest in piece)Фак тебе в рот, фак тебе в рот! Опыт, Макс, опыт! Бабу хочу. Rest in piece)Фак тебе в рот, фак тебе в рот! Опыт, Макс, опыт! Бабу хочу. Rest in piece)Фак тебе в рот, фак тебе в рот! Опыт, Макс, опыт! Бабу хочу. Rest in piece)Фак тебе в рот, фак тебе в рот! Опыт, Макс, опыт! Бабу хочу. Rest in piece)Фак тебе в рот, фак тебе в рот! Опыт, Макс, опыт! Бабу хочу. Rest in piece)Фак тебе в рот, фак тебе в рот! Опыт, Макс, опыт! Бабу хочу. Rest in piece)Фак тебе в рот, фак тебе в рот! Опыт, Макс, опыт! Бабу хочу. Rest in piece)Фак тебе в рот, фак тебе в рот! Опыт, Макс, опыт! Бабу хочу. Rest in piece)Фак тебе в рот, фак тебе в рот! Опыт, Макс, опыт! Бабу хочу. Rest in piece)Фак тебе в рот, фак тебе в рот! Опыт, Макс, опыт! Бабу хочу. Rest in piece)Фак тебе в рот, фак тебе в рот! Опыт, Макс, опыт! Бабу хочу. Rest in piece)
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div  class="col-lg-3 col-md-3  col-xs-3" id = 'right-part-page'>
              <div class = 'container-sp'>
                <div class = 'title-sp'>
                    5 В
                </div>
                <div class = 'whattext-sp'>
                  Классный руководитель: <a href = 'https://vk.com/nikitin__max'>Никитина Елена Сергеевна</a>
                </div>
                <div id = 'each-students'>
                  <div class = 'the-student'>
                    <a href = 'https://vk.com/nikitin__max'><img src = 'jg_Fotor1.jpg' width = '44' height = '44' class = 'img-avatar'/> Никитин Максим</a>
                  </div>
                  <div class = 'the-student'>
                    <img src = 'елвборя.jpg' width = '44' height = '44' class = 'img-avatar'/> Стрельников Борис
                  </div>
                  <div class = 'the-student'>
                    <img src = 'two.jpg' width = '44' height = '44' class = 'img-avatar'/> Какая-то тёлочка
                  </div>
                </div>
              </div>
            </div>
    </div>
  </div>