<div id = 'main-line' class = 'container'>
    <div class="row"><br>
<br>
    <h2>Все классы</h2>
    <ul>
    <% @classrooms.each do |c| %>
    <li><%= link_to c.name, classroom_path(c) %></li>
    <% end %>
    </ul>
    </div>
</div>
