<%
def classroom_id
    params[:classroom_id] || params[:id]
end
%>

<div class ='container' id = 'main-container'>
    <%= render "/partials/left_branch" %>
    <div class = 'main-wall' id = 'central-part'>
      <div class = 'submenu'>
          <%= render "/partials/squares_menu" %>
      </div>
      <div class = 'row'>
        <div class = 'col-lg-12 col-md-12 col-xs-12'>
          <div>
            <% if current_user && current_user.can_view?(@classroom) %>
            <%= render "classrooms/news"%>
            <% else %>
            </br>
            <div class="alert alert-warning">
              Пожалуйста станьте учеником или
              учителем класса или
              зарегестрируйтесь
            </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>

</div>
