<div class = 'administration-data'>
  © 2015 Studpad </br>
  <a href = '/users/399'>Наш микроблог</a>&nbsp;&nbsp;<a data-toggle="modal" data-target="#modal-send-mail-to-us">Написать письмо</a>
</div>
<%= render '/partials/modal_send_mail_to_us' %>