<div class='city-explore'>
  <p>
    <% unless @city %>
      <button id='all_publications'
      class = 'btn btn-st-sm btn-explore btn-explore-active'>
      Все публикации</button>
    <% else %>
      <button id='all_publications'
      class = 'btn btn-st-sm btn-explore'>
      Все публикации</button>
    <% end %>

    <% if current_user && current_user.city_id %>
      <% if current_user.city_id == @city.try(:id)  %>
        <button id='my_city' class = 'btn btn-st-sm btn-explore btn-explore-active'>Мой город</button>
      <% else %>
        <button id='my_city' class = 'btn btn-st-sm btn-explore'>Мой город</button>
      <% end %>
    <% end %>
    </p>
  <%= select_tag "city_id",
    [],
    id: 'fresh_city_id',
    placeholder: @city.try(:name) || 'или укажите город'%>
</div>
