<%
def classroom_id
    params[:classroom_id] || params[:id]
end
%>
<div class = 'col-lg-2 col-md-2 col-xs-2' id = 'list-subjects'>
  <div id = 'each-subjects'>
    <div class = 'title-sp' id = 'left-main-menu'>
      Меню
    </div>
    <%= link_to classroom_path(classroom_id) do %>
    <div class = 'the-subject'>
      Главная
    </div>
    <% end %>
    <%= link_to classroom_albums_path(classroom_id) do %>
    <div class = 'the-subject'>
      Фотоальбомы
    </div>
    <% end %>
  </div>
  <% if @subjects.present? && current_user %>
    <div id = 'each-subjects'>
      <div class = 'title-sp' id = 'left-main-menu-s'>
        Материалы
      </div>

      <% @subjects.each do |s| %>
        <%= link_to classroom_subject_path(@classroom, s) do %>
        <div class = 'the-subject'>
          <%= s.name %>
        </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
