<meta name="description" content="Создавать медиаблоги и публиковать в них проще простого. Публикуйте то, что Вас вдохновляет, ведь это Ваш блог!"/>
<meta name="keywords" content="блог учителя, творческая группа учителей, сообщество учителей, педагогическое сообщество, микроблоги, учебно методические материалы, бесплатный блог, создать блог учителя бесплатно"/>

<meta property="vk:title" content="Мой медиаблог |  studpad.ru" />
<meta property="vk:description" content="Studpad - семейство медиаблогов. Публиковать проще простого!" />
<meta property="vk:url" content="http://studpad.ru" />
<meta property="vk:image" content="http://studpad.ru/images/img-prospect.png" />
<meta property="vk:type" content="website"/>
