<div class="modal fade" id="modal_share" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content my-setting-modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Поделитесь интересным материалом с классом</h4>
        </div>
        <div class = "modal-body my-setting-modal-body">
          <div class = 'container-fluid'>
            <div class = 'row'>
              <div class = 'col-xs-4 align-c share-obj'>
                <div class = 'share-who'>11 Б</div>
                <div class = 'helper-valign-m'></div>
              </div>
              <div class = 'col-xs-4 align-c share-obj'>
                <div class = 'share-who'>9 А</div>
                <div class = 'helper-valign-m'></div>
              </div>
              <div class = 'col-xs-4 align-c share-obj'>
                <div class = 'share-who'>2 В</div>
                <div class = 'helper-valign-m'></div>
              </div>
              <div class = 'col-xs-4 align-c share-obj'>
                <div class = 'share-who'>2 В</div>
                <div class = 'helper-valign-m'></div>
              </div>
              <div class = 'col-xs-4 align-c share-obj'>
                <div class = 'share-who'>2 В</div>
                <div class = 'helper-valign-m'></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
