<div class="modal fade" id="modal_share" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  my-setting-modal-dialog">
      <div class="modal-content my-setting-modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Поделитесь интересным материалом с классом</h4>
          <%= form_tag share_materials_path, id: 'share-form' do %>
            <input type='hidden' name = 'id'>
            <input type='hidden' name = 'type'>
            <input type='hidden' name = 'material_id'>
          <%end%>
        </div>
        <div class = "modal-body my-setting-modal-body">
          <div class = 'container-fluid'>
            <div class = 'row'>
              <% if current_user.teacher? %>
                <% current_user.classrooms.each do |c| %>
                <a class="col-xs-4 share-obj" href="/users/3">
                  <%= image_tag "default_avatar_community.png", size: "28x28" %>
                  <p class="span-main-text-news">Это клуб с очень длинным  названием</p>
                </a>
                <% end %>
              <% else %>
                <% if c = current_user.classroom %>
                  <a class="col-xs-4 share-obj" href="/users/3">
                    <%= image_tag "default_avatar_community.png", size: "28x28" %>
                    <p class="span-main-text-news">Это клуб с очень длинным  названием</p>
                  </a>
                <% end %>
              <% end %>
              <% current_user.communities.each do |c| %>
                <a class="col-xs-4 share-obj" href="/users/3">
                  <%= image_tag "default_avatar_community.png", size: "28x28" %>
                  <p class="span-main-text-news">Это клуб с очень длинным  названием</p>
                </a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
