<div class="modal fade" id="modal_new_post_link" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-new-post my-setting-modal-dialog">
      <div class="modal-content modal-content-new-post my-setting-modal-content">
       
          <div class = 'post-autor'> 
            <div class="usual-avatar" style="background: url(
            /uploads/teacher/avatar/1/72b150d9c5.jpg
            ) no-repeat; background-size: cover;">
            </div>
            <div class = 'post-autor-info'>
              <div class = 'post-autor-name'>
                Никитин Макс
              </div>
              <div class = 'post-autor-type'>
                Преподаватель
              </div>
            </div>
          </div>
        
        <div class = "modal-body my-setting-modal-body">
          <div class = 'container-fluid'>
            <div class = 'row'>

              <div class = 'form-new-post'>
                  <div class = 'form-wrap-new-post-type'>
                    <div class = 'extra-background'>
                      <input type = 'text' class = 'input-new-post form-link input-sp form-control' placeholder = 'Введи URL-адрес'/>
                    </div>
                  </div>
                  <div class = 'form-wrap-usual-text'>
                      <textarea class = 'textarea-new-post textarea-sp form-control' placeholder = 'Если хотите, добавьте описание.'></textarea>
                  </div>
              </div>

            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-st-inert" data-dismiss="modal">Закрыть</button>
          <button id = "send-material" type="button" class="btn btn-primary btn-st" data-loading-text = "Подождите..." data-dismiss="modal">Опубликовать</button>
        </div>
      </div>
    </div>
  </div>
