<div class="modal fade" id="modal_share" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  my-setting-modal-dialog">
      <div class="modal-content my-setting-modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Поделитесь интересным материалом с классом</h4>
          <%= form_tag share_materials_path, id: 'share-form' do %>
            <input type='hidden' name = 'classroom_id'>
            <input type='hidden' name = 'material_id'>
          <%end%>
        </div>
        <div class = "modal-body my-setting-modal-body">
          <div class = 'container-fluid'>
            <div class = 'row'>
              <% Classroom.all.each do |c| %>
              <div class = 'col-xs-4 align-c share-obj'
                classroom_id='<%= c.id %>'>
                <div class = 'share-who'><%= c.name %></div>
                <div class = 'helper-valign-m'></div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
