<div class = 'card-sp first-left-block'>
  <div class = 'block-title'>
    <a>Актуальные сообщества</a>
  </div>
  <div class = 'block-objects'>

     <div class = 'preview-object'>
        <div class = "preview-object-avatar" style="background: url(https://pp.vk.me/c7009/v7009479/1e78/tgHhGcS1mcI.jpg) no-repeat; background-size: cover;">
        </div>
        <div class="preview-object-info">
          <div class = 'object-name'><a>Шахматный клуб "Жопка"</a></div>
          <div class = 'object-text'>Открытое сообщество</div>
        </div>
    </div>

    <div class = 'preview-object'>
        <div class = "preview-object-avatar" style="background: url(https://pp.vk.me/c7011/v7011452/9468/W5JdmTyeiSs.jpg) no-repeat; background-size: cover;">
        </div>
        <div class="preview-object-info">
          <div class = 'object-name'><a>Очень секретно</a></div>
          <div class = 'object-text'>Закрытое сообщество</div>
        </div>
    </div>

    <div class = 'preview-object'>
        <div class = "preview-object-avatar" style="background: url(https://pp.vk.me/c7009/v7009404/2445/GXEqpYbo_LM.jpg) no-repeat; background-size: cover;">
        </div>
        <div class="preview-object-info">
          <div class = 'object-name'><a>Очень секретно</a></div>
          <div class = 'object-text'>Закрытое сообщество</div>
        </div>
    </div>

    <div class = 'preview-object'>
        <div class = "preview-object-avatar" style="background: url(https://pp.vk.me/c7009/v7009943/bb3b/sw8R5nIyYiM.jpg) no-repeat; background-size: cover;">
        </div>
        <div class="preview-object-info">
          <div class = 'object-name'><a>Очень секретно, хотя не очень</a></div>
          <div class = 'object-text'>Открытое сообщество</div>
        </div>
    </div>

    <div class = 'preview-object'>
        <div class = "preview-object-avatar" style="background: url(https://pp.vk.me/c7009/v7009943/bd4e/ZSfURcAwewM.jpg) no-repeat; background-size: cover;">
        </div>
        <div class="preview-object-info">
          <div class = 'object-name'><a>Очень секретно</a></div>
          <div class = 'object-text'>Закрытое сообщество</div>
        </div>
    </div>

  </div>
</div>