<div id = 'squares-menu'>
	<div class = 'element-of-squares-menu'>
		<div class = 'img-element-of-squares-menu' id = 'homeclass'>
			<%= image_tag "homeclass_on.png", size: "50x50" %>
    </div>
    <div class = 'title-element-of-squares-menu'>
    	Главная
    </div>
	</div>
	<div class = 'element-of-squares-menu'>
		<div class = 'img-element-of-squares-menu'>
			<%= image_tag "peoplelist_on.png", size: "50x50" %>
    </div>
    <div class = 'title-element-of-squares-menu'>
    	Мы
    </div>
	</div>
	<div class = 'element-of-squares-menu'>
		<div class = 'img-element-of-squares-menu'>
			<%= image_tag "materialclass_on.png", size: "50x50" %>
    </div>
    <div class = 'title-element-of-squares-menu'>
    	Материалы
    </div>
	</div>
	<div class = 'element-of-squares-menu'>
		<div class = 'img-element-of-squares-menu'>
			<%= image_tag "homeworkclass_on.png", size: "50x50" %>
    </div>
    <div class = 'title-element-of-squares-menu'>
    	ДЗ
    </div>
	</div>
</div>