<div class = 'row squares-menu margin0'>
    <div class = 'col-xs-3 align-c'>
        <a href="/">
            <%= image_tag "feather14.png", size: "28x28" %>
            <span>Новости</span>
        </a>
    </div>
    <div class = 'col-xs-3 align-c'>
        <a href="/">
            <%= image_tag "babies12.png", size: "28x28" %>
            <span>Мы</span>
        </a>
    </div>
    <div class = 'col-xs-3 align-c'>
        <a href="/">
            <%= image_tag "materialclass.png", size: "28x28" %>
            <span>Материалы</span>
        </a>
    </div>
    <div class = 'col-xs-3 align-c'>
        <a href="/">
            <%= image_tag "special1.png", size: "28x28" %>
            <span>ДЗ</span>
        </a>
    </div>
</div>
