<div class="modal fade" id="view_material" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data="create">
  <div class="modal-dialog my-setting-modal-dialog">
    <div class="modal-content my-setting-modal-content">
      <div  class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Просмотр</h4>
      </div>
      <div id='modal-view-the-material'>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
