<div class="modal fade" id = "modal-window-change-password" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog width500">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Смена пароля</h4>
      </div>
      <%= form_for :community, url: communities_path do |f| %>
      <div class="modal-body">
        <div class = 'counsel-text'>
          Измените свой текущий пароль.
        </div>
        <input type = 'password' class = 'input-sp form-control' placeholder = 'Текущий пароль' />
        </br>
        <input type = 'password' class = 'input-sp form-control' placeholder = 'Новый пароль' />
        </br>
        <input type = 'password' class = 'input-sp form-control' placeholder = 'Повторите новый пароль' />
      </div>
      <div class="modal-footer">
        <button type='submit' class="btn btn-primary btn-st">Сохранить</button>
      </div>
      <% end %>
    </div>
  </div>
</div>
