<div class="modal fade" id = "modal-window-change-password" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog width500">
    <div class="modal-content crt4-modal-background">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Смена пароля</h4>
      </div>
      <%= form_for :user, url: change_password_resets_path,
        html: { id: "change-password-form" } do |f| %>
      <div class="modal-body">
        <div class = 'counsel-text'>
          Измените свой текущий пароль.
        </div>
        <%= f.password_field :current_password, class: 'input-sp form-control', placeholder: 'Текущий пароль', required: true %>
        </br>
        <%= f.password_field :password, class: 'input-sp form-control', placeholder: 'Новый пароль', required: true %>
        </br>
        <%= f.password_field :password_confirmation, class: 'input-sp form-control', placeholder: 'Повторите новый пароль', required: true %>
      </div>
      <% end %>
      <div class="modal-footer">
        <button id='change-password' data-dismiss="modal" class="btn btn-primary btn-st">Сохранить</button>
      </div>
    </div>
  </div>
</div>
