<div class = 'preview-object'>
    <div class = "preview-object-avatar" style="background: url(
    <%= community.avatar %>
    ) no-repeat; background-size: cover;">
    </div>
    <div class="preview-object-info">
      <div class = 'object-name'><%= link_to community.name, community_path(community) %></div>
      <div class = 'object-text'><%= t community.status %></div>
    </div>
</div>
<div class = 'clearboth'>
</div>
