<div class="modal fade" id = "modal-window-create-class" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog width500">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Создайте класс</h4>
      </div>
      <%= form_for :classroom, url: classrooms_path do |f| %>
      <div class="modal-body">
        <div class = 'counsel-text'>
          Создайте страницу Вашего класса и делитесь со своими детьми новостями и материалами. Все это очень легко, просто и доступно!
        </div>
        <%= f.text_field :name, class: 'input-sp form-control', placeholder: 'Название класса...' %>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-st">Создать</button>
      </div>
      <% end %>
    </div>
  </div>
</div>
