<div class="modal fade" id = "modal-window-create-community" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog width500">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Создайте сообщество</h4>
      </div>
      <%= form_for :community, url: communities_path do |f| %>
      <div class="modal-body">
        <div class = 'counsel-text'>
          Тут будет текст!
        </div>
        <%= f.text_field :name, class: 'input-sp form-control',
          placeholder: 'Название класса...' %>
        <%= f.hidden_field :status %>
        </br>
        </br>
        <div>
          <span class="title-underline">
                Выберите тип Вашего сообщества
          </span>
        </div>
        </br>
        <div class = 'row'>
          <div class = 'col-xs-6 type-of-community align-c' data="open">
            <div class = 'text-type-community'>Открытое</div>
            <div class="helper-valign-m"></div>
          </div>
          <div class = 'col-xs-6 type-of-community align-c' data="secret">
            <div class = 'text-type-community'>Закрытое</div>
            <div class="helper-valign-m"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type='submit' class="btn btn-primary btn-st">Создать</button>
      </div>
      <% end %>
    </div>
  </div>
</div>
