<div class = 'card-sp classes-and-communities'>
  <div class = 'block-title'>
    <button class = 'action-angle' data-toggle="modal" data-target="#modal-window-create-community" >+</button>
    Классы
  </div>
  <div class = 'block-objects'>
    <%= render collection: @user.own_communities.limit(5) + @user.communities.limit(5),
      partial: 'community' %>
  </div>
</div>