<div class = 'card-sp classes-and-communities'>
  <div class = 'block-title'>
    Классы
    <button class = 'action-angle' data-toggle="modal" data-target="#modal-window-create-community" >+</button>
  </div>
  <div class = 'block-objects'>
    <%= render collection: @user.communities, partial: 'community' %>

    <!--<input type = 'button' id = 'create-community' class = 'btn btn-primary btn-xs btn-st' data-toggle="modal" data-target="#modal-window-create-community" value = 'Создать сообщество' />-->
  </div>
</div>