<div class = "classes-and-communities card-sp margin-t10">
  <div class = "card-sp-heading">
    <% if @user.teacher? %>
      Классы:
      <% @user.classrooms.each do |c| %>
        <%= link_to c.name, classroom_path(c) %>
      <% end %>
    <% else %>
      <%= link_to @user.classroom.name, classroom_path(@user.classroom) %>
    <% end %>
  </div>
  <div class = "card-sp-body">
    <input type = 'button' id = 'create-class' class = 'btn btn-primary btn-xs btn-st' data-toggle="modal" data-target="#modal-window-create-class" value = 'Создать класс' />
  </div>
</div>

<div class = "classes-and-communities card-sp">
  <div class = "card-sp-heading">
    Сообщества:
    <% @user.communities.each do |c| %>
      <%= link_to c.name, community_path(c) %>
    <% end %>
  </div>
  <div class = "card-sp-body">
    <input type = 'button' id = 'create-community' class = 'btn btn-primary btn-xs btn-st' data-toggle="modal" data-target="#modal-window-create-community" value = 'Создать группу' />
  </div>
</div>
