<div class="modal fade" id = "modal-window-remove-profile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog width500">
    <div class="modal-content crt4-modal-background">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Удалени профиля</h4>
      </div>
      <div class="modal-body">
        <div class = 'counsel-text'>
          Все данные будут утеряны. Вы действительно хотите удалить свой профиль?
        </div>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-default btn-st-inert" data-dismiss="modal">Закрыть</button>
        <%= link_to 'Удалить', user_path(current_user),
          method: :delete, data: {no_turbolink: true}, class: "btn btn-danger"%>
      </div>
    </div>
  </div>
</div>
