<div class ='container' id = 'main-container'>
  <div class = 'left-branch'>
  </div>

  <div class = 'main-wall'>
    <div class="title-background border-radius-top">
      <div class="title-page">
        Уведомления
      </div>
    </div>
    <div class="usual-list border-b-radius">
      <div class = 'followers'>

        <div class = 'follower'>
          <div class="follower-user-button">
            <div class='follower-user'>
              <div class="preview-object">
                  <div class="preview-object-avatar" style="background: url(
                  http://studpad.ru/uploads/teacher/avatar/945/abd192f70f.jpg
                  ) no-repeat; background-size: cover;">
                  </div>
                  <div class="preview-object-info">
                    <div class="object-text">
                      <div class="object-maintext">
                        <a>Макс Никитин</a> <span>понравилась</span> <a>эта</a> <span>публикация</span>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="clearboth">
              </div>
            </div>
            <div class = 'follower-button'>
              <img src = '/images/like_active.png' />
            </div>
          </div>
          <div class="clearboth">
          </div>
        </div>


        <div class = 'follower'>
          <div class="follower-user-button">
            <div class='follower-user'>
              <div class="preview-object">
                  <div class="preview-object-avatar" style="background: url(
                  http://studpad.ru/uploads/teacher/avatar/945/abd192f70f.jpg
                  ) no-repeat; background-size: cover;">
                  </div>
                  <div class="preview-object-info">
                    <div class="object-text">
                      <div class="object-maintext">
                        <a>Макс Никитин</a> <span>прокоментировал(а)</span> <a>эту</a> <span>публикацию</span>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="clearboth">
              </div>
            </div>
            <div class = 'follower-button'>
              <img src = '/images/chatting.png' />
            </div>
          </div>
          <div class="clearboth">
          </div>
        </div>

        <div class = 'follower'>
          <div class="follower-user-button">
            <div class='follower-user'>
              <div class="preview-object">
                  <div class="preview-object-avatar" style="background: url(
                  http://studpad.ru/uploads/teacher/avatar/945/abd192f70f.jpg
                  ) no-repeat; background-size: cover;">
                  </div>
                  <div class="preview-object-info">
                    <div class="object-text">
                      <div class="object-maintext">
                        <a>Макс Никитин</a> <span>добавил(а)</span> <a>эту</a> <span>публикацию в "Самое вкусное"</span>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="clearboth">
              </div>
            </div>
            <div class = 'follower-button'>
              <img src = '/images/delicious_active.png' />
            </div>
          </div>
          <div class="clearboth">
          </div>
        </div>

        <div class = 'follower'>
          <div class="follower-user-button">
            <div class='follower-user'>
              <div class="preview-object">
                  <div class="preview-object-avatar" style="background: url(
                  http://studpad.ru/uploads/teacher/avatar/945/abd192f70f.jpg
                  ) no-repeat; background-size: cover;">
                  </div>
                  <div class="preview-object-info">
                    <div class="object-text">
                      <div class="object-maintext">
                        <a>Макс Никитин</a> <span>начал(а) читать Вас</span>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="clearboth">
              </div>
            </div>
            <div class = 'follower-button'>
              <img src = '/empty.png' />
            </div>
          </div>
          <div class="clearboth">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
