<div id = 'main-line' class = 'container'>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-xs-4">

      </div>
      <div class="col-lg-4 col-md-4 col-xs-4 text-on-page">
      </div>
      <div class="col-lg-4 col-md-4 col-xs-4">

      </div>
    </div>
  </div>

