<style>
  body{
  	background-image: none;
  	background-color: rgba(245, 248, 250, 1);
  }
</style>
<div id = 'page_user'>
	<div class = 'profile-background' style = 'background: url(https://pp.vk.me/c623424/v623424048/27254/baQNSFBAPLI.jpg); background-size: cover;'>
	</div>
    
  <div class = 'profile-avatar'>
    <div class = 'profile-avatar_img' style = 'background: url(https://pp.vk.me/c624717/v624717048/33ad4/_wdFNlRCSLQ.jpg) no-repeat; background-size: cover;'>
    </div>
	  <div class = 'profile-info'>
	    <div class = 'profile-info_name'>Стрельников Борис</div>
	    <div class = 'profile-info_school'>МБОУ СОШ №15 с. Ивановского Кочубеевского района Ставропольского края</div>
	    <div class = 'profile-info_start'>В Studpad с 21 августа 2015</div>
	  </div>
  </div>
    
  <div class = 'profile-sidebar'>
  	<div id = 'profile-sidebar_position'>
      
  	</div>
  </div>

  <div class = 'profile-main-wall'>
    <div class = 'row'>
      <div class = 'col-xs-12'>
        <div class = 'title-page'>
          Полезные материалы
        </div>

      </div>
    </div>
  </div>
    
</div>
