<div class = 'col-lg-12 col-md-12 col-xs-12' id = 'user-card'>
	<div class = 'container-fluid'>
		<div class="row">
		 	<div class="col-lg-12 col-md-12 col-xs-12" style = 'padding: 0px;'>
		 		<div class="profile">

		 			<div class="col-sm-12" id = 'top-part-user'>
		 				<div class="col-xs-12 col-sm-7">
		 					<h2>Сергей Иванов</h2>
		 					<p><strong>Школа: </strong> МОУ СОШ №!5 c. Ивановское Ставропольский край </p>
		 					<p><strong>Классы: </strong> 11Б, 8А, 8В </p>
		 					<p><strong>Предметная область: </strong>
		 						<span class="tags">Русский язык</span>
		 						<span class="tags">Литература</span>
		 					</p>
		 				</div>
		 				<div class="col-xs-12 col-sm-5">
		 					<figure>
				 				<img src="https://pp.vk.me/c616620/v616620124/b879/szMeLRYua84.jpg" id = 'user-avatar' class="img-circle img-responsive">
				 			</figure>
		 				</div>
		 			</div>
		 			<div class="col-xs-12 divider text-center">
		 				<div class="col-xs-12 col-sm-4 emphasis">
		 					<h2><strong> 32,4K </strong></h2>
		 					<p><small>Полезные материалы</small></p>
		 					<button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span>Просмотреть</button>
		 				</div>
						<div class="col-xs-12 col-sm-4 emphasis">
						 	<h2><strong>723</strong></h2>
						 	<p><small>Фотографии</small></p>
						 	<button class="btn btn-info btn-block"><span class="fa fa-user"></span>Просмотреть</button>
						</div>
						<div class="col-xs-12 col-sm-4 emphasis">
							<h2><strong>Контакты</strong></h2>
							</br>
 							<p><strong>Почта: </strong><small>ais-berg@mail.ru</small></p>
							<p><strong>Телефон: </strong><small>+79166307331</small></p>
	 					</div>
		 			</div>
				</div>
			</div>
		</div>
	</div>
</div>
