<style>
  body{
  	background-image: none;
  	background-color: rgba(245, 248, 250, 1);
  }
</style>
<div id = 'page_user'>
	<div class = 'profile-background' style = 'background: url(https://pp.vk.me/c623424/v623424048/27254/baQNSFBAPLI.jpg); background-size: cover;'>
	</div>
    
  <div class = 'profile-avatar'>
    <div class = 'profile-avatar_img' style = 'background: url(https://pp.vk.me/c624717/v624717048/33ad4/_wdFNlRCSLQ.jpg) no-repeat; background-size: cover;'>
    </div>
	  <div class = 'profile-info'>
	    <div class = 'profile-info_name'>Стрельников Борис</div>
	    <div class = 'profile-info_school'>МБОУ СОШ №15 с. Ивановского Кочубеевского района Ставропольского края</div>
	    <div class = 'profile-info_start'>В Studpad с 21 августа 2015</div>
	  </div>
  </div>
    
  <div class = 'profile-sidebar'>
  	<div id = 'profile-sidebar_position'>
      
  	</div>
  </div>

  <div class = 'profile-main-wall'>
    <div class="title-background-border">
      <div class="title-page">
        Ваши публикации
      </div>
    </div>
    <div class = 'row'>
      <div class = 'col-xs-12'>
        <div id="material9" class="card-sp sharp-wrap useful-material_post">
          <div class="useful-material_img">
            <img src="/uploads/attachment/file/75/hatka.jpg" width="100%">
          </div>
          <div class="row margin-b20 margin0">
            <div class="col-xs-12 align-l theme-of-UM theme-of-UM-technical">
              Русский язык
            </div>
          </div>
          <div class="useful-material_info">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-7 col-md-7 col-xs-7">
                  <div class="margin-b40">
                    <span class="title-underline">
                      Описание
                    </span>
                  </div>
                  <div class="main-text-news">
                    <span class="span-main-text-news">
                      Задания викторины доступны и понятны детям. При составлении викторины учитывались стандарты нового поколения и требования времени. 
                    </span>
                  </div>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-5">
                   <div class="margin-b40">
                    <span class="title-underline">
                      Файлы
                    </span>
                  </div>
                  <div class="wrap-photos margin-b20">
                    <div class="row">
                      <div class="col-xs-6 set-of-photos4" style="background: url(
                        /uploads/attachment/file/76/max2.jpg
                        ); background-size: cover;">
                      </div>
                      <div class="col-xs-6 set-of-photos4" style="background: url(
                        /uploads/attachment/file/77/___________27.02.14___19.56__3__2.jpg
                        ); background-size: cover;">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12">
                  <div class="card-date">
                        <span class="date-news">

                          10 Jul 12:39 •
                          <span>Макс Никитин</span>
                        </span>
                        <span class="margin-l40 share-post" data-toggle="modal" data-target="#modal_share" data-original-title="" title="">
                          <span>Поделиться &nbsp;</span>
                          <span class="glyphicon glyphicon-bullhorn"></span>
                        </span>
                        <span class="count-share"> &nbsp;&nbsp;<b>578</b></span>
                        <span class="glyphicon glyphicon-pencil pencil-news update-UM margin-l40" data-toggle="modal" data-target="#modal_window" data="/materials/9"> Редактировать</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
    
</div>
