<div class = 'col-xs-4 show-persons'>
  <img src = 'https://pp.vk.me/c620716/v620716669/1553c/mlcdKk-ZhPY.jpg' class = 'big-img-avatar' />
  </br>
  <p class = 'span-main-text-news'>Александр Маскаев</p>
</div>
<div class = 'col-xs-4 show-persons'>
  <img src = 'https://pp.vk.me/c625819/v625819379/e4a5/-SJKchsT3aI.jpg' class = 'big-img-avatar' />
  </br>
  <p class = 'span-main-text-news'>Фадеев Артем</p>
</div>
<div class = 'col-xs-4 show-persons'>
  <img src = 'https://pp.vk.me/c628028/v628028820/2d58/gCQBnvRq-yc.jpg' class = 'big-img-avatar' />
  </br>
  <p class = 'span-main-text-news'>Георгий Кунцев</p>
</div>
<div class = 'col-xs-4 show-persons'>
  <img src = 'https://pp.vk.me/c619917/v619917564/21549/2X66MQB9MNg.jpg' class = 'big-img-avatar' />
  </br>
  <p class = 'span-main-text-news'>Смольников Илья</p>
</div>

