<div class ='container' id = 'main-container'>
<div class = 'row'>

  <%= render  "partials/list_subject"%>

  <div class = 'col-lg-7 col-md-7 col-xs-7' id = 'central-part'>
    <div class = 'row'>
      <div class = 'col-lg-12 col-md-12 col-xs-12'>
        <div class = 'title-sp' id = 'class-name-school'>
          Фотоальбомы
        </div>
      </div>
    </div>

    <div class = 'row' id = 'all-albums'>
      <% @albums.each do |a| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail wrap-album" style = 'padding: 0px;'>

          <img src="https://pp.vk.me/c618130/v618130048/10acf/IWvy2603Ssg.jpg" class = 'cover-photos-img'>
          <div class="caption">
            <div class = 'description-album'>
              <p><%= link_to a.name, classroom_album_path(@classroom, a) %></p>
            </div>
            <div>
              <span class = 'date-create-album'>
                <%= a.created_at.strftime("%d %b %H:%M") %>
              </span>
            </div>
          </div>
        </div>
      </div>
      <% end %>

    </div>

  </div>

  <%= render "partials/right_part_page" %>

</div>
</div>

