<div class ='container' id = 'main-container'>
  <div class = 'row'>

    <%= render "/partials/squares_menu" %>
    <div class = 'main-wall' id = 'central-part'>
      <div class = 'row'>
        <div class = 'col-lg-12 col-md-12 col-xs-12'>
          <div class = 'title-sp' id = 'class-name-school'>
            Фотографии
          </div>
        </div>
      </div>

        <div class = 'row' id = 'all-photos-album'>
          
            <% @photos.each do |p|%>
            <a class="fancybox-thumb" rel="fancybox-thumb"
            href="<%= p.image.url %>">
              <div class="col-sm-6 col-md-4" style = 'height: 287px;'>
                <div class = 'this-photo'>
                  <div class="thumbnail" style = 'background: url("<%= p.image.url %>"); background-size: cover; height: 234px;'>
                  </div>
                  <div class="date-of-photos">
                    <span class="date-news">27 апреля</span>
                  </div>
                </div>
              </div>
            </a>
            <% end %>

          
        </div>

    </div>

  </div>
</div>

