<div class ='container' id = 'main-container'>
  <div class = 'row'>

    <%= render  "partials/list_subject"%>

    <div class = 'col-lg-10 col-md-10 col-xs-10' id = 'central-part'>
      <div class = 'row'>
        <div class = 'col-lg-12 col-md-12 col-xs-12'>
          <div class = 'title-sp' id = 'class-name-school'>
            Фотографии
          </div>
        </div>
      </div>

        <div class = 'row' id = 'all-albums'>
          <div>
            <% @photos.each do |p|%>
            <a class="fancybox-thumb" rel="fancybox-thumb"
            href="<%= p.image.url %>" title="elgol sunset (matty brooks)">
              <div class="col-sm-4 col-md-3 the-wrap-photo">
                <div class="thumbnail" style = 'background: url("<%= p.image.url %>"); background-size: cover; height: 234px;'>
                </div>
              </div>
            </a>
            <% end %>

          </div>
        </div>

    </div>

  </div>
</div>

