<div class='title-explore'>
   #<%= @tag.name %>
</div>
<%= render 'partials/city_select' %>
<div id="grid-gallery" class="grid-gallery">
  <div id='demo'>
  <%= react_component 'Gallery',
    posts_url: posts_path + city_params(params[:city_id])%>
  </div>
</div>
