<div class = 'row'>
  <div class = 'col-xs-11'>
    <div class = 'title-page'>
            Домашнее задание
    </div>
    <div class = 'card-sp sharp-wrap'>
      <div class = 'this-homework'>
        <div class = 'container-fluid'>
          <div class = 'row'>
            <div class = 'col-lg-8 col-md-8 col-xs-8 message-this-post' style = 'padding-top: 0px;'>
              <div class = 'row'>
                <div class = 'col-xs-12'>
                  <div class = 'margin-b40'>
                      <span class = 'title-underline' style = 'border-bottom: 3px solid rgb(232, 146, 13); color: rgb(232, 146, 13);'>
                        Русский язык
                      </span>
                  </div>
                  <div class = 'main-text-news'>
                    <span class = 'span-main-text-news'>Видео из предыдущего примера будет нормально проигрываться только в браузерах Opera, Firefox и Chrome. Это происходит из-за того, что в данный момент разные браузеры поддерживают разные форматы.</span>
                  </div>
                </div>
              </div>
            </div>
            <div class = 'col-lg-4 col-md-4 col-xs-4 files-this-post'>
              <div class = 'this-material'>
                <div class = 'files-image type-image'>
                </div>
                <div class = 'name-files'>
                  <a>Название фото.jpg</a>
                </div>
              </div>
              
              <div class = 'this-material'>
                <div class = 'files-image type-link'>
                </div>
                <div class = 'name-files'>
                  <a>Название ссылки.jpg</a>
                </div>
              </div>
            </div>
          </div>
          <div class = 'row'>
            <div class = 'col-lg-12 col-md-12 col-xs-12'>
              <div class = 'card-date'>
                    <span class = 'date-news'>5 апреля 2014 • <span>Никитина Елена Сергеевна</span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class = 'card-sp sharp-wrap'>
      <div class = 'this-homework'>
        <div class = 'container-fluid'>
          <div class = 'row'>
            <div class = 'col-lg-8 col-md-8 col-xs-8 message-this-post' style = 'padding-top: 0px;'>
              <div class = 'row'>
                <div class = 'col-xs-12'>
                  <div class = 'margin-b40'>
                      <span class = 'title-underline' style = 'border-bottom: 3px solid rgb(232, 146, 13); color: rgb(232, 146, 13);'>
                        Русский язык
                      </span>
                  </div>
                  <div class = 'main-text-news'>
                    <span class = 'span-main-text-news'>Видео из предыдущего примера будет нормально проигрываться только в браузерах Opera, Firefox и Chrome. Это происходит из-за того, что в данный момент разные браузеры поддерживают разные форматы.</span>
                  </div>
                </div>
              </div>
            </div>
            <div class = 'col-lg-4 col-md-4 col-xs-4 files-this-post'>
              
            </div>
          </div>
          <div class = 'row'>
            <div class = 'col-lg-12 col-md-12 col-xs-12'>
              <div class = 'card-date'>
                    <span class = 'date-news'>5 апреля 2014 • <span>Никитина Елена Сергеевна</span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class = 'card-sp sharp-wrap'>
      <div class = 'this-homework'>
        <div class = 'container-fluid'>
          <div class = 'row'>
            <div class = 'col-lg-8 col-md-8 col-xs-8 message-this-post' style = 'padding-top: 0px;'>
              <div class = 'row'>
                <div class = 'col-xs-12'>
                  <div class = 'margin-b40'>
                      <span class = 'title-underline' style = 'border-bottom: 3px solid rgb(35, 181, 130); color: rgb(35, 181, 130);'>
                        Математика
                      </span>
                  </div>
                  <div class = 'main-text-news'>
                    <span class = 'span-main-text-news'>Видео из предыдущего примера будет нормально проигрываться только в браузерах Opera, Firefox и Chrome. Это происходит из-за того, что в данный момент разные браузеры поддерживают разные форматы.</span>
                  </div>
                </div>
              </div>
            </div>
            <div class = 'col-lg-4 col-md-4 col-xs-4 files-this-post'>
              <div class = 'this-material'>
                <div class = 'files-image type-image'>
                </div>
                <div class = 'name-files'>
                  <a>Название фото.jpg</a>
                </div>
              </div>
              <div class = 'this-material'>
                <div class = 'files-image type-video'>
                </div>
                <div class = 'name-files'>
                  <a>Название видео.jpg</a>
                </div>
              </div>
              <div class = 'this-material'>
                <div class = 'files-image type-document'>
                </div>
                <div class = 'name-files'>
                  <a>НазваниеНазвание документа.jpgНазвание документа.jpg документа.jpg</a>
                </div>
              </div>
              
              <div class = 'this-material'>
                <div class = 'files-image type-link'>
                </div>
                <div class = 'name-files'>
                  <a>Название ссылки.jpg</a>
                </div>
              </div>
            </div>
          </div>
          <div class = 'row'>
            <div class = 'col-lg-12 col-md-12 col-xs-12'>
              <div class = 'card-date'>
                    <span class = 'date-news'>5 апреля 2014 • <span>Никитина Елена Сергеевна</span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class = 'right-button-action'>
    <div class = 'element-of-squares-menu' data-toggle="modal" data-target="#myModal">
      <div class = 'img-element-of-squares-menu'>
        <%= image_tag "pencils.png", size: "50x50" %>
      </div>
      <div class = 'title-element-of-squares-menu'>
        Задать ДЗ
      </div>
    </div>
  </div>
</div>
