<div class = 'right-button-action'>
  <div class = 'element-of-squares-menu' data-toggle="modal" data-target="#modal_window">
    <div class = 'img-element-of-squares-menu'>
      <%= image_tag "pencils.png", size: "50x50" %>
    </div>
    <div class = 'title-element-of-squares-menu'>
      Задать ДЗ
    </div>
  </div>
</div>