<div class ='container' id = 'main-container'>
    <div class = 'main-wall-wide'>
      <div class = 'row' style = 'z-index: 150;'>
        <div class = 'col-xs-12'>
          <div class = 'one-post'>
            <%= react_component("PostBox",
          posts_url: post_path(@post), show_panel: false ) %>
          </div>
        </div>
      </div>
    </div>
</div>
