/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body{
      background-color: rgb(251, 251, 251);
      color: rgb(90, 103, 112);
      cursor: default;
    }
    #hat-studpad{
      background-color: #00739D;
      height: 48px;
      border-bottom: 1px solid rgb(226, 226, 226);
      width: 100%;
      z-index: 50;
      position: fixed;
      top: 0px;
    }
    #hat-studpad-title{
      padding-top: 8px;
      font-size: 22px;
      text-align: left;
      padding-left: 30px;
      color: white;
      font-weight: bold;
    }
    .container-sp{
      padding: 10px 5px;
    }

    .title-sp{
      font-size: 19px;
      color: rgb(90, 103, 112);
    }
    #right-part-page{

      overflow-x: hidden;
      overflow-y: auto;
      border-left: solid 1px #d7d7d7;
      background: #fff;
      -webkit-backface-visibility: hidden;
      z-index: 10;
      height: 100%;
      padding-top: 48px;
      position: fixed;
      right: 0px;
      scrollbar: none;
    }
    .subtitle-sp{
      color: rgb(95, 95, 95);
      font-size: 14px;
    }
    .whattext-sp{
      color: rgb(168, 168, 168);
    }
    a{
      color: rgb(90, 103, 112);
      text-decoration: none;
    }
    #each-students{
      margin-top: 5px;
      padding-top: 10px;
      border-top: 1px solid #d7d7d7;
    }
    #each-teachers{
      margin-top: 5px;
      padding-top: 10px;
      border-top: 1px solid #d7d7d7;
      display: none;
    }
    .type-profiles:hover{
      cursor: pointer;
      text-decoration: underline;
    }
    .the-person{
      margin-top: 10px;
    }
    #main-part{
      height: 250px;
      border-bottom: 1px solid #d7d7d7;
    }
    #left-part-page{
      width: 100%;
      padding: 0px;
    }
    #main-container{
      width: 100%;
    }
    #list-subjects{
      border-right: 1px solid #d7d7d7;
      font-size: 14px;
      padding: 10px 0px;
      z-index: 10;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-backface-visibility: hidden;
      background-color: white;
      padding-top: 48px;
      position: fixed;
      left: 0px;
      top: 0px;
      bottom: 0px;
    }
    .the-subject{
      background-color: white;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 30px;
      padding-right: 30px;
      cursor: pointer;
    }
    .the-subject:hover{
      background-color: #EAEFF0;
    }
    #central-part{
      padding: 10px 20px;
      padding-top: 48px;
      position: relative;
      top: 0px;
    }
    #textHW{
      resize: none;
      width: 100%;
      height: 30px;
      box-shadow: none;
      border: 1px solid #ccc;
      overflow: hidden;
    }
    #textHW:hover{
      border: 1px solid #d7d7d7;
    }
    #main-wall{
      background-color: white;
      margin-top: 15px;
      border-radius: 4px;
      border: 1px solid #EAEFF0;
    }
    #each-news{
      border-radius: 4px;
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
     -o-border-radius: 4px;
     padding: 10px;
     background-color: white;
     margin-top: 6px;
    }
    .the-news{
      border-bottom: 1px solid rgb(226, 226, 226);
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .each-comment-of-the-news{
      margin-top: 3px;
      border-top: 1px solid rgb(226, 226, 226);
    }
    .the-comment{
      border-bottom: 1px solid rgb(226, 226, 226);
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: rgb(250, 250, 250);
      padding-left: 10px;
      padding-right: 10px;
    }
    .comment-username{
      font-size: 14px;
    }
    #title-news{
      text-align: center;
      padding-top: 12px;
    }
    .main-text-news{
      color: black;
      font-size: 14px;
      margin-top: 7px;
    }
    .img-avatar{
      border-radius: 200px;
    }
    #show-teachers-students{
      margin-top: 10px;
    }
    #class-photos{
      height: 166px;
    }
    #class-name-school{
      margin-top: 10px;
      padding-left: 5px;
    }
    #each-photos{
      padding: 15px;
      padding-top: 0px;
      padding-bottom: 0px;
      border-radius: 4px;
    }
    #menu-under-news{
      height: 50px;
      background-color: #fbfbfb;
    }
    #post-news{
      display: none;
      background-color: #00739D;
    }
    #left-main-menu, #left-main-menu-s{
      border-bottom: 1px solid #d7d7d7;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 30px;
      padding-right: 30px;
    }
    .sign-sp{
      color: rgb(215, 215, 215);
      height: 0px;
      padding-right: 10px;
      display: none;
    }
     .content-the-news:hover .sign-sp{
      display: block;
     }
     .the-comment:hover .sign-sp{
      display: block;
     }
    .close-news{
      text-align: right;
    }
    .glyphicon:hover{
      color: #5a6770;
      cursor: pointer;
    }
    .wrap-avatar-news{
      text-align: center;
      width: 50px;
    }
    .news-username{
      font-size: 15px;
    }
    .title-background{
      background-color: #EAEFF0;
      padding-bottom: 10px;
    }
    #wrap-send-button{
      margin-top: 3px;
      text-align: left;
    }
    #form-send-news{
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 15px;
    }
    .element-menu-under-news{
      height: 50px;
      margin-left: 15px;
      vertical-align: middle;
      cursor: pointer;
      border-right: 1px solid #d7d7d7;
      &:hover{
        
      }
    }
