@font-face {
    font-family: "FontAwesome";
    src: url("fonts/fontawesome-webfont.eot");
    src: url("fonts/fontawesome-webfont.eot?#iefix") format("eot"), 
    	 url("fonts/fontawesome-webfont.woff") format("woff"), 
    	 url("fonts/fontawesome-webfont.ttf") format("truetype"), 
    	 url("fonts/fontawesome-webfont.svg#FontAwesome") format("svg");
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
}

.jp-title {
    font-size: 12px;
    text-align: center;
    color: #383838;
    position: relative;
    right: 61px;
    top: 14px;
    height: 0px;
}

.jp-title ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.jp-gui {
	position: relative;
    background-color: transparent;
    border-radius: 2px;
	overflow: hidden;
	margin-top: 10px;
}

.jp-audio {
    width: 100%;
    margin: 10px auto;
    margin-bottom: 15px; 
}

.jp-controls {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "FontAwesome";
    outline: none !important;
}

.jp-controls li {
    display: inline;
}

.jp-controls a {
    color: #3680be;
    outline: none !important;
}

.jp-play {
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 27px;
    border: 2px solid #3680be;
    color: #3680be !important;
    border-radius: 2px;
}
.jp-pause{
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 27px;
    border: 2px solid #3680be;
    color: white !important;
    background-color: #3680be;
    border-radius: 2px;
}

.jp-mute,.jp-unmute {
    position: absolute;
    right: 55px;
    top: 0;
    width: 20px;
    height: 30px;
    display: none !important;
    line-height: 46px;
}

.jp-mute {
    text-align: left;
}

.jp-volume-bar {
    position: absolute;
    right: 10px;
    top: 25px;
    width: 50px;
    height: 5px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1) inset;
    background-color: #B9CCDB;
    overflow: hidden;
}

.jp-volume-bar-value {
    background-color: #3680be;
    height: 5px;
    border-radius: 2px;
}

.jp-progress {
    background-color: #B9CCDB;
    border-radius: 2px;
    overflow: hidden;
    position: absolute;
    right: 67px;
    top: 25px;
    width: 207px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2) inset;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2) inset;
}

.jp-play-bar {
    height: 5px;
    background-color: #3680be;
    border-radius: 2px;
}

.jp-time-holder {
    color: #3680be;
    font-size: 11px;
    line-height: 23px;
    position: absolute;
    right: 67px;
    top: 1px;
}