.edit-classroom{
	padding: 20px;
}
.title-without-border{
	border: none !important;
}
.input-edit-classroom-name{
	font-size: 20px !important;
	height: 100% !important;
}
.input-edit-classroom-school{
	font-size: 16px !important;
	height: 100% !important;
}
.edit-classroom-footer{
	padding: 20px;
  text-align: right;
}