.edit-community{
	padding: 20px;
}
.edit-community > div{
	margin-top: 20px
}
.title-without-border{
	border: none !important;
}
.input-edit-community-name{
	font-size: 20px !important;
	height: 100% !important;
}
.input-edit-community-school{
	font-size: 16px !important;
	height: 100% !important;
}
.edit-community-footer{
	padding: 20px;
  text-align: right;
}