.follower{
	padding: 10px 15px;
}
.follower:nth-child(2n){
	background-color: #F5F5F5;
}
.btn-reject-follow{
	background-color: transparent !important;
	color: #6B6B6B !important;
	border-color: #bfbfbf !important;
	font-size: 13px;
}
.follower-user{
	float: left;
  width: 80%;
}
.follower-button{
	float: right;
	text-align: center;
	img{
		width: 24px;
	}
}
.modal-dialog-follow-recommend .followers > div{
	margin-top: 20px;
}