
.hat-studpad{
  background: white;
  height: 48px;
  border-bottom: 1px solid rgb(226, 226, 226);
  width: 100%;
  z-index: 900;
  position: fixed;
  top: 0px;
  .contant-wrap{
    width: 90%;
    margin: auto;
    padding: 7px 1em;
    .logo{
      width: 10%;
      h1{
        color: #3680be;
        text-decoration: none;
        font-weight: bold;
        font-family: "Helvetica Neue","HelveticaNeue",Helvetica,"PT Sans";
        font-size: 22px;
        position: relative;
        bottom: 16px;
        right: 10px;
        float: right;
      }
    }
    .search{
      width: 60%;
      .input-group{
        input{
          background-color: #F3F3F3;
        }
        .choose-category:before{
          content: "\f00b"; 
          font-family: FontAwesome;
          color: #454545;
        }
      }
    }
    .profile{
      width: 30%;
      .menu-wrap{
        width: 100%;
        float: left;
        margin-left: 80px;
      }
      div{
        float: left;
        margin-right: 16px;
        cursor: pointer;
        .menu-icon{
          width: 24px;
          position: relative;
          top: 3px;
        }
        .profile-icon{
          width: 34px;
          border-radius: 200px;
          cursor: pointer;
        }
        .dropdown-menu{
          left: 80%;
          li{
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 5px;
            padding-right: 5px;
            cursor: pointer;
            border-radius: 2px;
            font-size: 13px;
            color: #516574;
            &:hover{
              background-color: #F5F5F5;
            }
            .divider{
              padding-top: 0px !important;
              padding-bottom: 0px !important;
            }
            img{
              width: 20px;
              position: relative;
              top: -2px;
            }
            .badge{
              background-color: transparent;
              color: #3680be;
            }
          }
        }
        .dropdown-menu > li > a{
          font-size: inherit !important;
          &:hover{
            background-color: #F5F5F5 !important;
          }
        }
        .dropdown-menu{
          width: 250px !important;
        }
      }
    }
  } 
  .contant-wrap > div{
    float: left;
  }
}
.main-categories{
  width: 400px !important;
  top: 40px !important;
  background-color: rgba(255, 255, 255, 1) !important;
  cursor: pointer;
  .pole{
    float: left;
    width: 190px;
    padding: 15px 35px !important;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    p{
      color: #626262;
      &:hover{
        color: #3680be;
      }
    }
  }
}

.amount-menu-icon{
  float: left;
  position: relative;
  width: 18px;
  border-radius: 2px;
  font-size: 10px;
  background-color: #3680be;
  color: white;
  text-align: center;
  /*border: 1px solid white;*/
}
.amount-of-notices{
  /*background-color: #1FB6B5;*/
  background-color: rgba(54, 128, 190, 0.8);
  top: 15px;
  left: -27px;
}

.entire-on-hat{
  button, a{
    font-size: 11px !important;
    padding: 3px 6px;
    img{
      width: 18px;
    }
  }
  .link-to-reg-vk{
      margin-left: 0px;
      background: #2c70b4 !important;
      border: 1px solid #2c70b4 !important;
    }
}

@media screen and (max-width: 735px) {
  .hat-studpad{
    .contant-wrap{
      .logo{
        display: none;
      }
      .search{
        width: 50%;
      }
      .profile{
        width: 50%;
        .menu-wrap{
          margin-left: 50px;
          .is-hidden-if-sm-screen{
            display: none;
          }
        }
        div{
          .dropdown-menu{
            left: 62%; 
          }
        }
      }
    }
  }
  .amount-of-notices{
    top: 14px;
    left: -26px;
  }
}

.autocomplete-suggestions strong{
  color: #23527c !important;
}
.autocomplete-suggestions{
  padding: 5px 5px !important;
  border: 1px solid #CCC !important;
  border-radius: 2px !important;
  cursor: pointer !important;
}
.autocomplete-suggestion{
  border-radius: 2px !important;
  padding: 2px 5px !important;
}
