.wrap-autor-material{
	height: 57px;
	position: relative;
	bottom: 45px;
}
.autor-material{
	background-color: rgba(0, 0, 0, 0.4);
	height: 45px;
	padding-left: 48px;
  padding-top: 9px;
  display: none;
}
.autor-material > div > div > div > .preview-object-info-mini > .object-name > a{
	color: white;
	&:hover{
		color: rgb(158, 189, 208);
	}
}
.autor-material > div > div > div > .preview-object-info-mini > .object-text{
	color: #D4E8F2;
}
.useful-material_info{
  min-height: 149px;
  padding-left: 35px;
  cursor: pointer;
  position: relative;
  bottom: 30px;
  &:hover{
    background-color: #FBFBFA;
  }
}
.useful-material_info:hover .sign-sp{
  display: block;
 }