#page_user{
 background-color: rgba(245, 248, 250, 1);
}
.profile-background{
 height: 360px;
 width: 100%;
}
.profile-avatar{
 position: absolute;
 top: 220px;
 left: 50%;
 min-height: 600px;
 width: 250px;
 margin-left: -552px;
}
.current-edit-profile-avatar_img{
 height: 166px;
 width: 100%;
 margin-bottom: 8px;
 border-radius: 2px;
}
.profile-avatar_img{
 height: 220px;
 width: 220px;
 border-radius: 5px;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 -o-border-radius: 5px;
 border: 4px solid white;
 background-color: #D8EAF3 !important;
}
.profile-info{
 padding: 0px;
 width: 220px;
 margin-top: 10px;
}
.profile-info_name{
  font-size: 26px;
}
.profile-info_name > img{
  margin-bottom: 5px;
}
.profile-info_school{
 margin-top: 15px;
 font-size: 14px;
}
.profile-info_start{
 margin-top: 15px;
 font-size: 14px;
 color: rgba(0, 0, 0, 0.6);
}
.content-info-user{
 color: black;
 font-size: 16px;
 margin-top: 7px;
}
.profile-sidebar{
 height: 48px;
 border-bottom :1px solid rgb(226, 226, 226);
 background-color: white;
 text-align: center;
}
.profile-main-wall{
  width: 620px;
  position: absolute;
  left: 50%;
  margin: 0px 0px 20px -300px;
}
.counsel-text{
	margin-top: 20px;
	margin-bottom: 30px;
}
.dropdown > ul{
	background-color: white;
}
.dropdown > ul > li > span{
	color: #383838;
	display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  white-space: nowrap;
  cursor: pointer;
  &:hover{
  	background-color: #3680be;
  	color: white;
  }
}
#settigns-profile{
	cursor: pointer;
}
.panel{
	border-radius: 2px !important;
	box-shadow: none !important;
}
.panel-default{
	border-color: #e2e2e2 !important;
}
.panel-default > .panel-heading{
	background-color: transparent !important;
	color: #383838 !important;
}
#create-class, #create-community{
	font-size: 13px;
}
.panel-default > .panel-heading > .panel-title{
	color: #516574;
}
.classes-and-communities{
	width: 220px;
	padding-top: 7px;
	box-shadow: none !important;
  background-color: transparent !important;
  border-top: 1px solid rgb(226, 226, 226);
}
.classes-and-communities > div{
	padding-left: 0px !important;
}
.type-of-community{
	height: 190px;
	cursor: pointer;
	font-size: 30px !important;
	color: #a6a6a6;
	&:hover{
		color: #3680be;
  	background-color: #f7f7f7;
	}
}
.active-type-of-community{
	color: #3680be;
  background-color: #f7f7f7;
}
.text-type-community{
	  display: inline-block;
  	vertical-align: middle;
}
.width500{
	width: 500px !important;
}
.position-profile-sidebar{
	position: relative;
	left: 50%;
	width: 360px;
	margin-left: -299px;
	height: 47px;
}
.position-profile-sidebar > .element-of-profile-sidebar{
	width: 120px;
	height: inherit;
	padding-top: 2px;
	cursor: pointer;
	border-bottom: none;
	color: #566A78;
  transition: all .15s ease-in-out;
	&:hover{
		border-bottom: 3px solid #3680BE;
	}
}
.position-profile-sidebar > .element-of-profile-sidebar > div > span{
	color: #3680be;
	font-size: 15px;
	font-weight: bold;
}
.edit-profile{
	padding: 20px;
}
.field-edit-avatar{
	padding-left: 46px !important;
}
.title-without-border{
	border: none !important;
}
.input-edit-profile-name{
	font-size: 20px !important;
	height: 100% !important;
}
.input-edit-profile-school{
	font-size: 16px !important;
	height: 100% !important;
}
.edit-profile-footer{
	padding: 20px;
  text-align: right;
}
.jcrop-keymgr{
  display: none !important;
}
.change-password{
	margin-left: 20px;
}