#page_user{
 background-color: rgba(245, 248, 250, 1);
}
.profile-background{
 height: 360px;
 width: 100%;
}
.profile-avatar{
 position: absolute;
 top: 220px;
 left: 50%;
 min-height: 600px;
 width: 250px;
 margin-left: -550px;
}
.profile-avatar_img{
 height: 220px;
 width: 220px;
 border-radius: 5px;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 -o-border-radius: 5px;
 border: 4px solid white;
}
.profile-info{
 padding: 10px 15px 10px 0px;
}
.profile-info_name{
  font-size: 26px;
}
.profile-info_school{
 margin-top: 15px;
 font-size: 14px;
}
.profile-info_statistic{
	margin-top: 15px;
	font-size: 14px;
}
.profile-info_statistic > p > span{
	color: #3680be;
	font-size: 15px;
	font-weight: bold;
}
.profile-info_start{
 margin-top: 5px;
 font-size: 14px;
 color: rgba(0, 0, 0, 0.6);
}
.content-info-user{
 color: black;
 font-size: 16px;
 margin-top: 7px;
}
.profile-sidebar{
 height: 48px;
 border-top: 1px solid rgb(226, 226, 226);
 border-bottom :1px solid rgb(226, 226, 226);
 background-color: white;
}
.profile-sidebar_position{
 position: absolute;
 left: 50%;
 top: 360px;
 margin-left: -290px;
}
.profile-main-wall{
  width: 650px;
  position: absolute;
  left: 50%;
  margin: 0px 0px 20px -300px;
}