#page_user{
 background-color: rgba(245, 248, 250, 1);
}
/*.profile-background{
 height: 360px;
 width: 100%;
}*/
.profile-avatar{
 position: absolute;
 top: 50px;
 left: 50%;
 min-height: 600px;
 width: 250px;
 margin-left: -552px;
}
.edit-community-avatar > .current-edit-profile-avatar_img{
}
.current-edit-profile-avatar_img{
 width: 100%;
 height: 196px;
 border-radius: 3px;
 margin-bottom: 8px;
 border-radius: 3px;
}
.edit-profile-avatar{
	font-size: 13px;
}
.change-password > a{
	font-size: 13px;
}
.profile-avatar_img{
 height: 220px;
 width: 220px;
 border-radius: 3px;
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 -o-border-radius: 3px;
 margin-top: 15px;
 border: 4px solid white;
}
.panel-user{
 padding: 0px;
 width: 100%;
 background-color: white;
 border-radius: 3px;
}
.profile-info{
	border-bottom: 1px solid #DAE1E8;
	padding: 15px;
}
.profile-info_name{
  font-size: 16px;
  padding-bottom: 0;
  text-align: left;
  font-weight: bold;
}
.profile-info_status{
	color: #AAABAC;
	font-weight: normal;
	font-size: 14px;
}
.profile-info_name > img{
  margin-bottom: 5px;
}
.profile-info_school{
 margin-top: 15px;
 font-size: 14px;
}
.profile-info_start{
 margin-top: 15px;
 font-size: 14px;
 color: rgba(0, 0, 0, 0.6);
}
.content-info-user{
 color: black;
 font-size: 16px;
 margin-top: 7px;
}
.profile-sidebar{
 height: 48px;
 border-bottom :1px solid rgb(226, 226, 226);
 background-color: white;
 text-align: center;
}
.profile-main-wall{
  width: 620px;
  position: absolute;
  left: 50%;
  margin: 0px 0px 20px -300px;
}
.counsel-text{
	margin-top: 20px;
	margin-bottom: 30px;
}
.dropdown > ul{
	background-color: white;
}
.dropdown > ul > li > span{
	color: #383838;
	display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  white-space: nowrap;
  cursor: pointer;
  &:hover{
  	background-color: #3680be;
  	color: white;
  }
}
#settigns-profile{
	cursor: pointer;
}
.panel{
	border-radius: 2px !important;
	box-shadow: none !important;
}
.panel-default{
	border-color: #e2e2e2 !important;
}
.panel-default > .panel-heading{
	background-color: transparent !important;
	color: #383838 !important;
}
#create-class, #create-community{
	font-size: 13px;
	margin-top: 4px;
	margin-bottom: 8px;
	
}
.panel-default > .panel-heading > .panel-title{
	color: #516574;
}
.classes-and-communities{
	width: 220px;
	margin-top: 15px;
	/*padding-top: 7px;
	box-shadow: none !important;
  background-color: transparent !important;
  border-top: 1px solid rgb(226, 226, 226);*/
}
.type-of-community{
	height: 190px;
	cursor: pointer;
	font-size: 30px !important;
	color: #a6a6a6;
	&:hover{
		color: #3680be;
  	background-color: #f7f7f7;
	}
}
.active-type-of-community{
	color: #3680be;
  background-color: #f7f7f7;
}
.text-type-community{
	  display: inline-block;
  	vertical-align: middle;
}
.width500{
	width: 500px !important;
}
.position-profile-sidebar{
	position: relative;
	left: 50%;
	width: 360px;
	margin-left: -299px;
	height: 47px;
}
.position-profile-sidebar > .element-of-profile-sidebar{
	width: 120px;
	height: inherit;
	padding-top: 2px;
	cursor: pointer;
	border-bottom: none;
	color: #566A78;
  transition: all .15s ease-in-out;
	&:hover{
		border-bottom: 3px solid #3680BE;
	}
}
.position-profile-sidebar > .element-of-profile-sidebar > div > span{
	color: #3680be;
	font-size: 15px;
	font-weight: bold;
}
.edit-profile{
	padding-right: 15px;
	padding-bottom: 10px;
}
.field-edit-avatar{
	padding-left: 46px !important;
}
.title-without-border{
	border: none !important;
}
.input-edit-profile-name{
	font-size: 20px !important;
	height: 100% !important;

}
.input-edit-profile-school{
	font-size: 16px !important;
	height: 100% !important;
}
.edit-profile-footer{
	padding: 20px;
  text-align: right;
}
.jcrop-keymgr{
  display: none !important;
}
.profile-class{
	cursor: pointer;
}
.profile-menu{
	/*margin-top: 5px;*/
	margin-left: 4px;
}
.profile-menu>div{
	float: left;
	margin-right: 6px;
}
.profile-menu-icons > img{
	width: 20px;
}
.switcher{
	cursor: pointer;
	float: right;
}
.join-to-class{
	padding-bottom: 5px;
}
.reg-licence{
	margin-bottom: 15px;
}
.p_profile-setting:before{
	content: "\f00a";
	font-family: FontAwesome;
}
.choose-category-specialization:last-child{
	margin-top: 15px;
}
.edit-choose-category-specialization{
	margin-top: 10px;
	margin-bottom: 5px;
	p{
		font-size: 12px;
	}
}
.profile-followers{
	height: 45px;
	margin-top: 14px;
}
.element-profile-read{
	float: left;
	width: 22%;
	height: 47px;
}
.element-profile-followers{
	float: left;
	width: 22%;
	height: 47px;
	color: #3680be;
	font-size: 16px;
	font-weight: bold;
  text-align: left;
  cursor: pointer;
  transition: all .15s linear;
  &:hover{
  	border-bottom: 2px solid #3680BE;
  }
	p{
		margin: 0 0 0px;
		font-size: 12px;
  	color: #516574;
  	font-weight: normal;
	}
}
.profile-preview-object-info{
	float: left;
}
.sign-dots-profile-menu{
	position: relative;
  bottom: 3px;
  left: 4px;
}