<div class = 'row'>
  <div class = 'col-lg-12 col-md-12 col-xs-12'>
    <div class = 'card-sp'>
      <div class = 'this-useful-material_all'>
        <div class = 'container-fluid'>
          <div class = 'row'>
            <div class = 'col-lg-8 col-md-8 col-xs-8 message-this-post'>
              <div class = 'row'>
                <div class = 'col-xs-2 wrap-avatar-news' style = 'text-align: right;'>
                  <img src = 'https://pp.vk.me/c619119/v619119124/20d41/n51h6svfjtM.jpg' width = '44' height = '44' class = 'img-avatar'/>
                </div>
                <div class = 'col-xs-10'>
                  <div class = 'news-username'>
                    Никитин Максим Вадимович
                  </div>
                  <div class = 'main-text-news'>
                    <span class = 'span-main-text-news'>Я просто вчера сильно расстроился, купив Coda 2 и найдя, что он вроде с одной стороны и приятный, а с другой стороны какой-то тугой и (лично для меня) не удобный именно базовым фунционалом.</span>
                  </div>
                  <div class = 'menu-of-form-send-comment-of-news'>
                    <span class = 'date-news'>5 апреля 2014</span>
                  </div>
                </div>
              </div>
            </div>
            <div class = 'col-lg-4 col-md-4 col-xs-4 files-this-post'>
              <div class = 'this-material'>
                <div class = 'files-image type-image'>
                </div>
                <div class = 'name-files'>
                  <a>Название фото.jpg</a>
                </div>
              </div>
              <div class = 'this-material'>
                <div class = 'files-image type-video'>
                </div>
                <div class = 'name-files'>
                  <a>Название видео.jpg</a>
                </div>
              </div>
              <div class = 'this-material'>
                <div class = 'files-image type-document'>
                </div>
                <div class = 'name-files'>
                  <a>НазваниеНазвание документа.jpgНазвание документа.jpg документа.jpg</a>
                </div>
              </div>
              
              <div class = 'this-material'>
                <div class = 'files-image type-link'>
                </div>
                <div class = 'name-files'>
                  <a>Название ссылки.jpg</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class = 'this-useful-material_all'>
        <div class = 'container-fluid'>
          <div class = 'row'>
            <div class = 'col-lg-8 col-md-8 col-xs-8 message-this-post'>
              <div class = 'row'>
                <div class = 'col-xs-2 wrap-avatar-news' style = 'text-align: right;'>
                  <img src = 'https://pp.vk.me/c619119/v619119124/20d41/n51h6svfjtM.jpg' width = '44' height = '44' class = 'img-avatar'/>
                </div>
                <div class = 'col-xs-10'>
                  <div class = 'news-username'>
                    Никитин Максим Вадимович
                  </div>
                  <div class = 'main-text-news'>
                    <span class = 'span-main-text-news'>Я просто вчера сильно расстроился, купив Coda 2 и найдя, что он вроде с одной стороны и приятный, а с другой стороны какой-то тугой и (лично для меня) не удобный именно базовым фунционалом.</span>
                  </div>
                  <div class = 'menu-of-form-send-comment-of-news'>
                    <span class = 'date-news'>5 апреля 2014</span>
                  </div>
                </div>
              </div>
            </div>
            <div class = 'col-lg-4 col-md-4 col-xs-4 files-this-post'>
              <div class = 'this-material'>
                <div class = 'files-image type-image'>
                </div>
                <div class = 'name-files'>
                  <a>Название фото.jpg</a>
                </div>
              </div>
              <div class = 'this-material'>
                <div class = 'files-image type-video'>
                </div>
                <div class = 'name-files'>
                  <a>Название видео.jpg</a>
                </div>
              </div>
              <div class = 'this-material'>
                <div class = 'files-image type-document'>
                </div>
                <div class = 'name-files'>
                  <a>НазваниеНазвание документа.jpgНазвание документа.jpg документа.jpg</a>
                </div>
              </div>
              
              <div class = 'this-material'>
                <div class = 'files-image type-link'>
                </div>
                <div class = 'name-files'>
                  <a>Название ссылки.jpg</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
