<div class = 'row'>
  
  <div class = 'col-xs-11'>
          <div class = 'title-page'>
            Полезные материалы
          </div>
          <div class = 'card-sp sharp-wrap useful-material_post'>
            <div class = 'useful-material_img'>
              <img src = 'http://themes.startbootstrap.com/spectrum-v1.2.0/assets/img/demo-portfolio/9.jpg' width = '100%'/>
            </div>
            <div class = 'useful-material_info'>
              <div class = 'container-fluid'>
                <div class = 'row'>
                  <div class = 'col-xs-6'>
                    <div class = 'margin-b40'>
                        <span class = 'tag tag-technical'>Физика</span>
                    </div>
                  </div>
                  <div class = 'col-xs-6'>
                    <div class = 'margin-b40 align-r'>
                      <div class="sign-sp close-news">
                        <span class="glyphicon glyphicon-pencil pencil-news"></span>
                        &nbsp;&nbsp;
                        <a rel="nofollow" data-method="delete" href="/news/9">
                          <span class="glyphicon glyphicon-remove"></span>
                        </a>          
                      </div>
                    </div>
                  </div>
                </div>
                <div class = 'row'>
                  <div class = 'col-lg-6 col-md-6 col-xs-6'>
                    <div class = 'margin-b40'>
                      <span class = 'title-underline'>
                        Описание
                      </span>
                    </div>
                    <div class = 'main-text-news'>
                      <span class = 'span-main-text-news'>В HTML5 было добавлено много нового, поэтому некоторые возможности, которые были доступны в HTML4 только с использованием внешних плагинов (таких как Adobe Flash) или клиентских скриптов теперь доступны с помощью обычных разметочных тэгов.</span>
                    </div>
                  </div>
                  <div class = 'col-lg-6 col-md-6 col-xs-6'>
                     <div class = 'margin-b40'>
                      <span class = 'title-underline'>
                        Файлы
                      </span>
                    </div>
                    <div class = 'wrap-photos margin-b20'>
                      <div class = 'row'>
                        <div class = 'col-xs-6 set-of-photos4' style = 'background: url(https://pp.vk.me/c7009/v7009943/80b5/n8tR2ZrHqdw.jpg); background-size: cover;'>
                        </div>
                        <div class = 'col-xs-6 set-of-photos4' style = 'background: url(https://pp.vk.me/c7009/v7009943/89a2/cXXsW3T7bpo.jpg); background-size: cover;'>
                        </div>
                      </div>
                      <div class = 'row'>
                        <div class = 'col-xs-6 set-of-photos4' style = 'background: url(https://pp.vk.me/c7009/v7009943/858f/OQiQ3Dpa7dg.jpg); background-size: cover;'>
                        </div>
                        <div class = 'col-xs-6 set-of-photos4' style = 'background: url(https://pp.vk.me/c621926/v621926943/2e4fc/TpKPrzwhBco.jpg); background-size: cover;'>
                        </div>
                      </div>
                    </div>

                    <div class = 'this-material'>
                      <div class = 'files-image type-document'>
                      </div>
                      <div class = 'name-files'>
                        <a>Название Название документа.jpg Название документа.jpg документа.jpg</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class = 'row'>
                  <div class = 'col-lg-12 col-md-12 col-xs-12'>
                    <div class = 'card-date'>
                          <span class = 'date-news'>5 апреля 2014 • <span>Никитина Елена Сергеевна</span></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class = 'card-sp sharp-wrap useful-material_post'>
           
            <div class = 'useful-material_info'>
              <div class = 'container-fluid'>
                <div class = 'row'>
                  <div class = 'col-xs-6'>
                    <div class = 'margin-b40'>
                        <span class = 'tag tag-humane'>Русский язык</span>
                    </div>
                  </div>
                  <div class = 'col-xs-6'>
                    <div class = 'margin-b40 align-r'>
                      <div class="sign-sp close-news">
                        <span class="glyphicon glyphicon-pencil pencil-news"></span>
                        &nbsp;&nbsp;
                        <a rel="nofollow" data-method="delete" href="/news/9">
                          <span class="glyphicon glyphicon-remove"></span>
                        </a>          
                      </div>
                    </div>
                  </div>
                </div>
                <div class = 'row'>
                  <div class = 'col-lg-6 col-md-6 col-xs-6'>
                    <div class = 'margin-b40'>
                      <span class = 'title-underline'>
                        Описание
                      </span>
                    </div>
                    <div class = 'main-text-news'>
                      <span class = 'span-main-text-news'>В HTML5 было добавлено много нового, поэтому некоторые возможности, которые были доступны в HTML4 только с использованием внешних плагинов (таких как Adobe Flash) или клиентских скриптов теперь доступны с помощью обычных разметочных тэгов.</span>
                    </div>
                  </div>
                  <div class = 'col-lg-6 col-md-6 col-xs-6'>
                     <div class = 'margin-b40'>
                      <span class = 'title-underline'>
                        Файлы
                      </span>
                    </div>
                    <div class = 'wrap-photos margin-b20'>
                      <div class = 'row'>
                        <div class = 'col-xs-6 set-of-photos4' style = 'background: url(https://pp.vk.me/c7009/v7009943/80b5/n8tR2ZrHqdw.jpg); background-size: cover;'>
                        </div>
                        <div class = 'col-xs-6 set-of-photos4' style = 'background: url(https://pp.vk.me/c7009/v7009943/89a2/cXXsW3T7bpo.jpg); background-size: cover;'>
                        </div>
                      </div>
                      <div class = 'row'>
                        <div class = 'col-xs-6 set-of-photos4' style = 'background: url(https://pp.vk.me/c7009/v7009943/858f/OQiQ3Dpa7dg.jpg); background-size: cover;'>
                        </div>
                        <div class = 'col-xs-6 set-of-photos4' style = 'background: url(https://pp.vk.me/c621926/v621926943/2e4fc/TpKPrzwhBco.jpg); background-size: cover;'>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class = 'row'>
                  <div class = 'col-lg-12 col-md-12 col-xs-12'>
                    <div class = 'card-date'>
                          <span class = 'date-news'>5 апреля 2014 • <span>Никитина Елена Сергеевна</span></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class = 'card-sp sharp-wrap useful-material_post'>
            <div class = 'useful-material_img'>
              <img src = 'https://cs7055.vk.me/c540102/v540102299/38e4c/5QeHY43Gg-I.jpg' width = '100%'/>
            </div>
            <div class = 'useful-material_info'>
              <div class = 'container-fluid'>
                <div class = 'row'>
                  <div class = 'col-xs-6'>
                    <div class = 'margin-b40'>
                        <span class = 'tag tag-natural'>Биология</span>
                    </div>
                  </div>
                  <div class = 'col-xs-6'>
                    <div class = 'margin-b40 align-r'>
                      <div class="sign-sp close-news">
                        <span class="glyphicon glyphicon-pencil pencil-news"></span>
                        &nbsp;&nbsp;
                        <a rel="nofollow" data-method="delete" href="/news/9">
                          <span class="glyphicon glyphicon-remove"></span>
                        </a>          
                      </div>
                    </div>
                  </div>
                </div>
                <div class = 'row'>
                  <div class = 'col-lg-6 col-md-6 col-xs-6'>
                    <div class = 'margin-b40'>
                      <span class = 'title-underline'>
                        Описание
                      </span>
                    </div>
                    <div class = 'main-text-news'>
                      <span class = 'span-main-text-news'>В HTML5 было добавлено много нового, поэтому некоторые возможности, которые были доступны в HTML4 только с использованием внешних плагинов (таких как Adobe Flash) или клиентских скриптов теперь доступны с помощью обычных разметочных тэгов.</span>
                    </div>
                  </div>
                  <div class = 'col-lg-6 col-md-6 col-xs-6'>
                     <div class = 'margin-b40'>
                      <span class = 'title-underline'>
                        Файлы
                      </span>
                    </div>
                    <div class = 'this-material'>
                      <div class = 'files-image type-document'>
                      </div>
                      <div class = 'name-files'>
                        <a>Название Название документа.jpg Название документа.jpg документа.jpg</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class = 'row'>
                  <div class = 'col-lg-12 col-md-12 col-xs-12'>
                    <div class = 'card-date'>
                          <span class = 'date-news'>5 апреля 2014 • <span>Никитина Елена Сергеевна</span></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  </div>
  <div class = 'right-button-action'>
    <div class = 'element-of-squares-menu' data-toggle="modal" data-target="#myModal">
      <div class = 'img-element-of-squares-menu'>
        <%= image_tag "plus.png", size: "50x50" %>
      </div>
      <div class = 'title-element-of-squares-menu'>
        Добавить
      </div>
    </div>
  </div>
</div>

  
                    
                    