<div class="this-material">
  <div class="files-image type-document">
  </div>
  <div class="name-files">
    <%= link_to truncate(file.file.file.filename, length: 30), file.file.url %>
  </div>
</div>
