<div class="this-material this-material-preview show-X">
  <div class = 'del-this-file'>
    <a class = 'X18' attachment = '<%= file.id%>'>×</a>
  </div>
  <div class="files-image type-document">
  </div>
  <div class="name-files">
    <%= link_to truncate(file.file.file.filename, length: 20), file.file.url %>
  </div>
</div>
