<div class = 'col-xs-6 set-of-photos4 show-X'
style = 'background: url(<%= image.file.url%>); background-size: cover;'>
  <div class = 'del-this-file'>
    <a class = 'X18' attachment = '<%= image.id%>'>×</a>
  </div>
</div>
