<div class = 'right-button-action'>
  <div id = 'create_material' data-toggle="modal" data-target="#modal_window">
    <div class = 'img-right-button-action'>
      <%= image_tag "feather_orange.png", size: "50x50" %>
    </div>
    <div class = 'title-right-button-action'>
      Добавить
    </div>
  </div>
</div>