<%
def classroom_id
    params[:classroom_id] || params[:id]
end
%>

<div class ='container' id = 'main-container'>
  <div class = 'row'>
    <%= render "partials/right_part_page" %>
    <div class = 'col-lg-7 col-md-8 col-xs-9' id = 'central-part'>
    	<div class = 'row'>
	      <div class = 'col-lg-12 col-md-12 col-xs-12'>
	        <div class = 'title-sp' id = 'class-name-school'>
	          Полезные материалы
	        </div>
	      </div>
	    </div>
      <%= render "each_materials" %>
    </div>

    
  </div>
</div>
