<div class = 'card-sp first-left-block'>
  <div class = 'left-block-founder'>
    <div class="feed-profile-background">
     <div class="feed-profile-avatar" style="background: url(https://cs7054.vk.me/c540102/v540102773/2ce4e/X5KmNKz7qJk.jpg) no-repeat; background-size: cover;">
      </div>
      <div class="feed-profile-name-email">

        <div class="feed-profile-name"><%= @community.founder.name %></div>
        <div class="feed-profile-email">Основатель</div>
      </div>
    </div>
  </div>
  <div class = 'left-block-welcome'>
    
    
  </div>
</div>
