<div class = 'card-sp first-left-block'>
  <div class = 'left-block-name'>
    <%= link_to 'Уведомления', community_notices_path(@community) %>
  </div>
  <div class = 'left-block-notice'>
    <% @notices.each do |n| %>
      <div class = 'profile-notice-mini'>
        <div class="profile-notice-background-mini">
          <div class = "profile-notice-avatar-mini" style="background: url(
          <%= n.user.avatar_safe_url%>
          ) no-repeat; background-size: cover;">
          </div>
          <div class="profile-notice-name-text-mini">
            <div class="profile-notice-text">
              <%= link_to n.user.name, user_path(n.user) %>
              <%= n.mode_rus %>
           </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
