<div class = 'card-sp first-left-block'>
  <div class = 'block-title'>
    <%= link_to 'Уведомления', community_notices_path(@community) %>
  </div>
  <div class = 'block-objects'>
    <% @notices.each do |n| %>
      <div class = 'preview-object'>
          <div class = "preview-object-avatar-mini" style="background: url(
          <%= n.user.avatar.thumb %>
          ) no-repeat; background-size: cover;">
          </div>
          <div class="preview-object-info-mini">
            <div class = 'object-text'>
              <%= link_to n.user.name, user_path(n.user) %>
              <%= n.mode_rus %>
             </div>
          </div>
      </div>
      <div class = 'clearboth'>
      </div>
    <% end %>
  </div>
</div>
