<div class ='container' id = 'main-container'>
    <%= render "left_branch" %>
    <%= render "/partials/profile" %>
    <div class = 'main-wall' id = 'central-part'>
      <div class = 'submenu'>
          <%= render "menu" %>
      </div>
      <div class = 'row'>
        <div class = 'col-xs-12'>
          <div class = 'card-sp sharp-wrap'>
            <div class="title-background-border title-without-border">
              <div class="title-page">
                Настройки Вашего сообщества
              </div>
            </div>
            <div class = 'row'>
              <div class = 'col-xs-12 field-edit-data'>
                <div class = 'edit-community'>
                  <input class = 'form-control input-sp input-edit-community-name' placeholder = 'Название сообщества' />
                  <div>
                    <span class = "title-underline">
                          Выберите тип Вашего сообщества
                    </span>
                  </div>
                  <div class = 'row'>
                      <div class="wrap-radio align-c col-xs-2">
                        <input class = "input-radio-sp" type = "radio" name = "community-type" id = 'open'>
                        <label for = 'open'>Открытое</label>
                      </div>
                      <div class="wrap-radio align-c col-xs-2">
                        <input class = "input-radio-sp" type = "radio" name = "community-type" id = 'close'>
                        <label for = "close">Закрытое</label>
                      </div>
                  </div>
                </div>
                <!--<div class = 'edit-classroom edit-classroom-school'>
                  <input class = 'form-control input-sp input-edit-classroom-school' placeholder = 'Учебное заведение'/>
                </div>-->
                <div class="edit-community-footer">
                  <button type="button" class="btn btn-primary btn-st">Сохранить</button>
                </div>
              </div>
            </div>
        </div>
        </div>
      </div>
    </div>
</div>
