<div class ='container' id = 'main-container'>
  <%= render "/partials/left_branch" %>
  <div class = 'main-wall'>
    <div class = 'submenu'>
          <%= render "/partials/squares_menu_community" %>
    </div>
    <div class = 'title-background'>
      <div class = 'title-page'>
        Городская библиотека №1
      </div>
    </div> 
    <div class = 'row'>
      <div id = 'all_materials' class = 'col-xs-12'>


      </div>
    </div>
  </div>
    <%= render "/partials/modal_share" %>
    <%= render "/partials/view_material" %>
</div>