<!DOCTYPE html>
<html>
<head>
  <title>Studpad</title>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.2/css/select2.min.css" rel="stylesheet" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.2/js/select2.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id = 'hat-studpad'>
     <div id = 'hat-studpad-title'>Studpad</div>
     <div id = 'my-alert'></div>
  </div>

<%= yield %>

</body>
</html>
