<!DOCTYPE html>
<html>
<head>
  <title>Studpad</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.2/css/select2.min.css" rel="stylesheet" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.2/js/select2.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>

  <div id = 'hat-studpad'>
    <div class = 'container-fluid'>
      <div class = 'row'>
          <div class = 'col-lg-2 col-md-2 col-xs-2' id = 'hat-studpad-title'><a id = 'hat-main-studpad' href="/">Studpad</a></div>
          <div class = 'col-lg-2 col-md-2 col-xs-2 item-of-base-menu'>
            <span class="glyphicon glyphicon-user"></span> Мой профиль
          </div>
          <div class = 'col-lg-2 col-md-2 col-xs-2 item-of-base-menu'>
            <span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span> Мой класс
          </div>
         </div>
      </div>
    </div>
  </div>

<%= yield %>

</body>
</html>
